[2017-12-09 16:01] abishekvashok opened #3 "Add style checker"
Adding a style checker to check code  To keep the game easy to contribute in the future improving the code quality will be great, enabling a PR style checker like coala in Travis CI would be great.
Can we have something like that?

[2017-12-10 15:23] abishekvashok commented on #3
@meets2tarun @niccokunzmann @xeon-zolt pls check #4

[2017-12-10 15:44] #3 closed

[2017-12-10 15:52] abishekvashok opened #5 "Add build icon to readme"
Since, we got Travis CI up and running let's put the icon on the readme.md
Putting this forward for new developers.
As I don't have write access pls @xeon-zolt @meets2tarun @niccokunzmann tag this as a newcommer issue.

[2017-12-10 15:53] xeon-zolt commented on #3
https://travis-ci.org/fossasia/labyrinth/builds/314359991#L1372

[2017-12-10 16:09] abishekvashok opened #6 "Fix code lint erros to increase code quality"
Increase code quality by fixing the following lint errors:
- [x] >index.html
|  1| <!doctype·html>
|    | [MAJOR] HTMLLintBear:
|    | Document Type: Use HTML5: Change "<!doctype html>" to "`<!DOCTYPE html>`".

- [x] >i|   2| ····<script··src="js/tiles.js"·type="text/javascript"></script>
|    | [MAJOR] HTMLLintBear:
|    | Extra whitespace: Use whitespaces only where expected and be consistent: R

[2017-12-10 16:11] abishekvashok commented on #3
That's because lint tests are failing as code is not properly lint @xeon-zolt the checker is working fine :)

[2017-12-11 11:35] duttaditya18 commented on #6
@abishekvashok Please tick the ones that have been completed.

[2017-12-12 18:09] duttaditya18 commented on #6
Tick 9 to 39 (#8 fixed them).

[2017-12-13 07:48] abishekvashok commented on #6
Done 👌👌 thank-you

[2017-12-13 09:43] duttaditya18 commented on #6
@abishekvashok Cool!

[2017-12-18 11:06] Aetheryx commented on #5
I can take care of this :)

[2017-12-19 05:28] #5 closed

[2017-12-19 07:44] abishekvashok commented on #6
It's not completely fixed @xeon-zolt

[2017-12-19 09:01] duttaditya18 commented on #6
@naveentherocker Please do not do `Fixes #issue no.` on PRs that do not fully fix the issue.

[2017-12-19 13:03] naveentherocker commented on #6
@duttaditya18 Oh sorry

[2017-12-19 13:42] naveentherocker opened #13 "No Documentation regarding Contributing"
It would be great if you could find Documentation regarding Contributing to the Repository. So that a Contributor who is willing to contribute, can get a clear idea of Contributing to the Project.

[2017-12-20 03:31] 0x48piraj opened #15 "Fix Lint errors and warning in index.html"
`index.html` throws many warnings.
Also, the code is bit messy.

### Minimal Inspector Output:

![image](https://user-images.githubusercontent.com/5800726/34189952-20f9d8ca-e564-11e7-9c9d-777cff329a16.png)

[2017-12-20 13:38] #13 closed

[2017-12-20 14:22] naveentherocker opened #18 "Unwanted Line Spacing among Lines"

[2017-12-20 15:30] #18 closed

[2017-12-20 16:27] myfrom commented on #6
I will take the missing/unnecessary semicolons and undefined 'door' variable.

Also a question: would using 'esversion: 6' be a valid solution here or should the code be changed to es5?

[2017-12-20 17:15] duttaditya18 commented on #6
@myfrom Just ignore the `esversion: 6` error. It is there because the JSLint setup config did not have the argument to use ECMAScript 6 (cost with functions were introduced in ES6).

Do not change the code to be ES5 compatible. It would mess some stuff up.

[2017-12-20 17:45] myfrom commented on #6
@duttaditya18 I can add that to the config, should I?

[2017-12-20 18:21] duttaditya18 commented on #6
@myfrom You can run the test again, but I'd recommend you to just ignore that error.

[2017-12-21 17:34] myfrom commented on #6
Since we don't even use [loading.js](js/loading.js) should it stay or can we remove it?

[2017-12-21 17:39] niccokunzmann commented on #6
Does it have code which should be used? If loading.js is not useful, we
can remove it.

On 12/21/2017 06:34 PM, Wiktor Olejniczak wrote:

[2017-12-21 17:42] myfrom commented on #6
The code it contains is a helper function around XMLHttpRequest, I searched
other files and the function isn't used anywhere. I'll remove that file.

On Thu, 21 Dec 2017, 18:39 Nicco Kunzmann, <notifications@github.com> wrote:

[2017-12-21 17:47] niccokunzmann commented on #6
Removal sounds good to me, too.

[2017-12-21 18:24] naveentherocker opened #19 "No Documentation regarding How to Contribute to Tiles"
No Any Documentation regarding how to contribute to Tiles. So a newcomer will definitely face many problems while Contributing.

[2017-12-21 18:44] niccokunzmann commented on #19
@naveentherocker Thanks for the PR. In order to close this issue, I would also suggest:
- [ ] describe which javascript files to edit and how
- [ ] add a tile and describe every step which is needed

[2017-12-22 06:16] awesometushar000 opened #21 "Readme has wrong gitter tag"
Gitter tag in the readme down below is not provided properly.

[2017-12-22 06:25] #21 closed

[2017-12-22 06:40] #15 closed

[2017-12-22 09:02] awesometushar000 opened #24 "Addition of mantainer list to documentation"
Adding the list of maintainers will help to tag them when one needs help.

[2017-12-22 11:06] 0x48piraj commented on #19
@niccokunzmann
I can help in describing which files to edit, but can you help me on the **how**

Is it that, I have to describe git commands on how to clone this repo and edit the files or something else ??

[2017-12-22 14:04] niccokunzmann commented on #19
@0x48piraj Git commands are also helpful, especially for the workflow of fork -> clone -> branch -> push -> pull-request

When editing files, I can help to describe which files:
1. The tile file needs to be added to the https://github.com/fossasia/labyrinth/tree/master/tiles/ directory.
2. Add a new type of tile in the tiles.js file. Best as a copy of an existing tile which describes the behavior.

[2017-12-23 13:24] niccokunzmann commented on #24
@awesometushar000 @0x48piraj Please cooperate on this one: You both like to change the same. This issue is for coordination. If you both solve the task together, you both have learned a new way of cooperation and I can approve a GCI task for both you (in case that hinders you from doing things together). Cooperation can look like this: You create a branch in one of your repositories, give the othe

[2017-12-23 13:44] 0x48piraj commented on #24
Wow! I'm currently doing this, giving write access to my `repo` and collaborating.
Thanks for your response @niccokunzmann
I'll talk to @awesometushar000 and will deliver great results :+1: :100:

[2017-12-23 20:39] niccokunzmann opened #30 "Add Automatic Code Quality check"
Some code metrics require code to be added, some code metrics want to remove the same code. [Source](https://github.com/fossasia/labyrinth/pull/29/files#diff-eacf331f0ffc35d4b482f1d15a887d3bL7).
Please add a code metric which runs automatically to this repository.

You can help by describing which one to use and how to add it.

[2017-12-24 08:40] #24 closed

[2017-12-24 08:49] niccokunzmann opened #31 "remove levels folder"
This folder is not needed any more and might confuse people.

[2017-12-24 08:55] niccokunzmann opened #32 "Add a goal tile"
Please add a tile which is different from the other tiles.
This tile is the goal tile.

1. Add a tile to the [rooms](https://github.com/fossasia/labyrinth/tree/master/tiles/rooms) as tiles/rooms/floor/goal.svg derived from tiles/rooms/floor/caro.svg which is recognizable as a goal
2. In the tiles.js file, the implementation should look something like this, if you can enter the room from all sides:

[2017-12-24 09:00] niccokunzmann opened #33 "Create a good starter labyrinth."
The starter labyrinth should be easy to solve and enjoyable.
Please create a labyrinth of size 10x10.
You can modify the https://github.com/fossasia/labyrinth/blob/master/js/levels.js#L14
file to include the labyrinth.

[2017-12-24 09:06] niccokunzmann opened #34 "Document how to play the game"
You need the arrow keys, up down right left to move in the labyrinth.
But no-one knows!
Please add it somewhere

- When the game starts (most important)
- In the README

[2017-12-24 09:34] abishekvashok commented on #32
Shouldn't the goal tile be visible?

[2017-12-24 11:52] niccokunzmann commented on #32
You can make it visible once the game starts, sure...

[2017-12-25 08:25] abishekvashok commented on #32
Suggested approach, the goal tile can be entered from any direction. But the doors will be opened if the tile before the goal tile permits it so, an implementation will be done player.js file which will determine if the goal tile is reached or not. But, what to do after reaching a tile, should we go for a new level, if so how?

[2017-12-25 09:44] #31 closed

[2017-12-25 09:56] niccokunzmann commented on #32
Hm. I think, an alert would be good just to let other people have a discussion and try it out. In the future, we can create another level but for that we should first have the tile.

I assume an implementation you have in mind but I do not know... You do not need to modify the player.js file because the player tells the tile when he enters, looks at it, ...
Whenever you do something like `if (obje

[2017-12-25 10:17] abishekvashok commented on #32
@niccokunzmann I am struggling designing the tile, my designs end up being ugly. I don't know if I could inkscape as I do photoshop. :(

[2017-12-25 10:57] niccokunzmann commented on #32
At the end it needs to be an image, svg is best. If you can design it with photoshop, you can do it. Maybe you want to include png, too. That is ok for me, too.

[2017-12-25 16:41] abishekvashok commented on #32
I will get some designs early tomorrow.

[2017-12-26 06:24] abishekvashok commented on #32
![image](https://user-images.githubusercontent.com/8947010/34348848-7bd920b0-ea33-11e7-87a6-873032263f65.png)

[2017-12-26 08:15] niccokunzmann commented on #32
Wow. wonderful :)

[2017-12-26 17:11] YashKumarVerma commented on #34
working on it

[2017-12-26 18:19] YashKumarVerma commented on #34
How's this
---
# How to play the awesome game ?
- [Open the game *click here*](http://rawgit.com/fossasia/labyrinth/master/index.html)
- You'll see the base room with doors on it's walls. Notice the `red and grey` tile.
- Notice that there are 3 doors/openings on 3 walls.

![http://lsppublicschool.org/yashkumarverma-host/vault/1.JPG](http://lsppublicschool.org/yashkumarverma-host/vault/1.JPG)

- N

[2017-12-26 19:17] niccokunzmann opened #38 "Activate github pages"
Please activate Github pages from the master branch. Then, we can play the game from https://fossasia.github.io/labyrinth

[2017-12-26 22:35] niccokunzmann commented on #34
@YashKumarVerma Cool, we should use that. Where would you like to add this? Would you like to add this as a separate html file which we can link to? e.g. with a "?" at the corner of the page?

[2017-12-27 04:54] naveentherocker opened #40 "Add Animated Tiles"
Try to Add many animated tiles. So that the Game will be better.

[2017-12-27 08:20] YashKumarVerma commented on #34
sure i can add the same as html too. This was only to ensure that it was suitable for the project.

So now as it appears that the content is fine, i can deploy it too 😄

[2017-12-27 09:49] abishekvashok commented on #32
Adding it

[2017-12-29 05:48] STEdirisuriya opened #42 "When I open labyrinth there are no things appears."
I am using UBUNTU and firefox browser.

![see222](https://user-images.githubusercontent.com/33794760/34430332-e44ef004-ec89-11e7-918f-f30a0f368fc0.png)
![see2222](https://user-images.githubusercontent.com/33794760/34430333-e5c4aa1e-ec89-11e7-9f07-c6027567b2cf.png)
![broke](https://user-images.githubusercontent.com/33794760/34431689-449c652e-ec97-11e7-9e98-435ffa3f52c2.png)

I am trying to fix.

[2017-12-29 05:57] YashKumarVerma opened #43 "Game broken."
The current deployment is not working.
![image](https://user-images.githubusercontent.com/14032427/34430440-3777f55e-ec8b-11e7-8ba8-163c26a3b936.png)

[2017-12-29 06:04] YashKumarVerma commented on #38
shall i work on it @mariobehling

[2017-12-29 07:21] STEdirisuriya commented on #43
See this - https://github.com/fossasia/labyrinth/issues/42
I said it. Please close this!

[2017-12-29 07:26] STEdirisuriya opened #44 "Add tiles."
I try to add more floors. And also walls and doors.

[2017-12-29 08:13] niccokunzmann commented on #43
Thanks for reporting! Let's discuss this in #42.

[2017-12-29 08:13] #43 closed

[2017-12-29 08:15] niccokunzmann opened #46 "Automatically Test Game"
Sometimes, the game does not load e.g. in #42.
It would be good to have a server e.g. travis-ci.org to test the game for

- [x] correctness of syntax
- [x] loading without errors
- [x] code styling
- [x] enable travis ci

This way, every new commit will be tested and we can find the error before we deploy the game.

[2017-12-29 08:17] niccokunzmann commented on #40
There is a CGI-Task to do this.
Would you like to define when this issue is completed?

[2017-12-29 08:19] abishekvashok commented on #46
@niccokunzmann  `code styling` is currently done by coala, should we move for another solution?

[2017-12-29 08:50] niccokunzmann commented on #38
@YashKumarVerma If you have Admin rights, you can do that.

[2017-12-29 08:52] niccokunzmann commented on #46
Sounds good. However, I do not see a coala-instance running on this projects. How can we activate coala for this project?

[2017-12-29 08:54] abishekvashok commented on #46
@niccokunzmann coala runs on travis ci  and is running in each travis ci build currently

[2017-12-29 09:00] niccokunzmann commented on #46
Travis is not activated.

[2017-12-29 09:16] #34 closed

[2017-12-29 09:16] #42 closed

[2017-12-29 09:17] abishekvashok commented on #46
@niccokunzmann just activate it, I added all related code in #4

[2017-12-29 09:19] niccokunzmann commented on #46
I can not I do not have admin rights. Who has them?

[2017-12-29 09:21] YashKumarVerma opened #49 "Game instructions not in readme"
Working on it 🔥

[2017-12-29 09:29] #49 closed

[2017-12-29 09:36] YashKumarVerma commented on #38
@niccokunzmann  I don't. So i can't 😢

[2017-12-29 09:41] naveentherocker commented on #40
I think it's better to keep this Issue open.

[2017-12-29 10:07] abishekvashok commented on #46
This one is for @mariobehling then @niccokunzmann

[2017-12-29 10:15] abishekvashok commented on #44
Please close this as it was solved

[2017-12-29 10:16] abishekvashok commented on #32
@niccokunzmann done in #51

[2017-12-29 10:20] abishekvashok commented on #33
@niccokunzmann doesn't that file determine the entire level? Right?

[2017-12-29 10:36] #32 closed

[2017-12-29 10:40] niccokunzmann opened #52 "Goal tile does not show walls"
When I press up up right right, I get to the goal.
The goal tile creates a message that I reached the goal

What I would like to see, too is:
1. The walls of the tile activated when I see them
2. The ground which I stand on

[2017-12-29 10:41] abishekvashok commented on #19
@niccokunzmann #53 as @naveentherocker was'nt working on it.

[2017-12-29 10:43] niccokunzmann commented on #33
Yes, the labyrinth can be much more complex than it is now.

[2017-12-29 11:04] abishekvashok commented on #33
[code]

[2017-12-29 11:32] #19 closed

[2017-12-29 11:36] niccokunzmann commented on #33
Maybe good. I do not know... You can try it out, create a pull request.

[2017-12-29 13:03] samyakbvs opened #55 "Readme.md"
How to add files is written two times

[2017-12-29 13:04] samyakbvs commented on #55
I am working on it

[2017-12-29 13:14] samyakbvs opened #56 "Title"
No title is added in the read me

[2017-12-29 13:14] samyakbvs commented on #56
workin on it

[2017-12-29 13:30] #56 closed

[2017-12-29 13:31] #55 closed

[2017-12-29 13:54] abishekvashok opened #58 "Add buttons to simulate arrow keys in mobile"
Let's make it playable at the mobile as well. Add buttons to simulate arrow keys in keyboard so that we can play it on mobile as well.

[2017-12-29 14:00] YashKumarVerma commented on #58
are u working on it @abishekvashok

[2017-12-29 14:06] niccokunzmann commented on #58
A hint: You can use the methods of the player canMoveLeft, ... https://github.com/fossasia/labyrinth/blob/master/js/player.js#L13 to show  the buttons which can be used and hide the others.

[2017-12-29 14:07] niccokunzmann commented on #58
@YashKumarVerma You can start and share the pull request with us. If people want to collaborate, they can do it, then.

[2017-12-29 14:09] abishekvashok commented on #58
@YashKumarVerma no, you can carry on with this. Also be sure to use the existing methods as @niccokunzmann pointed out.

[2017-12-29 14:10] abishekvashok commented on #52
@niccokunzmann what has to be done for that I think the floor png is not being rendered.

[2017-12-29 14:11] YashKumarVerma opened #59 "No Issues template"
The issues are unstructured.

They need a template.

[2017-12-29 14:13] abishekvashok commented on #59
Sure go on.

[2017-12-29 14:32] YashKumarVerma commented on #58
@niccokunzmann can we include jquery into the project ?

[2017-12-29 15:00] abishekvashok commented on #58
Is that required @YashKumarVerma. We can go if u and nicco wants.

[2017-12-29 15:57] abishekvashok commented on #52
@niccokunzmann found that, it was due to function overriding. Working on it.

[2017-12-29 19:56] #59 closed

[2017-12-29 19:59] niccokunzmann commented on #58
If you think that is a good choice, we can include jquery. If so, please copy it into the JS folder so we also play this game offline and ship it as an app without or with low bandwidth.

[2017-12-29 20:01] niccokunzmann commented on #58
I think, adding the buttons in general is an improvement, showing and hiding them is another improvement and doing one does not mean the other needs to be done by the same person.

[2017-12-29 20:03] #52 closed

[2017-12-30 07:26] arjunpandey2003 opened #62 "Add tile"
### Expected results
A tile was added

## Would you like to work on this
 Everyone can add tiles

[2017-12-30 11:06] niccokunzmann opened #65 "Correct the wall"
### Expected results

When you look at the walls of the labyrinth, you see that the right wall overlaps over the left wall.
This is not intended. Please move the left border of the right wall to be at the same location as the left wall.

### Actual results

Here you can see the overlapping of the walls as it is  not possible in real life.
http://rawgit.com/fossasia/labyrinth/master/index.html

##

[2017-12-30 11:09] niccokunzmann opened #66 "Create an HTML page for the how-to-play tutorial (HTML/CSS)"
### Expected results

On the web page, I would like to see some help button or link which leads to a page which shows me how to play the game.

### Actual results

Currently, we have this page: https://github.com/fossasia/labyrinth/blob/master/HOW-TO-PLAY.md
This is written in markdown.

## Would you like to work on this

You can convert [the page](https://github.com/fossasia/labyrinth/blob/master

[2017-12-30 11:16] STEdirisuriya commented on #44
no I trying to add more.

[2017-12-30 11:17] STEdirisuriya commented on #44
#Don't close this I am trying to add more

[2017-12-30 11:25] abishekvashok commented on #44
Sure

[2017-12-30 11:31] Ploypiti commented on #66
@niccokunzmann Claiming.

[2017-12-30 12:00] niccokunzmann opened #68 "Allow choosing game characters"
### Expected results

Before the game starts, we want to choose different characters to play with.
This is useful for the [GCI task][task].

### Actual results

Currently, we do not have any characters we can choose.

### Hints to solve

- [x] create a character
- [x] add the character to a folder
- [ ] link that folder in the task
- [ ] add a javascript file which loads characters from a list of

[2017-12-30 13:01] arjunpandey2003 commented on #6
@abishekvashok can i also work on this issue

[2017-12-30 13:03] myfrom commented on #6
I think we would need to run the checks again and edit the issue list as
when I was working on it, I found many of the ones not existing anymore and
new ones getting created

On Sat, 30 Dec 2017, 14:01 arjunpandey2003, <notifications@github.com>
wrote:

[2017-12-30 13:14] abishekvashok commented on #6
I am gonna close this one. I will run the link tests and open up a new issue for the same.

[2017-12-30 13:14] #6 closed

[2017-12-30 13:14] abishekvashok commented on #6
*lint

[2017-12-30 14:01] arjunpandey2003 opened #69 "Add new floor"
### Expected results
New floor added
### Actual results
Only 4 right now
### Steps to reproduce the issue
Make use of inkscape
## Would you like to work on this
More people can contribute

[2017-12-30 14:49] #69 closed

[2017-12-30 16:33] naveentherocker opened #72 "Add Hand Drawn Tile"

[2017-12-30 18:05] #62 closed

[2017-12-31 02:22] naveentherocker opened #74 "Add Tiles to levels.js"

[2017-12-31 09:41] niccokunzmann opened #76 "Make tile door.drawn a ground tile"
### Expected results

When I walk throughthe labyrinth: 3xdown 2xright,
I would like to walk on the drawn floor.

### Actual results

There is a rectangle which is not a floor.

### How to solve

Please make this floor tile a tile which is like the other floor tiles.

Idea: In Inkscape you can do the following to the https://github.com/fossasia/labyrinth/blob/master/tiles/rooms/floor/drawn.svg til

[2017-12-31 10:52] #76 closed

[2017-12-31 11:00] #66 closed

[2017-12-31 11:16] niccokunzmann opened #81 "delete how-to-play.md"
### Expected results

When I want to know how to play the game, I would like to use the HTML version of the game.

### Actual results

Currently, we use the markdown version.

### Steps to reproduce the issue

- https://github.com/fossasia/labyrinth/blob/master/HOW-TO-PLAY.md
- https://github.com/fossasia/labyrinth/blob/master/howtoplay.html

Also see the README.md file - there is a link

TODO:
-

[2017-12-31 12:37] niccokunzmann commented on #40
Would you like all animated tiles to reference the issue, so they can inspire and help each other?
You could add this link to the task as a requirement in the tasks folder.

[2017-12-31 13:32] abishekvashok commented on #68
Can I do it?
Note: If any one wants to help me out, you are free to send me a message on gitter.

[2017-12-31 15:18] niccokunzmann commented on #68
Yes, you and the other people can claim this task: https://github.com/fossasia/labyrinth/blob/master/tasks/enable-a-new-gci-task.md as this enables us to include one more GCI task into the system.

[2017-12-31 17:35] YashKumarVerma commented on #81
Closed.

[2017-12-31 17:41] YashKumarVerma opened #84 "Tasks not listed on GCI Site"
### Expected results
The tasks listed here on Repo should be on GCI site as well.

### Actual results
The tasks are not listed on GCI site

### Steps to reproduce the issue
Mentors must add them 😋

## Would you like to work on this
Can't. 😂

[2017-12-31 20:20] niccokunzmann commented on #84
They are added, we need to wait for the organization administrators to approve them.

[2017-12-31 20:21] niccokunzmann commented on #81
The "HOW-TO-PLAY.md" file is still there, please check: https://github.com/fossasia/labyrinth/blob/master/HOW-TO-PLAY.md

[2018-01-01 05:41] duttaditya18 opened #85 "Add a good looking alert box on winning."
### Expected results
A good looking alert box on winning. (like SweetAlert)

### Actual results
A normal JS alert box.

## Would you like to work on this
Yes.

[2018-01-01 05:42] duttaditya18 commented on #85
@niccokunzmann Can I use an open source library like SweetAlert2?

[2018-01-01 05:45] YashKumarVerma commented on #84
sure thing @niccokunzmann

[2018-01-01 05:45] #84 closed

[2018-01-01 05:47] YashKumarVerma commented on #85
@duttaditya18 I think we can add them. I asked @niccokunzmann about jquery so he said yes as far as it is being added systematically. (in proper directory)

[2018-01-01 05:48] duttaditya18 commented on #85
@YashKumarVerma Can I use SweetAlert2?

[2018-01-01 06:18] duttaditya18 commented on #85
@YashKumarVerma I have added a good looking alert using SweetAlert2. However no one would be too happy about an extra dependency. Please suggest something.

https://rawgit.com/duttaditya18/labyrinth/master/index.html

[2018-01-01 06:26] YashKumarVerma commented on #68
@abishekvashok shall we work together on this one ?

[2018-01-01 06:32] YashKumarVerma commented on #58
working on it .

Claiming 🔥

[2018-01-01 06:37] razetime opened #88 "Create icon for labyrinth"
As of now, the labyrinth has the default icon for rawgit.com as its logo.
We have to design a logo for the labyrinth which represents it as a whole

We'd like some ideas and recommendations on how you'd like the logo to look, and how you will represent this project.

[2018-01-01 06:40] razetime commented on #88
We could have a Minotaur as the logo, because a labyrinth was constructed by the Greek King Minos ad his architect Daedalus to contain the Minotaur. You are the minotaur in this gmae, and you are moving through the labyrinth to find your goals.

[2018-01-01 07:38] #85 closed

[2018-01-01 07:50] duttaditya18 commented on #84
This is indeed, really needed!

[2018-01-01 07:51] YashKumarVerma commented on #84
@duttaditya18 :rofl:

[2018-01-01 07:52] duttaditya18 commented on #84
😄

[2018-01-01 08:35] naveentherocker opened #90 "Update Issue Template and Pull Request Template"

[2018-01-01 10:20] niccokunzmann commented on #44
@STEdirisuriya If we can help you in any way, please let us know..

[2018-01-01 11:06] yashGnius commented on #88
u r right

[2018-01-01 11:09] #90 closed

[2018-01-01 11:33] naveentherocker opened #94 "Add .editorconfig for linting purposes"
Linting Purpose for Javascript

[2018-01-01 11:53] abishekvashok commented on #68
Sure

[2018-01-01 13:47] arjunpandey2003 opened #97 "Fix Indentation and clean up code."
### Expected results
Indented files
### Actual results
Some files not indented properly
### Steps to reproduce the issue
Update files
## Would you like to work on this
I am working to indent the HTMl files someone can go ahead and indent other thanks!

[2018-01-01 14:06] STEdirisuriya commented on #44
@niccokunzmann add tutorials showing how to add tiles, walls,,,.......................

[2018-01-01 14:30] abishekvashok commented on #68
@niccokunzmann is it required that the character walks thorough the door to the next room?

[2018-01-01 14:38] abishekvashok commented on #46
Since the conference is over, pinging @mariobehling

[2018-01-01 14:57] #97 closed

[2018-01-01 15:35] #94 closed

[2018-01-01 15:50] niccokunzmann commented on #44
Documentation is as important as code. Yes, it is useful and we have people write documentation as it speeds up the contributions.

[2018-01-01 15:54] abishekvashok commented on #44
@STEdirisuriya you have one in README.MD. Fire up a new issue if you feel we can improve it much more.

[2018-01-01 15:57] niccokunzmann commented on #68
No, I do not think so. That makes it too complicated. Do you know the
games civilization or heroes of might and magic? Sometimes, they do not
have a relation between the ground and the figure walking on it. We do
not need that relation, I think.

[2018-01-01 16:01] abishekvashok commented on #68
@niccokunzmann I have'nt played those games! My taste is on sporty games like need for speed editions and silent killers like assassin creed which feature some graphics and not isomteric tiles.

However, I think we can have an approach where the character blinks from the current tile and appears in the next time at a descent transition time. What do you guys think?

[2018-01-02 05:47] YashKumarVerma commented on #81
anyone working on it ? or shall i ?

[2018-01-02 05:55] duttaditya18 commented on #81
@YashKumarVerma Give newcommers a chance.

[2018-01-02 08:54] #58 closed

[2018-01-02 08:58] niccokunzmann opened #103 "Coding style improvements"
This issue lists some small coding style and architecture improvements which we can work on.

- [ ] https://github.com/fossasia/labyrinth/pull/102#discussion_r159188229
- [ ] https://github.com/fossasia/labyrinth/pull/102#discussion_r159187490

Please list more here if you find them.

[2018-01-02 09:23] YashKumarVerma opened #104 "Player Moves Counter"
### Expected results
-Counter for player moves

### Actual results
- Moves are not counted

### Steps to reproduce the issue
- A count feature

## Would you like to work on this
Yes

[2018-01-02 13:34] YashKumarVerma commented on #104
Done!

[2018-01-02 13:34] #104 closed

[2018-01-02 13:37] YashKumarVerma commented on #103
Claiming #102

[2018-01-02 13:43] Beta-King commented on #38
Is someone working on this then ?? ;D

[2018-01-02 13:46] YashKumarVerma commented on #38
@Beta-King only admins can create new branches i guess.

[2018-01-02 13:46] Ploypiti opened #106 "Make added tiles appear in the game"
### Expected results

All of the added tiles appear in the actual game interface.

![image](https://user-images.githubusercontent.com/32614202/34485915-988219f2-efff-11e7-8947-dffdacd0d792.png)

### Actual results

Not all added tiles appear when moving to a new level.

![image](https://user-images.githubusercontent.com/32614202/34485948-c441a4b8-efff-11e7-9b12-17039523ad30.png)

## Would you like

[2018-01-02 13:47] YashKumarVerma commented on #81
@duttaditya18 that's why i asked before sending a pr 😆

[2018-01-02 19:40] YashKumarVerma opened #108 "Inventory for Player"
### Expected results
- Ability to collect items in the game and use them

### Actual results
- Completely isolated player

### Steps to reproduce the issue
- Adding inventory mechanism to game

## Would you like to work on this
- YES

*after approval*

[2018-01-02 19:52] niccokunzmann commented on #108
sounds good to me. How would you like to go about it?

On 01/02/2018 08:40 PM, Yash Kumar Verma wrote:

[2018-01-02 20:30] YashKumarVerma commented on #108
Add data member to the user object. then store things as array.

[2018-01-02 20:40] niccokunzmann commented on #108
Yes, this sounds good. Please never access the inventory directly from
tiles to add objects but use methods like player.addToInventory and
player.hasInInventory to access the content.
https://en.wikipedia.org/wiki/Law_of_Demeter

[2018-01-02 20:41] YashKumarVerma commented on #108
![image](https://user-images.githubusercontent.com/14032427/34499298-63df169c-f02b-11e7-9521-ed34c92955ae.png)
😆 did somewhat the same

[2018-01-02 21:03] #108 closed

[2018-01-02 21:11] niccokunzmann opened #111 "Show inventory content"
### Expected results
I would like to know what the player has in the inventory #108 .

### Actual results
I can not see this on the GUI.

Implementation ideas:
- add a new item class which takes a name: a class will allow us to extend it in the future to add item abilities like combinations etc.
- There is a inventory folder with pictures to use for the items. the item loads the picture from that

[2018-01-02 21:19] YashKumarVerma opened #112 "Inventory Implementation Changes"
### Expected results
Suggested Edits should be done

### Actual results
Edits not done

## Would you like to work on this
Yes

[2018-01-02 21:24] YashKumarVerma commented on #111
what's the second point about ? `picture derived from means` ?

[2018-01-02 21:26] YashKumarVerma commented on #111
I can work on it

[2018-01-03 05:52] samyakbvs opened #115 "Dimensions"
batcave.svg is not in the correct dimensions
I am working on it

[2018-01-03 05:58] samyakbvs opened #116 "Text"
caro.svg is a blank tile and doesn't have any text
Working on it

[2018-01-03 08:37] niccokunzmann commented on #111
@YashKumarVerma You can work on it. I changed the second point.

[2018-01-03 08:38] niccokunzmann commented on #112
This is not an issue. Noone except you can work on this. An issue must be as specific so other people can work on it.

[2018-01-03 08:38] #112 closed

[2018-01-03 08:39] niccokunzmann commented on #115
Maybe it is also something with the rendering: The ground is rendered above the walls. Happy coding!

[2018-01-03 08:39] niccokunzmann commented on #116
Why should it have text?

[2018-01-03 08:40] niccokunzmann commented on #81
You can also delete it. Noone came. Better to clean up soon.

[2018-01-03 12:22] duttaditya18 commented on #81
@niccokunzmann #119 fixes this.

[2018-01-03 13:10] YashKumarVerma commented on #116
Please change title of issue to something bit more descriptive

[2018-01-03 13:11] YashKumarVerma commented on #115
Please change title to something a bit more descriptive

[2018-01-03 19:13] YashKumarVerma opened #120 "Build UI"
### Expected results
An interface with systematic buttons and content

### Actual results
![image](https://user-images.githubusercontent.com/14032427/34535552-3d5e90b6-f0e8-11e7-8b69-796bb2b9f229.png)

### Steps to reproduce the issue
- Add buttons and other required items to make the game look systematic

## Would you like to work on this
Yes

[2018-01-03 19:36] #116 closed

[2018-01-03 19:36] #81 closed

[2018-01-03 19:43] niccokunzmann commented on #120
Could you elaborate more on what you mean with systematic? Would it be
styling, text, resturcturing? Which buttons do you mean? Just adding
buttons for a "systematic" impression without behavior will not improve
game-play. What do you have in mind?
Do you think about adding a stylesheet to have all buttons of the game
styled?

[2018-01-03 20:03] YashKumarVerma commented on #120
@niccokunzmann  The motive is to gave the game an interface which it currently lacks. The same can be easily understood seeing the PR #123

[2018-01-03 20:25] niccokunzmann opened #124 "Clarify how to include external code"
### Expected results

I would like to see a guide on how to include code and files which are not made by the contributors and as such fall under a different license.

### Actual results

Currently, we discuss this but we can also add a guide to help standardize the process.

### Steps to reproduce the issue

I will put it into the README file or should it be in the contributing.md file?

## Would

[2018-01-03 20:39] niccokunzmann commented on #38
I think, we do well without it. Maybe we will activate it in the future. You can comment, re-open or create a new issue about this if you think this is really necessary.

[2018-01-03 20:39] #38 closed

[2018-01-04 06:22] arjunpandey2003 opened #127 "Changes to PR template"
### Expected results
Detailed info added
### Actual results

### Steps to reproduce the issue
Update the template
## Would you like to work on this
Yes I am working on this

[2018-01-04 09:28] #120 closed

[2018-01-04 09:30] #127 closed

[2018-01-04 09:49] YashKumarVerma commented on #111
Work in Progress 🔥
![image](https://user-images.githubusercontent.com/14032427/34558092-995358be-f162-11e7-8140-b0c87ebd5de9.png)

[2018-01-04 09:50] YashKumarVerma commented on #111
![image](https://user-images.githubusercontent.com/14032427/34558120-cd1b1a1a-f162-11e7-96bd-f79d54b6ce2f.png)

[2018-01-04 12:35] niccokunzmann opened #132 "Controls disappear automatically"
### Expected results

I would like to switch on the controls and remove them manually.

### Actual results

After some time, e.g. when a dialog pop up, the controls disappear.

### Steps to reproduce the issue

1. In the bottom right corner click the running person.
2. the controls open
3. wait some time or navigate
4. the controls disappear

If you also think they should stay so we can play the g

[2018-01-04 12:41] #124 closed

[2018-01-04 12:42] niccokunzmann commented on #68
Sounds good.

[2018-01-04 13:41] Ploypiti opened #133 "Forest Theme"
### Concept
**Wall**: A landscape of forest containing trees, bushes, plants, etc.
**Door**: Wooden door, hidden door like the one in *temple run*, cave, or a stream.
**Floor**: The way forest ground is, maybe also a snakes pond (or just an ordinary one)
**Item**: Monsters, animals, poison bush, evil queen, evil cat, evil dog, evil snake, evil hunter, evil leaf, evil mold (Sorry, watches too much

[2018-01-04 14:18] 0x48piraj commented on #132
I'll take a try :+1:

*By the way, anyone can claim*

[2018-01-04 14:21] naveentherocker opened #134 "Responsiveness of the Game"
## Would you like to work on this
Yes

[2018-01-04 14:40] naveentherocker opened #135 "Display Play Time"
## Would you like to work on this
Yes

[2018-01-04 15:45] naveentherocker opened #136 "Add Footer"

[2018-01-04 20:01] 0x48piraj opened #140 "Adding a custom made social section"
### Expected results
* Social links to connect with **_@fossasia_** and with **_labyrinth_**
* Make the UI more attractive.
* Link https://github.com/fossasia/labyrinth intelligently.
### Actual results
No social links for reaching out!

## Would you like to work on this
**Yep.**

[2018-01-04 20:21] 0x48piraj commented on #134
@naveentherocker I will like to pair program with you !

[2018-01-04 20:23] 0x48piraj commented on #140
Please add an `advanced` tag to this issue @niccokunzmann

[2018-01-04 20:34] 0x48piraj opened #142 "Centralize all contributors"
### Expected results
All the contributors should be at one place.

### Actual results
All the contributors added their name and linked it, It breaks the game and practically sways away the attention of the player.

### Screenshots

![image](https://user-images.githubusercontent.com/5800726/34583071-3f025482-f1bc-11e7-97e0-388e8418b8a3.png)

---

![image](https://user-images.githubusercontent.com/5

[2018-01-04 20:44] 0x48piraj commented on #46
I think I can write **selenium unit tests for checking if our game loads without any error** :wine_glass:

Ping @niccokunzmann @abishekvashok :100:

[2018-01-04 21:59] #140 closed

[2018-01-04 22:03] 0x48piraj commented on #140
@niccokunzmann Can you add an advanced label ?
It was a bit advanced task, and there's a GCI Task. So ..

[2018-01-04 22:16] niccokunzmann commented on #140
@0x48piraj I add the label but you can use this also as a feature task... https://github.com/fossasia/labyrinth/blob/master/tasks/add-a-new-feature.md I think, this suits it more.

[2018-01-04 22:16] 0x48piraj commented on #140
I have something to with that feature task :1st_place_medal:

[2018-01-04 22:25] 0x48piraj commented on #136
This can be closed @niccokunzmann :+1:

[2018-01-04 22:52] 0x48piraj opened #146 "Improper rendering"
### Expected results
Should be inside the cube
### Actual results
![image](https://user-images.githubusercontent.com/5800726/34587833-f729fdf4-f1cf-11e7-8ce1-ee17abacb1d7.png)

![image](https://user-images.githubusercontent.com/5800726/34587920-5f83c3b2-f1d0-11e7-9be5-a6cfa64356e0.png)

## Would you like to work on this
Yes, but can be claimed. :+1:

[2018-01-05 04:09] duttaditya18 commented on #146
Can I work on this? 😄

[2018-01-05 04:11] duttaditya18 opened #147 "Use a better font."
### Expected results
Use a more "Material Design like font".

### Actual results
Currently it uses Times New Roman in `<a>` tags.

## Would you like to work on this
Yup!

[2018-01-05 04:14] duttaditya18 opened #148 "Use SweetAlert instead of JS Alert."
### Expected results
Sweet Alert everywhere.

### Actual results
There are some places where there still is normal JS Alert.

### Steps to reproduce the issue
![Problem](https://i.imgur.com/PiGp51X.png)

## Would you like to work on this
Yes!

[2018-01-05 04:16] duttaditya18 opened #149 "Fix placement of Social Icons"
### Expected results
They align in the side somewhere.

### Actual results
They are in the middle of the screen.

## Would you like to work on this
Yes!

[2018-01-05 04:38] YashKumarVerma commented on #46
More info here

http://www.seleniumhq.org/docs/01_introducing_selenium.jsp#test-automation-for-web-applications

[2018-01-05 05:07] 0x48piraj commented on #146
Yeah, Why not!!

[2018-01-05 05:08] 0x48piraj commented on #46
Good Reference. I'm using selenium for a long time though :wink:

[2018-01-05 05:16] duttaditya18 commented on #146
@0x48piraj Thanks! Do you want to Pair Program?

[2018-01-05 05:19] 0x48piraj commented on #146
Yes! Why not. I will love to.

[2018-01-05 06:18] saarthakchats commented on #88
Working on it!

[2018-01-05 07:19] arjunpandey2003 opened #154 "New Background"
### Expected results
New Background could use a gradient(a dark shade)
### Actual results
Looks a bit dull
### Steps to reproduce the issue
Update css file
## Would you like to work on this
Yes I am

[2018-01-05 07:49] 0x48piraj opened #156 "Adding a Gameplay Element : Duration of Gameplay"
### Expected results
A timer which starts when the gamer starts playing or visits the website.

### Actual results
No such implementation exists.

## Would you like to work on this
**_Yeah!!_** *(@duttaditya18 is also pair programming with me. :100: )*

[2018-01-05 08:06] YashKumarVerma commented on #156
#135 refers the same thing.

Duplicate perhaps.

[2018-01-05 08:07] duttaditya18 commented on #156
@0x48piraj Yup! We can work on the issue by @naveentherocker

[2018-01-05 08:07] duttaditya18 commented on #135
Me and @0x48piraj are working on it!

[2018-01-05 08:18] 0x48piraj commented on #156
Oh. I saw it now. But don't you think it's not referring to this ?
I mean it ca be but ..

[2018-01-05 08:36] YashKumarVerma commented on #135
I think it's always a good think to confirm before working because @naveentherocker  might be already halfway or almost complete by now. 😕

@duttaditya18  @0x48piraj

[2018-01-05 08:37] YashKumarVerma commented on #156
That name change was done about 8 hours from now, and this issue was created about an hour ago. So...

[2018-01-05 08:39] 0x48piraj commented on #156
sweet correction : 18 hours* :wink:
And, I wonder that you understood that issue and said mine is a dup. I'm yet not able to figure out what he wants to solve :laughing:

[2018-01-05 08:40] 0x48piraj commented on #135
Sure! @YashKumarVerma

[2018-01-05 08:44] 0x48piraj commented on #135
Note : It's a rapid changing repository, and the task time is 3 days and I think 1  day is passed :+1:
Also, Just see the issue, I can't figure it out.
It's not anyone's fault if the issue creator doesn't spends a single penny on explaining what he wants to solve.

#### For example :

Issue title  : Implement a cool feature.
Body : I want to work on this.

Does this doesn't flaws the OSS laws @Yas

[2018-01-05 09:08] samyakbvs opened #157 "Tips for deployment aren't added"
They should be added
working on this issue

[2018-01-05 10:30] YashKumarVerma commented on #156
Just pointed that out incase @naveentherocker was offline and would see his issue already merged.😂

You guys can decide yourselves. I'm in if a partner needed 😋

[2018-01-05 10:31] YashKumarVerma commented on #135
You guys decide among yourselves. I'm in if a partner needed 😋

[2018-01-05 10:43] #111 closed

[2018-01-05 10:46] #148 closed

[2018-01-05 10:47] #147 closed

[2018-01-05 10:54] #149 closed

[2018-01-05 11:08] 0x48piraj commented on #142
@niccokunzmann Only the removing part is done.
we're going to make a separate page for contributors.
Linked issue will be this. If you're cool with it, please re-open the issue :blush:

[2018-01-05 11:10] niccokunzmann opened #160 "Show current tile in the middle of the page"
### Expected results

I would like to see the tile when I move through the labyrinth.

### Actual results

Sometimes the tile where I am is hidden behind the GUI or somewhere behind the screen i.e. in 1024x800 resolution.

### Steps to reproduce the issue

Move through the whole labyrinth.
Sometimes, You can not see all the tiles.

Hints:
- You can scroll the page
- You can move the `<div id="tile

[2018-01-05 11:16] niccokunzmann opened #161 "Allow loading different levels"
### Expected results

As a developer, I would like to have one place to make a change, not two.

### Actual results

We have index.html and indexForest.html.
These are two labyrinths but also two pages.
To duplicate every change is unnecessary, error prone and takes long.

### Idea
To load different levels, please add a button/link for levels to load.
Loading can be done by
1. deleting all existin

[2018-01-05 11:17] niccokunzmann commented on #132
If you try and don't succeed, please share the progress either way, so others can have a look.

[2018-01-05 11:18] #133 closed

[2018-01-05 11:18] niccokunzmann commented on #134
To me it is not clear when to close this, I see a merged pull request and think it can be closed now.

[2018-01-05 11:18] #134 closed

[2018-01-05 11:19] #136 closed

[2018-01-05 11:19] niccokunzmann commented on #154
I can see that this is fulfilled: New Background could use a gradient(a dark shade)

[2018-01-05 11:19] #154 closed

[2018-01-05 11:20] niccokunzmann commented on #135
Duplicate with #156

[2018-01-05 11:20] #135 closed

[2018-01-05 11:20] niccokunzmann commented on #157
Closing #158

[2018-01-05 11:20] #157 closed

[2018-01-05 11:21] niccokunzmann commented on #33
It seems this was added in #143

[2018-01-05 11:21] #33 closed

[2018-01-05 11:23] niccokunzmann commented on #106
@Ploypiti Can you check if this can be closed?

[2018-01-05 12:10] duttaditya18 commented on #146
#164 Gets ya!

[2018-01-05 12:29] abishekvashok commented on #68
@niccokunzmann done

[2018-01-05 12:47] abishekvashok commented on #161
Can we change the logic of multiple files for levels to something like reloading the level from start but loading the next one by passing a parametered argument to `levels.js` when we reach goal?

[2018-01-05 12:49] abishekvashok commented on #160
we can redesign the starting position of the player. Would that help? Or should we go for a resize?

[2018-01-05 12:56] #146 closed

[2018-01-05 13:08] niccokunzmann commented on #68
I re-opened the issue since we do not have a menu where we can choose the characters.

- [ ]  link that folder in the task
- [ ] add a javascript file which loads characters from a list of characters

[2018-01-05 13:14] niccokunzmann commented on #160
I think it is ok if the tiles are as big as they are. The starting position does not influence where the player looks in this sense: It should be ok to start from any tile as it is ok to be at any tile. It should be possible to see any tile equally well. Image you have a 100x100 labyrinth. The solution should still hold. Could that clarify what I have in mind?

[2018-01-05 13:14] niccokunzmann commented on #160
I think it is ok if the tiles are as big as they are. The starting position does not influence where the player looks in this sense: It should be ok to start from any tile as it is ok to be at any tile. It should be possible to see any tile equally well. Image you have a 100x100 labyrinth. The solution should still hold. Could that clarify what I have in mind?

[2018-01-05 13:14] naveentherocker commented on #156
Seems unfair but it's ok @0x48piraj

[2018-01-05 13:15] niccokunzmann commented on #161
Loading from a parameter should be good to have, too. This allows people to distribute a link to their changes better.

[2018-01-05 13:17] naveentherocker commented on #136
@0x48piraj Why are you working on issues that I claimed? You have worked on all the 3 Issues of mine. Can you please give me an explanation? It seems to be unfair @niccokunzmann

[2018-01-05 13:18] duttaditya18 commented on #156
@naveentherocker Thanks!

[2018-01-05 13:23] niccokunzmann commented on #136
@naveentherocker Let us look into this! I hear you like to have a place to contribute and not have other people take away what you would like to improve. If that is the case, I can understand that. Could you add a link to these three issues here, so I can better understand why you write this and so we can look for a solution together?

[2018-01-05 13:27] niccokunzmann commented on #156
So, I just closed this one issue as a duplicate. I wonder if we should sync what the current status is. Who works on which part now, what are the parts that should be done to close the issue. Maybe we have different ideas impressions. I would not know since #135 does not provide and description.

@0x48piraj @duttaditya18 @YashKumarVerma @naveentherocker Could you shortly phrase what you would like

[2018-01-05 13:29] abishekvashok commented on #160
@niccokunzmann unfortunately no!

[2018-01-05 13:30] abishekvashok commented on #161
this is easy then, can I work on it?
Note: if anyone else is interested as well, please do a comment

[2018-01-05 13:31] #106 closed

[2018-01-05 13:32] abishekvashok commented on #68
@niccokunzmann on it.

[2018-01-05 13:34] abishekvashok commented on #68
can we do this is `player.js` itself?

[2018-01-05 13:35] STEdirisuriya opened #167 "Bug: Menu bar showing with game interface!"
### Expected results
Correct this!
![labissue](https://user-images.githubusercontent.com/33794760/34611368-3524af5c-f24b-11e7-9c21-c55310e43043.png)

### Actual results
Make menu bar separately.

## Would you like to work on this
I am and @naveentherocker working on this

[2018-01-05 13:35] naveentherocker commented on #136
Issues

- https://github.com/fossasia/labyrinth/issues/136
- https://github.com/fossasia/labyrinth/issues/135
- https://github.com/fossasia/labyrinth/issues/134

I don't have a Complaint with this as finally the required contributions have been done and Labyrinth looks great. What I want to say is  It would be fine If @0x48piraj asked proper permission from me before Working on it. Unless I don't

[2018-01-05 13:55] isuruAb commented on #135
hello @niccokunzmann , why we should close this one? he made this issue 23 hours ago.

[2018-01-05 13:57] harshit98 commented on #135
@duttaditya18 @0x48piraj Naveen has already claimed the issue.

@naveentherocker Is this issue similar to #156 ? or different? Would be great if you can provide some details.

[2018-01-05 14:00] niccokunzmann commented on #160
Can you ask me more questions?

[2018-01-05 14:05] naveentherocker commented on #135
@harshit98 Both seems to be similar.

[2018-01-05 14:05] niccokunzmann commented on #68
Maybe, the character seems to be related to the player. If you think it gets too big and too unrelated to the player functionality, please move it to an other file. Understandability is key, there are metrics named "cohesion" and "coupling" which could help decide this.

[2018-01-05 14:07] naveentherocker commented on #156
As @0x48piraj and @duttaditya18 have started working on this, Let them continue. I think it would be fine.

[2018-01-05 14:09] naveentherocker commented on #135
@harshit98 It's fine. Let them work on the Issue. I don't have any conflicts

[2018-01-05 14:13] niccokunzmann commented on #136
I see, in #134 you explicitly stated that you would like to work on this and @0x48piraj worked on this without coordinating with you.

This might be a hard problem because we do not know what people do, when they do it, ... This is due to the platform and the asynchronous communication that we can never be sure if people work something it or not.

Would you like to think about a solution?

[2018-01-05 14:16] naveentherocker commented on #136
Let's Solve the Problem. I don't have any problem with this as the Ultimate Goal is achieved. I'll try to work on another Issue. Please ask the Contributors to follow the Best Practices. That would be fine @niccokunzmann

[2018-01-05 14:25] niccokunzmann commented on #135
@isuruAb @naveentherocker I would like to keep the issue open. But issues need to be closed to keep the repository maintainable. Therefore I need to know when the issue can be closed and what the issue is about. I decided to close this issue instead of the issue #156 because #156 has a description and follows the issue template. I know when I can close #156. This is not the case with this issue.

[2018-01-05 14:26] niccokunzmann commented on #136
@naveentherocker I am just merging and I value your perspective. You are as much in the right to direct people to the best practices. I will if I do not forget and it is a long text. Please help :)

[2018-01-05 14:28] naveentherocker commented on #136
Sure @niccokunzmann

[2018-01-05 15:37] abishekvashok commented on #160
in case of a 100x100 labyrinth how would the player be able to manage if it is large as it is now. But that is a different issue. Are you stating to decrease the UI components here?
@niccokunzmann

[2018-01-05 15:50] naveentherocker commented on #135
@niccokunzmann I agree with you.

[2018-01-05 16:02] YashKumarVerma commented on #135
@niccokunzmann thanks for clearing out things.

[2018-01-05 16:54] abishekvashok commented on #68
@niccokunzmann remaining solved in #174

[2018-01-05 17:03] abishekvashok commented on #46
@niccokunzmann

It's not enabled yet!

[2018-01-05 17:06] 0x48piraj commented on #136
Is this was the issue that I solved ?
Please see the reference @naveentherocker
I even not added a footer. I added a social bar, in the center !
As many people started working on it, and started further development on my developed bar, that's why I said to close this!

[2018-01-05 17:18] 0x48piraj commented on #135
I seriously didn't got anything out of this issue.
As @niccokunzmann know, I also added a timer couple of days before.
Also, you can see the issue https://github.com/fossasia/labyrinth/issues/140.
I clearly mentioned that I have a plan for a feature. I was working on this only!

I'm hugely sorry that I failed to understand that this issue was similar to what I thought. :disappointed:

[2018-01-05 18:27] #167 closed

[2018-01-05 18:31] #68 closed

[2018-01-05 18:47] niccokunzmann commented on #160
No, I just always want to see the tile I am on. Sometimes the UI is in the way, sometimes the player walks faster that the scrolling. I think, with the GUI buttons it should be much easier to walk out of the visible area if you have a small screen.

[2018-01-05 18:51] niccokunzmann commented on #46
I know. As time goes by, some hero will come along and press the right buttons!

[2018-01-05 18:52] niccokunzmann commented on #115
@samyakbvs Is this working now? I think, we have this resized. All tiles in the labyrinth are resized. Would you close this? I will close it in case no answer comes in three days.

[2018-01-05 18:55] niccokunzmann commented on #136
There are the controls so we have a footer now. I think this is a footer in a way as it is on the bottom of the page. I think, 100% of the requirements of this issue are met. I would keep it closed.

[2018-01-05 18:58] niccokunzmann commented on #136
@0x48piraj Is this an answer? We can open new issues. Might it be you would have liked not to complete an issue by @naveentherocker because you do not want to take his work without asking and you like a cooperative work experience, then I suggest you both talk in a private chat with each other about what you need and like and I am sure you can sort this out.

[2018-01-05 19:01] 0x48piraj commented on #136
I already talked, he said carry on as I'm busy.
I'll wait for him, for a while.
I'll be contributing in other parts, in this time duration.
Seems ok @niccokunzmann ?

[2018-01-05 19:03] 0x48piraj commented on #161
I'm in :+1:
If anyone has a plan, spread it out! :100:

[2018-01-05 19:06] YashKumarVerma commented on #161
In too 😄
We all can work together if needed

[2018-01-05 19:12] YashKumarVerma opened #177 "Remove FontAwesome : Migrate to Material Design"
### Expected results
Uniform UI with similar icons / appearance

### Actual results
Font Awesome added along with material icons

### Steps to reproduce the issue
Remove font awesome / edit icons to match material design

## Would you like to work on this
`inviting members`

[2018-01-05 19:46] niccokunzmann opened #180 "Merge forest level into the game"
### Expected results

We can play the forest level by choosing from a list of levels.

### Actual results

We have a different file and a lot of duplicated code:

- https://github.com/fossasia/labyrinth/blob/master/js/tilesForest.js
- https://github.com/fossasia/labyrinth/blob/master/js/levelsForest.js

### Hints:

To solve this issue, we can do two basic operations:

- in tilesForest.js:
  1. cop

[2018-01-05 19:49] YashKumarVerma opened #181 "Inventory accepting items twice"
### Expected results
- Items should be accepted once ***only***

### Actual results
- Inventory accepts same item multiple times

### Steps to reproduce the issue
- Debug the collision function

## Would you like to work on this
- Yes

[2018-01-05 20:15] STEdirisuriya opened #183 "add document about how to make a PR and improve PR structure"
### Add document about how to make a PR and improve PR structure

## Would you like to work on this
yes sure

[2018-01-05 21:22] niccokunzmann commented on #136
sure.

[2018-01-05 21:35] #181 closed

[2018-01-05 21:39] niccokunzmann commented on #183
Maybe this helps: http://makeapullrequest.com/

[2018-01-05 21:40] niccokunzmann commented on #177
Could you add links to the usage of font awesome?

[2018-01-06 01:29] isuruAb commented on #135
@niccokunzmann  yes it is true. all our contributors should follow the structure of the pull request template to avoid this kind of conflicts. Yes, It is better if we can add this in to contribute.md file. Thank you for clarification.

[2018-01-06 02:56] naveentherocker commented on #136
@0x48piraj  I don't have any conflicts. Take the Issue and continue with contributing.

[2018-01-06 04:36] naveentherocker opened #186 "Add a New Theme"
### Expected results
Add a New Theme to the Game
### Actual results
There are only a few themes
### Steps to reproduce the issue
Work on a new theme
## Would you like to work on this
Yes

[2018-01-06 04:53] apappu9 commented on #160
Hi, I'm new to GCI. Can I work on this?

[2018-01-06 04:55] abishekvashok commented on #160
@apappu9 sure you can do it :)
You can ask here if you have any doubts

[2018-01-06 05:10] abishekvashok commented on #161
@0x48piraj @YashKumarVerma since, you all want to work on it together, we can do it, we can have a chat on it in gitter regarding it, pls see there.

[2018-01-06 05:45] abishekvashok commented on #180
Working on it.

[2018-01-06 07:01] apappu9 commented on #160
How's this: http://rawgit.com/apappu9/labyrinth/master/index.html
- The page now scrolls to center the tile containing the player every time the player moves.
- I also moved the data cards to the side to prevent them from overlapping the tiles. I could have shifted the tiles further down instead, but since the inventory card can have an arbitrary height, I thought it would be easier to move the ca

[2018-01-06 09:05] YashKumarVerma commented on #177
![screenshot 290](https://user-images.githubusercontent.com/14032427/34638114-355bf98a-f2eb-11e7-928a-2bfc05d9cbca.png)

[2018-01-06 09:05] YashKumarVerma commented on #177
The icons are used only for the contact / social icons

[2018-01-06 09:06] abishekvashok commented on #177
@YashKumarVerma I would like to co-operate

[2018-01-06 09:17] YashKumarVerma commented on #177
sure thing.
we have 2 things that need to be done
- [ ] Remove Font Awesome style link
- [ ] Replace icons and implement material icons

**Giving access to material branch on my fork**

[2018-01-06 09:18] abishekvashok commented on #177
@YashKumarVerma sure. I would do the first one then

[2018-01-06 09:19] YashKumarVerma commented on #177
sure

[2018-01-06 09:20] YashKumarVerma commented on #177
@abishekvashok  create the branch if you are starting the work.

[2018-01-06 09:22] duttaditya18 opened #198 "Redesign the Inventory"
### Expected results
Good looking Inventory design with Materialize.css

### Actual results
Currently the Inventory looks really bad as it does not take advantage of all the features of Materialize.css

### Would you like to work on this
Yup!

[2018-01-06 09:33] abishekvashok commented on #177
@YashKumarVerma can you update master with upstream
`git pull upstream/master master`

[2018-01-06 10:03] abishekvashok commented on #180
@niccokunzmann done in #191

[2018-01-06 11:11] YashKumarVerma commented on #198
Hey @duttaditya18 ,
Can you please explain what changes you want to propose ?

[2018-01-06 11:20] YashKumarVerma commented on #177
@abishekvashok I'd be working after a few hours, so either start work on your repo and i'll join, or
**i given given push rights to you, you can add a new branch to mine.**

[2018-01-06 11:20] YashKumarVerma commented on #177
***please use a different branch in cause u need to create one ***

[2018-01-06 11:44] abishekvashok commented on #177
Ok

[2018-01-06 12:04] samyakbvs commented on #161
Can I also work on this?

[2018-01-06 12:07] 0x48piraj commented on #161
Come on in !

[2018-01-06 12:09] samyakbvs commented on #161
Have you guys done anything yet?
@0x48piraj

[2018-01-06 12:09] 0x48piraj commented on #161
Join our gitter chat. :+1:

[2018-01-06 12:10] samyakbvs commented on #161
Which one?

[2018-01-06 12:12] 0x48piraj commented on #161
I already texted.

[2018-01-06 12:30] samyakbvs opened #201 "Boxes"
Make all the three boxes on the top with the same alignment
Working on it

[2018-01-06 17:47] YashKumarVerma opened #205 "Social Buttons Not properly aligned"
### Expected results
Icons must appear at center of element

### Actual results
![image](https://user-images.githubusercontent.com/14032427/34642361-b961e0fe-f337-11e7-9dcf-3fbe2a653337.png)

### Steps to reproduce the issue
Fix the styling

## Would you like to work on this
Anyone can claim

[2018-01-06 17:51] YashKumarVerma commented on #177
@abishekvashok Did something ?

[2018-01-06 18:30] STEdirisuriya opened #206 "SImple issue that needs to fix"
### Expected results
Great UI

### Actual results
There are lot of small and big issues.

### Steps to reproduce the issue
- [ ] Use characters that haven't white space.
![this](https://user-images.githubusercontent.com/33794760/34642457-6b3bf804-f339-11e7-8605-4c30f6ae2b16.png)

- [ ] Add single colour to background of game
![image](https://user-images.githubusercontent.com/33794760/34642469-92c8

[2018-01-06 19:11] YashKumarVerma commented on #206
Suggestions are great 🔥

[2018-01-06 19:21] YashKumarVerma opened #208 "Format Entire Codebase"
### Expected results
A well-formatted codebase

### Actual results
Files are ill-structured and difficult to comprehend.

### Steps to reproduce the issue
- format the entire codebase
  - [x] gui.js
  - [x] inventory.js
  - [ ] level.js- claimed
  - [x] levels.js
  - [x] player.js
  - [x] tiles.js

## Would you like to work on this
All Should. Time to time needed.

[2018-01-06 20:36] niccokunzmann commented on #180
Still needed:

- [ ] there should be a function createForestLevel which returns the forest level.

[2018-01-06 20:50] #201 closed

[2018-01-06 21:48] niccokunzmann commented on #206
#204 will change some layout.

[2018-01-06 21:56] #160 closed

[2018-01-07 03:38] naveentherocker opened #218 "Add Code of Conduct"
![capture](https://user-images.githubusercontent.com/16055010/34646305-469f0e7c-f38a-11e7-899f-b80cdd70f121.PNG)

## Would you like to work on this
Yes

[2018-01-07 05:16] abishekvashok commented on #177
No i will make a new pr now. @YashKumarVerma

[2018-01-07 06:32] YashKumarVerma commented on #177
google's icon font doesn't have social icons. what's the cure ?

[2018-01-07 06:55] Ploypiti opened #225 "UI Identity"
### Expected results
Proper design identities, including typography (Limited to less than 2) color scheme (Header, body, background, blah blah), and logo.
### Actual results
Unclear identity and no specified color, therefore each page has uneven UI, different typography, unmatched colors, etc. Currently, the game is kind of a mess between flat design and something else.
## Would you like to work o

[2018-01-07 07:22] abishekvashok commented on #177
Then we should keep fa.

[2018-01-07 07:49] abishekvashok commented on #132
@0x48piraj any updates?

[2018-01-07 07:52] abishekvashok commented on #161
@0x48piraj @samyakbvs @YashKumarVerma pls see the gitter channel. We need this clear this quickly to make sure themes get added.

[2018-01-07 09:15] #218 closed

[2018-01-07 09:25] arjunpandey2003 commented on #161
@0x48piraj @abishekvashok @YashKumarVerma @samyakbvs since you guys are doing this issue, i would also like to contribute and will update the contribution practices.md, to add a documentation on the same, since many users have made this mistake of adding a new files. Please tell me your views on the same

[2018-01-07 09:27] abishekvashok commented on #161
We can safely have a new issue after this is completed @arjunpandey2003

[2018-01-07 09:32] arjunpandey2003 commented on #161
@abishekvashok I am only updating contribution practices.md, since i also wanted to co-operate on this, I thought this might also be important.
Its up to you, it will be better since this issue is majorly related to the problem I mentioned.

[2018-01-07 09:37] arjunpandey2003 commented on #161
@abishekvashok I have a commit ready if you want it to go with this just tell me and I will send it to the branch you guys are working on.

[2018-01-07 09:39] arjunpandey2003 commented on #161
@niccokunzmann what do you think?

[2018-01-07 10:07] niccokunzmann commented on #44
I see more tiles are added. I am closing this. Please open a new issue if you need it. I want to keep the issue tracker small.

[2018-01-07 10:07] #44 closed

[2018-01-07 10:10] niccokunzmann commented on #40
I am closing this to keep the issue tracker small. We have a task for this: https://github.com/fossasia/labyrinth/blob/master/tasks/create-animated-tile.md There is one animated tile and I hope to see more.
Please explain what "better" means and how it is good for the people developing this.
I will close this because I think a small issue tracker allows us to coordinate faster. As I am in search f

[2018-01-07 10:10] #40 closed

[2018-01-07 10:11] niccokunzmann commented on #72
Two handdrawn- tiles are added. Closing this to keep the issue count low. You can open a new issue if needed and reference this one if you like. Please follow the issue template or correct it to your understanding.

[2018-01-07 10:11] #72 closed

[2018-01-07 10:12] niccokunzmann commented on #74
There is one closed pull request. I see no description of when this issue should be closed. This is not a chat but part of the issue tracker. Problems must be described and a closing criterion, too.

[2018-01-07 10:12] #74 closed

[2018-01-07 10:13] niccokunzmann commented on #88
@saarthakchats If you need any help, we are here and in the chat. Is there any progress, please share it.

[2018-01-07 10:23] duttaditya18 opened #228 "Game doesn't work. Shows an error."
### Expected results
Should work fine.

### Actual results
Doesn't work.

### Steps to reproduce the issue
See the JS Console.

### Would you like to work on this
Yes.

[2018-01-07 10:26] #228 closed

[2018-01-07 10:34] duttaditya18 commented on #205
@YashKumarVerma On it!

[2018-01-07 10:43] duttaditya18 opened #229 "Close Alert box automatically on movement to new tile."
### Expected results
It closes automatically.

### Actual results
It does not and remains open.

### Steps to reproduce the issue
Just visit a tile with an alert box and try pressing an arrow key.

### Would you like to work on this
Yup!

Update from @niccokunzmann :

[code]

[2018-01-07 11:02] niccokunzmann commented on #225
I will accept this as an advanced issue, if there is
- [ ] documentation about colors, spacing and font, background, ... you name it.
- [ ] documented style guide for creating tiles with practical advice how to do that with inkscape or other editors
- [ ] and most of the site follows the design principles (except existing tiles, that would be too much work)

Is that what you have in mind? (If yes,

[2018-01-07 11:12] niccokunzmann commented on #229
To make this an advanced issue, please implement the following API which abstracts the calls to swal such as

[code]

- [ ] Add the following function to the PlacedTile: `alertInfo(title, text)`
- [ ] close the alert automatically when the player leaves the tile
- [ ] have all tile calls replaced by this API

[2018-01-07 11:15] duttaditya18 commented on #229
@niccokunzmann All right. I will make a new PR solving this new thing. Can you check out my existing PR? Thanks!

[2018-01-07 11:16] duttaditya18 commented on #229
I am working on it!

[2018-01-07 11:29] duttaditya18 commented on #229
@niccokunzmann Open this again! I am working on this.

[2018-01-07 11:32] niccokunzmann commented on #205
@YashKumarVerma Please see if we can close this.

[2018-01-07 11:40] galaxymonster opened #232 "would like to add new charecter for code in with google"
### Expected results
playable game character
### Actual results

### Steps to reproduce the issue

## Would you like to work on this

[2018-01-07 11:41] #232 closed

[2018-01-07 11:46] niccokunzmann opened #233 "Can walk through wall"
### Expected results

I would like to stop at the wall

### Actual results

I can walk through the wall: right-right-up

### Steps to reproduce the issue

http://rawgit.com/fossasia/labyrinth/master/index.html walk:
right-right-up

[2018-01-07 11:46] arjunpandey2003 commented on #161
@abishelvashok I also would like to contribute, if there is any un-assigned work.

[2018-01-07 11:55] abishekvashok commented on #161
@arjunpandey2003 you are free to send the pr to the fork we r working on

[2018-01-07 12:16] STEdirisuriya commented on #206
@YashKumarVerma thank you! help for make labyrinth a good game!

[2018-01-07 13:08] samyakbvs commented on #103
claiming #182

[2018-01-07 14:24] 0x48piraj commented on #132
I have made a temp fix, okay actually I don't know! It works seamlessly and breaks uncertainly.
Please help to fix this.
Ask for queries in the gitter channel :+1:

[2018-01-07 15:10] STEdirisuriya commented on #233
Sorry for disturbing, I add this bug already on my issue, https://github.com/fossasia/labyrinth/issues/206

[2018-01-07 15:26] duttaditya18 commented on #233
@niccokunzmann On it!

[2018-01-07 16:16] saarthakchats opened #241 "Need to improve Code Quality of index.html"
Needs better indented code

Working on it

[2018-01-07 16:19] STEdirisuriya commented on #233
@duttaditya18 please tag #206 too in your PR

[2018-01-07 20:32] #229 closed

[2018-01-07 20:34] YashKumarVerma opened #244 "Develop API Documentation"
### Expected results
As new features are added day by day (see stats) , and new additions need references.
There must be a detailed documentation about the various functions that are used in designing level, user interactions. `inventory`,`level-complete`,`level-progress` etc

### Actual results
There is ***no reference except to copy from fellows***

### Steps to reproduce the issue
- Develop doc

[2018-01-07 20:35] niccokunzmann commented on #229
Thanks, in my eyes, this closes the issue. Also thanks for adding the documentation.

[2018-01-07 20:35] niccokunzmann commented on #229
Great!

[2018-01-07 20:37] niccokunzmann commented on #229
I mean: It is not 100% as I intended it but I think it is better than I intended it. I would have made the alrts part of the player but that is not where they belong.

[2018-01-07 20:43] #233 closed

[2018-01-07 20:50] #241 closed

[2018-01-07 20:52] YashKumarVerma commented on #244
Claiming `inventory.js` api docs

[2018-01-07 21:06] niccokunzmann opened #245 "[Enable Tasks] Add music to tiles/game"
### Expected results

I would like to see two tasks about music in the tasks folder:
- adding music to a tile when you enter
- adding background music

### Actual results

There are no such tasks and there is no music.

Requirements:
- Tasks:
  - [x] adding music to a tile when you enter #262
     - requirements to add
     - [X 100% self-made, add source files #316
  - [x] adding background music

[2018-01-07 21:48] niccokunzmann commented on #183
@STEdirisuriya Can we close this now that #195 is merged?

[2018-01-07 22:12] niccokunzmann commented on #132
@0x48piraj Can you share a link to your branch here or create a pull request (and close it if you think so)?

[2018-01-08 01:03] saarthakchats commented on #88
@niccokunzmann
What should be the dimensions and after I have made it, where do I add it?

[2018-01-08 01:05] saarthakchats commented on #208
@YashKumarVerma
Can I do level.js, formatting?

[2018-01-08 01:39] saarthakchats opened #251 "Index.html needs more social links"
### Expected results
All social links
### Actual results
Missing some
### Steps to reproduce the issue
Add them
## Would you like to work on this
Yes

[2018-01-08 01:44] Ploypiti commented on #225
@niccokunzmann Yep, I have point 1 and 3 in mind, but of course point 2 can be added.

[2018-01-08 03:55] YashKumarVerma commented on #208
Sure

[2018-01-08 05:36] 0x48piraj commented on #132
I made many changes, I'm right now doing this!
I will make a PR as soon as I finish it, or in worst case, will just send that somewhat broken fix.

[2018-01-08 09:52] arjunpandey2003 opened #257 "Add a new task"
### Expected results
New task added
### Actual results

### Steps to reproduce the issue
Create new file in tasks dir
## Would you like to work on this
Open for everyone.

[2018-01-08 10:03] saarthakchats commented on #257
Adding another task... Working on it!

[2018-01-08 10:03] samyakbvs commented on #257
I have also added a task #258

[2018-01-08 10:08] saarthakchats commented on #245
Can me, @samyakbvs and @arjunpandey2003 collectively work on this.

[2018-01-08 10:18] duttaditya18 commented on #245
@niccokunzmann Can I work on adding an API? I think I'll able to do that.

[2018-01-08 10:34] duttaditya18 commented on #225
@Ploypiti Awesome work on the mock up! When do you think you can start working?

[2018-01-08 10:43] #186 closed

[2018-01-08 11:06] niccokunzmann commented on #251
Which social links are missing in your view? This should be described otherwise there is no clear closing criterion and I do not know when to close this.

[2018-01-08 11:17] niccokunzmann commented on #245
Sure, please work on it. If you share a pull request with a descriptive title as soon as you start, others will see the progress.

[2018-01-08 11:18] duttaditya18 commented on #245
@niccokunzmann All right! I am starting to work on the API!

[2018-01-08 11:24] niccokunzmann opened #261 "Yellow tile does not fit in the labyrinth"
### Expected results

I would like to enter the yellow tile #260 and see a yellow wall and yellow ground

### Actual results

I see a yellow square and no ground

### Steps to reproduce the issue

http://rawgit.com/fossasia/labyrinth/master/index.html
go right right down down

[2018-01-08 11:25] arjunpandey2003 commented on #245
I am adding the tasks

[2018-01-08 11:42] duttaditya18 commented on #261
@niccokunzmann This is the problem. People just want to solve Google Code In tasks and they add these tiles in improper dimensions and stuff. The tile had 0 work put into it.

I don't think that the person who put it, even had opened a Vector Graphics Editor for making this tile. This is seriously pathetic.

[2018-01-08 11:48] niccokunzmann commented on #261
So, you would like to be sure that the quality of the work fullfills standarts.
So, since I do not make value judgements, https://rfc.zeromq.org/spec:42/C4/ I would ask you to create a pull request which reverts these changes. Is that possible? You can argue why removing this makes it better and I am sure, we can merge it, too.

[2018-01-08 11:49] duttaditya18 commented on #261
@niccokunzmann What is the point of that now. The person who had made the PR must have got his task accepted in GCI. I will just make this yellow tile the correct dimensions and make a PR.

[2018-01-08 11:51] niccokunzmann commented on #261
No. The task it not accepted, should not be. The task should state that all issues created from this one are closed.

[2018-01-08 11:52] duttaditya18 commented on #261
@niccokunzmann All right. On it!

[2018-01-08 12:18] arjunpandey2003 commented on #245
so @duttaditya18 since you are making the API, we can co-operate, you have made the API, I have added the task, we will have enabled the task

[2018-01-08 12:22] Ploypiti commented on #225
@duttaditya18 Thx. I already got the doc and interface done, only point 2 remaining.

[2018-01-08 12:24] duttaditya18 commented on #225
@Ploypiti Awesome work!

[2018-01-08 12:37] niccokunzmann commented on #261
Thanks @Beta-King for resolving this!

[2018-01-08 12:39] duttaditya18 commented on #261
@Beta-King Awesome!

[2018-01-08 12:39] Beta-King commented on #261
Thank :D

[2018-01-08 12:40] niccokunzmann commented on #261
@duttaditya18 There is something in accepting imperfect work: This collaboration is not about the work, it is about the people. If I mere 1. I can always revert. 2. I value the work of the person and it is much more fun for this person to contribute again.
As a maintainer, I think and hope, if I reject a pull request, there MUST be a written down rule and a justification for that rule.

[2018-01-08 12:40] niccokunzmann commented on #261
https://www.youtube.com/watch?v=uj-li0LO_2g

[2018-01-08 12:42] Beta-King commented on #261
I had made an error in the previous PR i guess cause i was using Sketch instead of Inkscape; i realised the error and so made the necessary changes ASAP :D

[2018-01-08 13:19] niccokunzmann commented on #261
Thanks, I will close this now.

[2018-01-08 13:19] #261 closed

[2018-01-08 13:21] niccokunzmann commented on #225
The documentation would need to be a pull request to a markdown file. This issue will be closed one day and no-one looks at it. We can think about adding a documentation folder as it grows.

[2018-01-08 13:33] naveentherocker opened #271 "Add a Functionality"
I am working on it.

[2018-01-08 13:43] STEdirisuriya commented on #183
@niccokunzmann yes close.

[2018-01-08 13:43] #183 closed

[2018-01-08 14:34] samyakbvs opened #277 "How to add a character"
In the how to add character section it isn't mentioned that the character shouldn't be an image of a renowned personality and if you want to add then you should have a proof that you are allowed to use his/her image
Also for GCI students the character should be your own work it can't be an image copied from somewhere

Working on it!!

[2018-01-08 15:11] naveentherocker commented on #206
I am working on a section of this `Add an about window and add social icons, UI creator, Contributors, a brief description on it.`

[2018-01-08 15:28] STEdirisuriya commented on #277
Oh good, CAn you add there "Don't use white spaces in characters,"

[2018-01-08 15:43] saarthakchats commented on #245
@niccokunzmann
Working on it, adding sound effects.

[2018-01-08 15:52] YashKumarVerma opened #279 "Door but cannot navigate"
## Would you like to work on this
No
![image](https://user-images.githubusercontent.com/14032427/34678762-114541ca-f4ba-11e7-8c7b-6d407972a234.png)

[2018-01-08 16:05] samyakbvs commented on #245
Adding some more sounds

[2018-01-08 16:21] saarthakchats opened #282 "Need to add documentation of how to add Music/Sounds"
#245

Working on it

[2018-01-08 16:29] saarthakchats opened #283 "Need to enable task : Create make-a-wall.md"
I and @samyakbvs will be working on adding and enabling this task to the **tasks** folder.
Please don't work without both of our consents.

[2018-01-08 16:52] naveentherocker commented on #206
Working on this `Make same message not shows to twice.`

[2018-01-08 16:55] duttaditya18 commented on #282
@saarthakchats Add documentation on how to make sound effects in Audacity or any other open source sound editor as well.

[2018-01-08 17:39] dhruvkumarverma commented on #282
please add the same to #244

[2018-01-08 17:40] dhruvkumarverma commented on #277
Add the same to #244 . ask @YashKumarVerma  to update the docs issue. Let's have only one centralized docs issue. Different issues make it difficult to manage often

[2018-01-08 17:41] dhruvkumarverma commented on #244
@YashKumarVerma How about working together on building a docs structure ?

[2018-01-08 18:09] #271 closed

[2018-01-08 18:50] YashKumarVerma commented on #244
@dhruvkumarverma , i've already done some advanced stuff on this repo.

[2018-01-08 19:25] brain-sick commented on #279
i have also noticed this issue and i wan't to work on this. Assign this to me

[2018-01-08 19:29] niccokunzmann commented on #279
@brain-sick You can work on it, then. Please share your progress.

[2018-01-08 19:39] niccokunzmann commented on #88
@saarthakchats This is an .ico file, they have different resolutions in one file. I think, 48x48 is enough. But you can choose.

[2018-01-08 19:40] 0x48piraj commented on #245
Warming up my music consoles!

[2018-01-08 19:55] sayak119 commented on #30
@niccokunzmann can we add codacy ?

[2018-01-08 20:44] niccokunzmann commented on #245
@samyakbvs Would you like to review my pull request #291 ?

[2018-01-08 20:55] niccokunzmann opened #292 "solve license clash for the files in the /audio folder"
### Expected results

I would like to know the license of the files
- /audio/minecraft.mp3
- /audio/outdoor.mp3

### Actual results

No licensing details are provided. I doubt they are AGPL.

Solution Ideas:
- either add the license
- or remove the files

Hints:
Please use git blame to find the person who added the file and ask for the license to be provided.

[2018-01-08 21:05] niccokunzmann commented on #277
It is the same with music: rights are everywhere. I added some hints in the contributing.md: https://github.com/fossasia/labyrinth/blob/master/CONTRIBUTING.md -> licensing.

[2018-01-09 00:39] saarthakchats commented on #292
@niccokunzmann
I have also added some sound in my PR #280
I will add licensing right after that PR is merged. Pls, merge that so that I can immediately work on the next one.

[2018-01-09 01:29] samyakbvs opened #295 "align the buttons"
align the prev audio and next audio buttons
working on it

[2018-01-09 01:30] samyakbvs commented on #277
Okay will fix it till evening

[2018-01-09 03:06] samyakbvs commented on #277
Hey you mean to say that I should create a new HTML file in which there is all information on the copyright issues?

[2018-01-09 03:17] saarthakchats commented on #292
I have added License now
https://github.com/fossasia/labyrinth/pull/280

[2018-01-09 03:17] saarthakchats commented on #292
Pls merge

[2018-01-09 03:48] #283 closed

[2018-01-09 03:55] saarthakchats opened #298 "Add more alerts"
### Expected results
Good and meaningful alerts kind of giving hints.
### Actual results
Very few alerts which aren't meaningful
### Steps to reproduce the issue
Add them.
## Would you like to work on this
Yes, I will enable this task as well in tasks folder. Please don't work on it without my consent.

# Note:-
Alerts should also be related to the theme, when new levels are added.

[2018-01-09 04:37] saarthakchats opened #301 "Improve PR template"
Will be adding some more things

[2018-01-09 04:45] Ploypiti commented on #206
Point 2 `Single color BG` is a part of #225, currently working on it.

[2018-01-09 05:14] saarthakchats opened #302 "Can walk through wall in yellow tile"

[2018-01-09 05:15] saarthakchats commented on #302
Working on it

[2018-01-09 05:15] arjunpandey2003 commented on #302
working

[2018-01-09 05:15] saarthakchats commented on #302
Yes me and @arjunpandey2003 are collaborating

[2018-01-09 05:16] arjunpandey2003 commented on #302
working pls dont work without our consent

[2018-01-09 05:17] #302 closed

[2018-01-09 05:19] samyakbvs opened #303 "Walk through wall"
In the yellow tile, player is able to walk through the wall
Working on it!

[2018-01-09 05:49] Ploypiti opened #307 "Badges"
### Expected results
Enable badge achievement when players reach a certain tile, e.g., discovered a treasure.
![image](https://user-images.githubusercontent.com/32614202/34706604-58ef2550-f53b-11e7-8c03-aa3fa8789c5d.png)
_Source: http://en.wikipedia.org/wiki/Bartle_Test_
### Steps to reproduce the issue
Design & Define the badges.
## Would you like to work on this
Yep

[2018-01-09 08:48] brain-sick commented on #279
i got the issue and the fix, but i wan't some clarity about gameplay, is it nessecary that we must get the key before we find the treasure

[2018-01-09 09:05] brain-sick commented on #279
i fixed the bug, what i did is that , when ever we get the key then only we can enter the treasure and the only door to enter the treasure was from left, that is from the cricket ground side.
Please tell me how to commit the changes.

[2018-01-09 09:16] brain-sick commented on #303
i hope, you have solved it as it issue in the yellow tile is looking fixed

[2018-01-09 09:59] niccokunzmann opened #310 "add license files"
### Expected results

https://github.com/fossasia/labyrinth/pull/296#issuecomment-356235659 The files in this pull reques must have a license close by.

### Actual results

The files do not have a license in them.

[2018-01-09 10:01] #277 closed

[2018-01-09 10:11] niccokunzmann commented on #142
#300

[2018-01-09 10:20] niccokunzmann commented on #245
Thanks for all the work. I want to review this and see how we can go further.

[2018-01-09 10:28] duttaditya18 commented on #245
@niccokunzmann I think all is done right here, I see a problem that the music stops after one is over. You have to manually click the buttons for going to a new song. I am working on that.

I think you can add it in this Issue only. I don't want to make a new issue.

However, the problem is that the only method I can come up with for solving this is check every second if the song has stopped or no

[2018-01-09 10:30] YashKumarVerma commented on #132
@0x48piraj updates?

[2018-01-09 10:33] duttaditya18 opened #313 "In howtoplay.html, the footer text uses padding instead of text align."
### Expected results
It uses padding left.

### Actual results
It should use text align center

### Steps to reproduce the issue
Go to the bottom of howtoplay.html

### Would you like to work on this
Sure. Why not?

[2018-01-09 10:38] niccokunzmann commented on #225
Adding the advanced tag as much effort flows into this.

[2018-01-09 10:39] #313 closed

[2018-01-09 10:49] naveentherocker commented on #206
Working on this Use characters that haven't white space.

[2018-01-09 10:56] niccokunzmann commented on #245
Thanks for enabling the task. I will wait for #315 and #316 to be merged and then I will close this and split it up into different issues. Thanks for all other helpers reviewing and testing this!

[2018-01-09 11:18] arjunpandey2003 opened #317 "Improve Credits.html"
### Expected results
Add a better UI
### Actual results
Add some styles and add the navbar
### Steps to reproduce the issue
Update the file
## Would you like to work on this
Yes, I am working!! Open for collabration

[2018-01-09 11:19] niccokunzmann commented on #142
I added the new feature button to include
- [ ] github contributors
- [ ] MIT/Apache licensed libraries
- [ ] music credits (can be loaded from API)

[2018-01-09 11:19] naveentherocker opened #318 "Add Contributors Section to the Site"
### Expected results
List of Contributors who contributed to the Game along with their no.of Contributions
### Actual results
No Information regarding Contributors
## Would you like to work on this
Yes I am working on it

[2018-01-09 11:23] arjunpandey2003 opened #319 "Walk through wall"
<img width="508" alt="screen shot 2018-01-09 at 4 53 40 pm" src="https://user-images.githubusercontent.com/25302509/34718693-ad89f500-f55d-11e7-94b6-894d5f62d9d2.png">
### Expected results
cannot walk through wall
### Actual results
Walking through wall
### Steps to reproduce the issue
Update tiles.js
## Would you like to work on this
Yes, I am. Please don't without my consent

[2018-01-09 11:24] arjunpandey2003 commented on #319
Walk through in above tile

[2018-01-09 11:31] arjunpandey2003 opened #322 "Functionality"
Punsihment for landing on the check mate tiles
### Expected results
If the user has key remove key
### Actual results
Nothing happens
### Steps to reproduce the issue
Update files
## Would you like to work on this
Yes Please dont without my consent

[2018-01-09 11:43] 0x48piraj commented on #132
Jump into it @YashKumarVerma :+1:

[2018-01-09 11:43] #319 closed

[2018-01-09 11:49] Ploypiti opened #325 "Properly Align sidebar and social media section"
### Expected results
Properly aligned sidebar menu, no duplicated elements, and separated social media section.
### Actual results
The alignment is uneven and there's a bunch of duplicated element, e.g, audio button;
![image](https://user-images.githubusercontent.com/32614202/34719490-a42b8a0e-f56d-11e7-8d31-ca9f9decf41c.png)
Besides, the audio icon is not noticeable.
Second, the social media thin

[2018-01-09 12:14] niccokunzmann commented on #322
Sounds good. I understand it, clear issue to me. Thanks!

[2018-01-09 12:15] niccokunzmann commented on #318
@naveentherocker There is issue #142 could you synchronize with this? Is this one different?

[2018-01-09 12:16] niccokunzmann commented on #317
If you like to get people on board, you can also ask in the chat. There is also a task to try out the collaborate on a pull request workflow.

[2018-01-09 12:17] niccokunzmann commented on #303
@samyakbvs Please check and close this, then.

[2018-01-09 12:18] niccokunzmann commented on #298
I think, there was a pull request for that. We can link it here.

[2018-01-09 12:19] niccokunzmann commented on #279
@brain-sick Please ask in the chat how to create a pull request. What do you try to do? There is also documentation in the readme file, if I remember correctly.

[2018-01-09 12:20] niccokunzmann commented on #257
New tasks we added, closing this. Please comment to re-open.

[2018-01-09 12:20] #257 closed

[2018-01-09 12:26] brain-sick commented on #279
i discovered the issue is already solved in the new clone i did

[2018-01-09 12:27] brain-sick commented on #279
it was not passing through the door just because the played didn,t had the key to move to the treasure tile, i think this is not an issue

[2018-01-09 12:29] brain-sick commented on #303
not the yellow tile , but in few other location i noticed this problem, let me solve this

[2018-01-09 12:34] niccokunzmann commented on #245
I will close this now. Other ideas taken from this issue can be used to create other issues, see the optional part.

[2018-01-09 12:34] #245 closed

[2018-01-09 12:39] STEdirisuriya commented on #206
If one point resolved please say in this.

[2018-01-09 12:39] STEdirisuriya commented on #206
Give new ideas

[2018-01-09 12:42] naveentherocker commented on #318
@niccokunzmann #142 is Slightly different from this

[2018-01-09 13:35] duttaditya18 opened #331 "A small typo prevents labyrinth from working."
### Expected results
Correctly working.

### Actual results
It is not.

### Steps to reproduce the issue
See dev console.

### Would you like to work on this
Yup!

[2018-01-09 14:27] brain-sick opened #334 "walk though walls"
### walking only through doors was expected

### player walking through walls

### modify code

##Yes

[2018-01-09 15:14] YashKumarVerma opened #336 "List All Tasks added / pending addition to GCI Site"
### Expected results
List of tasks already on site and the ones which are still not there

### Actual results
There is no systematic data for the same

### Steps to reproduce the issue
Create A list

## Would you like to work on this
Can Help. Feel free to qork

[2018-01-09 15:38] abishekvashok commented on #279
@brain-sick pls implement a behavior where the door tile maybe rendered (used) when we have the key and the current tile that's there (wall) when we don't have a key. It will improve the game, won't it?

[2018-01-09 16:11] abishekvashok commented on #180
@niccokunzmann that will be done in the levels issue

[2018-01-09 16:21] abishekvashok commented on #161
@niccokunzmann finally we have managed to do it in #339

[2018-01-09 16:51] brain-sick opened #341 "player comes above the alert boxes"
### alert boxes must be on top

### player blocks display of alert boxes

### i am still figuring it out

## No

[2018-01-09 17:47] STEdirisuriya commented on #225
@Ploypiti nice work

[2018-01-09 17:52] STEdirisuriya commented on #334
https://github.com/fossasia/labyrinth/issues/206 11th point. Don't make issues for same things, Work on it from that issue.

[2018-01-09 17:53] STEdirisuriya commented on #341
https://github.com/fossasia/labyrinth/issues/206 point 12
Don't add new issue without seeing old ones

[2018-01-09 17:54] STEdirisuriya opened #343 "Game is not working"
### Expected results
Make game working correctly.

### Actual results
not working

### Steps to reproduce the issue
Small issues can be found so fix them.

## Would you like to work on this
 working, others also welcome

[2018-01-09 17:58] STEdirisuriya commented on #343
https://github.com/fossasia/labyrinth/issues/331

[2018-01-09 17:58] STEdirisuriya commented on #331
https://github.com/fossasia/labyrinth/issues/343

[2018-01-09 17:59] STEdirisuriya commented on #307
Good Job!

[2018-01-09 18:00] STEdirisuriya commented on #307
Can we support for making Badges.

[2018-01-09 18:01] samyakbvs commented on #303
@brain-sick You can open other issues for other tiles

[2018-01-09 18:02] #322 closed

[2018-01-09 18:04] #318 closed

[2018-01-09 18:05] #331 closed

[2018-01-09 18:07] STEdirisuriya commented on #341
If you want to work no problem work on issue that's already created.

[2018-01-09 18:07] STEdirisuriya commented on #334
If you want to work no problem work on issue that's already created.

[2018-01-09 18:08] STEdirisuriya commented on #343
working now thanks

[2018-01-09 18:08] #343 closed

[2018-01-09 18:15] #303 closed

[2018-01-09 18:29] niccokunzmann opened #346 "Add licenses for sound #"
### Expected results

All sound files are licensed.

### Actual results

Some were added in #280 without license

### Steps to reproduce the issue

see #280 and the /audio folder

https://github.com/fossasia/labyrinth/pull/280#issuecomment-356363778 - please check here for the files and advice.

[2018-01-09 18:32] saarthakchats commented on #346
@niccokunzmann I will be adding some licenses.

[2018-01-09 18:32] samyakbvs commented on #346
Me too

[2018-01-09 18:45] kubami9 opened #347 "Add ninja character"
### Expected results
Ninja character in the game

### Actual results
There's not any ninja

### Steps to reproduce the issue
Create ninja character in graphic program and add it to files and code

## Would you like to work on this
Yes! 😄

[2018-01-09 19:52] Beta-King opened #352 "Red tile has a missing wall !!"
### Expected results
a wall (right) in the red tile

### Actual results
a wall is missing !!

### Steps to reproduce the issue
play the game
find the red tile
notice the wall missing

## Would you like to work on this
YES !!

[2018-01-09 19:57] #347 closed

[2018-01-09 20:49] saarthakchats commented on #352
Close this issue

[2018-01-09 21:37] #301 closed

[2018-01-09 21:37] saarthakchats commented on #301
It is solved

[2018-01-09 21:53] niccokunzmann commented on #30
Yes, please :)

[2018-01-09 22:00] niccokunzmann opened #358 "Clean up files or motivate them"
### Expected results

I would like to know the purpose of each file.

### Actual results

I do not know why we need these:
- [x] https://github.com/fossasia/labyrinth/blob/master/gui.js
- [x] https://github.com/fossasia/labyrinth/blob/master/self_made.svg

some possible actions:
- move
- remove
- document

[2018-01-09 22:06] niccokunzmann commented on #358
@RuKoBe Thanks for helping out on this issue!

[2018-01-10 01:57] Ploypiti commented on #307
@STEdirisuriya Yeah, sure. I'm adding the doc.

[2018-01-10 01:57] #307 closed

[2018-01-10 03:07] Ploypiti opened #359 "Add badges documentation"
### Expected results
Documentation on how to add badges.
### Actual results
There's no doc & dimension specification.
### Would you like to work on this
Yes

[2018-01-10 05:12] Beta-King opened #362 "Add clues to tiles to help players to reach different parts of the Labyrinth :D"
### Expected results
clues to tiles

### Actual results
no clues to tiles, people have to just wander around so not as interesting

### Steps to reproduce the issue
go to the game
play it

## Would you like to work on this
YES !!

[2018-01-10 05:13] Beta-King commented on #362
https://github.com/fossasia/labyrinth/pull/348

[2018-01-10 05:13] #362 closed

[2018-01-10 05:20] #352 closed

[2018-01-10 09:33] duttaditya18 opened #365 "Can pass through tiles."
### Expected results
This doesn't happen,
### Actual results
Can pass through Mincraft tile bottom and go to top of tile to the left of creepy.

### Steps to reproduce the issue
(see up-up-left-up and up-up-left-up-right-down)

### Would you like to work on this
Yes!

[2018-01-10 09:37] duttaditya18 opened #366 "Tile Audio doesn't stop on movement to new tile."
### Expected results
It should stop.

### Actual results
It doesn't.

### Steps to reproduce the issue
Go up and up. The audio from outdoor will still be playing.

### Would you like to work on this
Ya! Sure!

[2018-01-10 11:31] duttaditya18 opened #369 "Take out unused fonts and improve code quality/indentation."
### Expected results
There are no unused fonts/css files on the website. And all the files have good code indentation.

### Actual results
There are some unused css files.

## Would you like to work on this
Yup!

[2018-01-10 11:44] #369 closed

[2018-01-10 13:08] YashKumarVerma commented on #282
Kindly add the documentation to the documentation folder.

[2018-01-10 13:17] #359 closed

[2018-01-10 13:48] STEdirisuriya opened #370 "the game is not working"
### Expected results
Make game working

### Actual results
not working

### Steps to reproduce the issue

## Would you like to work on this
I am working

[2018-01-10 14:11] niccokunzmann opened #372 "Remove compressed files from travis code check"
### Expected results

A code quality check which tells us where to fix problems

### Actual results

The code quality check outputs huge files.

### Steps to reproduce the issue

https://travis-ci.org/fossasia/labyrinth/builds/327227735

Ideas for a solution:
- look in the js and css folder for included external code like jquery or materialize or sweetalert
- ignore this code in coala

[2018-01-10 14:14] #317 closed

[2018-01-10 14:21] niccokunzmann opened #373 "A lot of bugs appearing"
### Expected results

Usual few bug issues.

### Actual results

Lately, we opened a lot of bug issues.

### Suggested steps

Please identify the bugs and help us with code / documentation to identify changes with a bug.

Ideas:
- syntax errors: travis check which is red when there is a syntax error
- walking through tiles: document walls/tiles and add some check if the picture is in the walls/doo

[2018-01-10 14:27] #365 closed

[2018-01-10 14:27] #366 closed

[2018-01-10 14:28] niccokunzmann opened #375 "add license"
### Expected results

images/game/inventory/diamondBlock.png looks copied. Please add a license

### Actual results

images/game/inventory/diamondBlock.png has no license attached.

#368

[2018-01-10 14:29] #358 closed

[2018-01-10 14:45] 0x48piraj commented on #375
I too think it's copied.

[2018-01-10 15:03] amryarios commented on #375
Excerpt about the license of the image, So this picture is breaking, because it can not give a copy?
What is your opinion ?

***GUIDELINES***

These Guidelines cover the use of our Brands and our Assets. For these purposes, when we refer to:

a "Name" what we mean is the name of any one of our games, taglines, features, events, or company identity, as well as any names which are confusingly simila

[2018-01-10 15:08] 0x48piraj commented on #375
@amryarios Should I add it ?

[2018-01-10 15:25] abishekvashok opened #379 "Game not starting"
### Expected results

It should work.

### Actual results

It is not working.

### Steps to reproduce the issue

Go to the website.

## Issues

SyntaxError: missing ) after argument list
[Learn More]
tiles.js:834:1
unreachable code after return statement
[Learn More]
levels.js:24:2
SyntaxError: missing } after function body
[Learn More]
levels.js:58
note: { opened at line 12, column 0
levels.js:12

[2018-01-10 15:26] abishekvashok commented on #379
Since these are simple typos I am going to wait approx 30 mins, if no one is claiming I will do this.

[2018-01-10 15:34] samyakbvs commented on #379
Claming

[2018-01-10 15:35] abishekvashok commented on #161
Can we close this now?

[2018-01-10 15:39] abishekvashok commented on #379
@samyakbvs ok sure go on.

[2018-01-10 15:41] samyakbvs commented on #379
I will only be able to do them when @niccokunzmann merges my current PR https://github.com/fossasia/labyrinth/pull/377

[2018-01-10 15:43] abishekvashok commented on #379
@samyakbvs make a new branch on your fork tracking upstream master and work there
`git cehckout jacktherover --track upstream master`

[2018-01-10 15:49] samyakbvs commented on #379
I including the changes in the same PR

[2018-01-10 15:49] samyakbvs commented on #379
So no problem

[2018-01-10 15:57] samyakbvs commented on #379
unreachable code after return statement
[Learn More]
levels.js:24:2

@abishekvashok What do I have to do in this?

[2018-01-10 15:58] samyakbvs commented on #379
Oh I got it

[2018-01-10 16:37] 0x48piraj commented on #161
Yep. The Add different levels feature is added. I think it should be closed :+1:

[2018-01-10 17:03] duttaditya18 commented on #375
@niccokunzmann This is the official End User License Agreement of Minecraft from Mojang : https://account.mojang.com/documents/minecraft_eula

I have seen animated videos which are monetized of Minecraft using the original textures. They are all around YouTube. I don't think we should have any problems with this. I will add the license if you agree to it.

If you don't think this is right, tell me

[2018-01-10 17:06] sayak119 commented on #30
**Steps - **
1. Login with GitHub.
2. Go to organizations present in upper right hand corner drop down.
3. Create new organization.
4. Open the new organization you just created.
5. Go to plan and billing and select open source. Fill a form that appears after this step.
6. Go to Teams and select Developer and then add project. same with Administrator.
7. When the project is evaluated for the first

[2018-01-10 17:45] #379 closed

[2018-01-10 18:26] niccokunzmann commented on #375
The license clearly states that we are not allowed to include their assets. But it should take about 15-20 minutes to create something in Inkscape that looks quite similar.

[2018-01-10 18:44] niccokunzmann commented on #375
Why do I want to enforce this:
If we open the game for contributions of pictures and music, we have a lot of possibilities to make the game more sophisticated.
Every file that we include must be clearly licensed or it is automatically AGPL.

Also: Every version of  the game counts although it is very unlikely that people look at past versions. But just having included this file under AGPL in your

[2018-01-10 18:48] 0x48piraj commented on #375
Yes, I have seen this scenario :confounded:

I think, we, from now on, should not merge unlicensed assets.

[2018-01-10 18:57] niccokunzmann commented on #375
I am just a developer who is a bit more into licenses. So I can not say if we are 100% on the right track. If you like to watch/outreach some information about how to license properly that is definitely helpful.
e.g. I heard that we should put the MIT license in the credits file because this is another view of the software wihout code.

Might be but it is not practiced widely.

[2018-01-10 20:11] niccokunzmann commented on #161
Yes, Iwould like to check Plase guide me how to go the the next level.

[2018-01-10 20:21] 0x48piraj commented on #161
It should load the next level once we reach the goal tile. :100:

[2018-01-10 20:25] niccokunzmann commented on #30
I added codacy. Thanks for the hints!

[2018-01-10 20:25] #30 closed

[2018-01-10 20:25] niccokunzmann commented on #161
I can not reach the goal tile currently.

[2018-01-10 20:29] 0x48piraj commented on #161
Same case with me.

[2018-01-10 20:53] #375 closed

[2018-01-11 01:03] YashKumarVerma commented on #372
attempting

[2018-01-11 01:20] YashKumarVerma opened #386 "UI too large"
### Expected results
A UI that fits a screen (`1366x768:my config`)

### Actual results
![screenshot 293](https://user-images.githubusercontent.com/14032427/34803850-88f4c370-f69b-11e7-88aa-bb0e15df07d0.png)

### Steps to reproduce the issue
- Fix Stylesheets

## Would you like to work on this
No

[2018-01-11 01:21] YashKumarVerma opened #387 "Contributers page broken"
### Actual results
![screenshot 294](https://user-images.githubusercontent.com/14032427/34803906-da43de3c-f69b-11e7-81d7-b65f24187821.png)

### Steps to reproduce the issue
-Link scripts

## Would you like to work on this
No

[2018-01-11 01:23] YashKumarVerma opened #388 "Material Look lost"
### Expected results
- Design following material guidelines.

### Actual results
- A somewhat `hybrid` state, misses ripple effects and shadows

### Steps to reproduce the issue
- Fix stylesheets for changes / revert the same

## Would you like to work on this
No

[2018-01-11 01:29] YashKumarVerma opened #389 "Migrate Documentation to `documentation` directory"
### Expected results
Separate file for each item.

### Actual results
All added to readme

### Steps to reproduce the issue
-Transfer content,
-Edit Readme

## Would you like to work on this
Inviting All

[2018-01-11 06:21] STEdirisuriya opened #392 "Add a suitable icon for labyrinth"
### Expected results
Add suitable icon for labyrinth like following
![labyrinthicon](https://user-images.githubusercontent.com/33794760/34811187-a26c4e02-f6c5-11e7-8edc-d3be4ff4e76b.png)

### Actual results
Current icon is not suitable

### Steps to reproduce the issue
Change icon

## Would you like to work on this
Yes,

[2018-01-11 06:22] STEdirisuriya commented on #392
@niccokunzmann I want places where shows icon,
Like on index.heml header, there is one of icon. Please tell me all other places

[2018-01-11 06:30] STEdirisuriya opened #393 "Add more languages"
### Expected results
- [ ] Add "how to play" File in more languages.
- [ ] Show about in different languages.
- [ ] Show for translate game messages.

### Actual results
No traslations

### Steps to reproduce the issue
Try jekyll plugin

## Would you like to work on this
I am working to add Sinhala language, Get together to add all other languages.

[2018-01-11 06:41] STEdirisuriya opened #394 "add a promotional video"
### Expected results
add promo video about labyrinth

### Actual results
still no

### Steps to reproduce the issue
use open source editor

## Would you like to work on this
Yes of course

[2018-01-11 06:51] STEdirisuriya opened #395 "Add version updated on readme.md"
### Expected results
Add versions and details on readme.md

### Actual results
not yet

### Steps to reproduce the issue
update readme.md

## Would you like to work on this
I'll do, @niccokunzmann and others I want help,

[2018-01-11 06:51] STEdirisuriya commented on #395
@niccokunzmann Please send me updates in earlier

[2018-01-11 08:34] YashKumarVerma commented on #392
Duplicate of #88

[2018-01-11 09:16] #372 closed

[2018-01-11 09:23] niccokunzmann commented on #386
A hint: In firefox and other browsers, there are developer tools, where you can change the resolution of the browser.

[2018-01-11 09:25] niccokunzmann commented on #387
looks like jquery is not loaded.

[2018-01-11 09:26] niccokunzmann commented on #388
I have troubles understading what should be changed where: Could you mark the differences and expectations in the picture?

[2018-01-11 09:28] niccokunzmann commented on #392
You can put this into all the other HTML files.

- index
- credits
- contributors

[2018-01-11 09:29] niccokunzmann commented on #392
@STEdirisuriya Please proceed with your updates in #88 because other people would also like to know about it.

[2018-01-11 09:29] #392 closed

[2018-01-11 09:33] niccokunzmann commented on #393
Hi, I had a look at several jekyll plugins. I would like to keep the game as simple to review and copy as it is to have a low barrier for contribution and playing. I would propose to create a
translations.js file which includes translations like this:

[code]
We can use Javascript to insert the translations. There might be libraries, too.

What do you think?

[2018-01-11 09:35] niccokunzmann commented on #395
So, I can not help as I want to know more: which version do you want to update? What does versioning have to do with the README file?

[2018-01-11 09:36] niccokunzmann commented on #208
@YashKumarVerma @saarthakchats There is three days no progress. I would like to keep the issue tracker small. I will close this now. You can open a new issue. Also, travis now helps us find out where we have to change what.

[2018-01-11 09:36] #208 closed

[2018-01-11 09:40] niccokunzmann opened #398 "Show music tile license when playing it"
### Expected results

We have music whose rights owner want us to show a certain license when the music is played.
The music is played, when we enter a tile.

### Actual results

We do not display tile music license information.

### Hints

Please have a look at the background music and use the same structure to create a structure for the tile music:

[code]

Then, change the tile music call to us

[2018-01-11 09:45] #325 closed

[2018-01-11 09:47] niccokunzmann commented on #394
#391 A promotional video was added.

I think, issues should be solvable by everyone. So, closing this.

[2018-01-11 09:47] #394 closed

[2018-01-11 09:48] niccokunzmann commented on #394
https://gitter.im/fossasia/labyrinth?at=5a5732fa61a861c927fd3edc

[2018-01-11 09:54] duttaditya18 commented on #398
Will work on it!

I love making these APIs.

[2018-01-11 09:55] duttaditya18 commented on #395
@niccokunzmann I think we can add a version id on the website. Like there in fossasia/open-event-webapp

[2018-01-11 10:14] niccokunzmann commented on #395
I my eyes, we do not have a version. We have an almost always working product which is alive.
http://hintjens.com/blog:85 - this inspires me.
What do you think about the article?

[2018-01-11 10:17] niccokunzmann commented on #398
@duttaditya18 Please have a look at this: http://creativecommons.org/choose/  At the bottom, it creates HTML code. I think for the best flexibility, we should use HTML as license text an not split it up. What do you think?

[2018-01-11 10:20] duttaditya18 commented on #398
@niccokunzmann Awesome idea! Will do that.

[2018-01-11 10:21] duttaditya18 commented on #395
@niccokunzmann the "version id" is just the commit sha. i think we can do that.

[2018-01-11 10:25] niccokunzmann commented on #395
:) ahh. ok. Cool, I like that, too! I wonder how you will do that. I
have no clue. Maybe you will surprise me with it.

On 01/11/2018 11:21 AM, Aditya Dutt wrote:

[2018-01-11 10:34] duttaditya18 commented on #395
@niccokunzmann Can this issue be considered a "new feature"?

[2018-01-11 11:41] #395 closed

[2018-01-11 11:52] niccokunzmann commented on #388
@YashKumarVerma We also have a design guide. Please refer to that, too. You can also improve it https://github.com/fossasia/labyrinth/blob/master/UI_Identity.md

[2018-01-11 11:55] niccokunzmann commented on #46
#400 looks for syntax errors.

[2018-01-11 11:55] #46 closed

[2018-01-11 11:57] abishekvashok commented on #161
@niccokunzmann I guess the game loads the new level too quick. Shall we add a timeout?

[2018-01-11 12:01] #346 closed

[2018-01-11 12:02] niccokunzmann commented on #161
I would ask the players if they would like to go to the new level. Maybe they like to eat a cake first.

[2018-01-11 12:02] niccokunzmann commented on #161
Just an idea: If you use a dropdown menu like for the characters, you can choose levels when you are on this tile.

[2018-01-11 12:03] niccokunzmann commented on #161
This also allows going back and forth between the levels and get items from one level to the other.

[2018-01-11 12:04] abishekvashok commented on #161
@niccokunzmann maybe we can transporter tiles.

[2018-01-11 12:04] niccokunzmann commented on #161
like gateways from stargate^^

[2018-01-11 12:06] abishekvashok commented on #379
@samyakbvs sorry to be late : )Happy since you got it

[2018-01-11 12:27] amryarios opened #404 "There is a problem with the daredevil.svg image"
### Expected results

- Create images according to their size ie 55 x 60
- Eliminates the white image that surrounds the image

### Actual results
- The image is 357 x 483
- It looks white around the image

![image](https://user-images.githubusercontent.com/34100642/34825279-6b688f6c-f704-11e7-8a1a-f16ff1c874c7.png)

### Steps to reproduce the issue

I will change the image to the correct size of

[2018-01-11 12:30] niccokunzmann commented on #161
- view/hide a level (object oriented: as a method of levels)
- add a new level object without changing the other level objects
- allow listing levels the player can go to, not forgetting their state
- have the player jump between levels and take the inventory to the next levels, too.
- ask the player to choose the level to go to

@abishekvashok @0x48piraj @arjunpandey2003 @YashKumarVerma What do y

[2018-01-11 12:36] 0x48piraj commented on #161
I think, second point was already implemented by @abishekvashok
I can work on third point. I can make a box themed popup that will allow listing of levels.
And, can use `LocalStorage()` to keep the current level data :+1:
What do you all think ?

[2018-01-11 12:40] abishekvashok commented on #161
@niccokunzmann seems great

[2018-01-11 12:49] niccokunzmann commented on #161
I really want to value the time you put into this solution. At the same time, there are some things important to me. And I will comment here. I will just let air out of my inner critique and please see I do not expect you to know that before I say it:

- You use a levelCode. So, it is clear, levels need some kind of identity. Usually, we do this with names in object oriented programming. Using a l

[2018-01-11 12:51] niccokunzmann commented on #161
https://vimeo.com/26330100

[2018-01-11 12:53] Beta-King opened #407 "Common alignment of Audio control buttons"
### Expected results
bottons should be in order, --> back - pause/un-pause - forward

### Actual results
bottons are placed in order, --> back - forward - pause/un-pause

### Steps to reproduce the issue
go to labyrinth's game

## Would you like to work on this
YES!!

[2018-01-11 12:55] abishekvashok commented on #161
@niccokunzmann I value you r suggestions :) We will try to fix the current architecture now, you are free for a revert at any time.

[2018-01-11 12:59] niccokunzmann commented on #161
Ideas which I have which we can use but do not need to:

- rename #tiles to #levels
- levels add their tiles in divs in #levels
- the level is now added to the players and the players keeps track of all levels they can go to
- rename createTestLevel to createFirstLevel
- a player can now leave a level to go to another level
- levels can hide / show which is used when the player tells the level abo

[2018-01-11 13:03] niccokunzmann commented on #161
I will work on (2) now.

[2018-01-11 13:06] Beta-King opened #408 "Missing tiles"
### Expected results
boat tile should be visible

### Actual results
boat tile is not visible

### Steps to reproduce the issue
play labyrinth
find boat -- not there

## Would you like to work on this
YES !!

[2018-01-11 13:11] abishekvashok commented on #161
I am working on it

[2018-01-11 13:19] niccokunzmann commented on #161
@abishekvashok Please say what you are working on, so we can take part without doing work twice.

[2018-01-11 13:28] #404 closed

[2018-01-11 13:43] niccokunzmann commented on #407
I think we can close this now.

[2018-01-11 13:43] #407 closed

[2018-01-11 14:26] niccokunzmann opened #411 "Fix HTML errors"
### Expected results

a clean HTML code

### Actual results

Some html errors, see #410 and the travis build

## Would you like to work on this

yes, but help is appreciated.

[2018-01-11 14:27] #408 closed

[2018-01-11 15:50] Beta-King opened #414 "missing social links"
### Expected results
social links (added)

### Actual results
missing social links

### Steps to reproduce the issue
go to labyrinth (the game)
open the hamburger

## Would you like to work on this
YES !!

[2018-01-11 15:50] #414 closed

[2018-01-11 15:50] samyakbvs opened #415 "Navbar"
Overlapping content
I am fixing this pls take my consent before taking up the issue

[2018-01-11 17:36] kubami9 opened #418 "Add lava tile"
### Expected results
Lava tile in the game

### Actual results
No lava tile in the game

### Steps to reproduce the issue
Create lava.svg and add it to code

## Would you like to work on this
Yes 😄

[2018-01-11 18:17] ankit026 opened #421 "remove the const keyword"
Steps to reproduce the issue

## Would you like to work on this

[2018-01-11 18:54] Beta-King opened #423 "Tiles not aligned in Labyrinth properly"
### Expected results
aligned tiles

### Actual results
not aligned tiles (dis-figured and size not supported)

### Steps to reproduce the issue
play labyrinth
find tiles (river and boat)

## Would you like to work on this
YES!!

[2018-01-11 19:11] #418 closed

[2018-01-11 19:15] niccokunzmann commented on #421
It can be replaced by `var`

[2018-01-11 19:16] niccokunzmann opened #424 "Create pixbay folder and license"
### Expected results

There are tiles which use content which is under CC0.
I expect to see
- a folder for these tiles
- a LICENSE in the folder which is from pixbay
- a README which states when to add tiles there.

### Actual results

Nothing like this but
- merged #419
- pull request #420

[2018-01-11 19:24] kubami9 commented on #424
I'd like to work on it :)

[2018-01-11 19:52] niccokunzmann commented on #424
Sure, please go ahead.

[2018-01-11 19:59] niccokunzmann commented on #142
@0x48piraj We have a contributors file now. I think, we can close this.

[2018-01-11 19:59] #142 closed

[2018-01-11 20:40] duttaditya18 commented on #421
@ankit026 Const is much better for storage variables that won't change in the middle of running.

Read this here : https://ponyfoo.com/articles/var-let-const

I really don't want someone to do this. Please @niccohunzmann you have to close this.

[2018-01-11 20:46] duttaditya18 commented on #388
I think we are covering to a lot more flatter look. And in my opinion, it looks great on this.

You can work on improving this current flat look with some aspects of material design.

[2018-01-11 20:46] duttaditya18 commented on #387
Sure. I'll work on this.

[2018-01-11 20:47] duttaditya18 commented on #386
We have updated the sidebar to be more suitable for all screen sizes.

[2018-01-11 20:48] duttaditya18 commented on #370
Close this.

[2018-01-11 20:49] duttaditya18 commented on #298
Close this.

[2018-01-11 20:49] duttaditya18 commented on #295
Close this.

[2018-01-11 20:50] duttaditya18 commented on #292
I think this is solved now.

[2018-01-11 20:52] #198 closed

[2018-01-11 20:56] duttaditya18 commented on #65
This is now extremely difficult to do as all other tiles were made on the basis of the previous one which had wrong dimension.

We need to get a script or action going for this issue.

Does anyone wanna help?

[2018-01-11 22:00] kubami9 opened #428 "Bugged cake tile"
### Expected results
Solved problem with the cake tile

### Actual results
Cake tile is bugged, when you enter it, you can't leave

### Steps to reproduce the issue
Allow player to leave on any side

## Would you like to work on this
Yes

![bug_cake](https://user-images.githubusercontent.com/16598854/34849587-24709ef0-f723-11e7-88d8-459b842ab3a7.png)

[2018-01-11 22:08] niccokunzmann commented on #424
I will close if all images are in this folder which belong there, see the two pull requests

[2018-01-12 06:24] YashKumarVerma commented on #388
what i think is,
material design = flat look (with more examples, illustrations and references), so it's easy to implement.
If I tell someone to implement a `flat` look, it can have various alterations. The proposed UI_Identity is awesome. We can use tha too.

[2018-01-12 06:28] YashKumarVerma commented on #208
@niccokunzmann Sure
as when @saarthakchats asked if he could do the same, i didn't go ahead with mine. Hope that he'd open a new issue for the same.

[2018-01-12 07:30] myfrom commented on #388
In the current version there are some colour differences, wrong fonts and lack of padding. I can try to fix it, may I take this issue?

[2018-01-12 07:37] niccokunzmann commented on #424
https://github.com/fossasia/labyrinth/tree/master/tiles/CC0%20license%20tiles

[2018-01-12 07:40] niccokunzmann commented on #298
Three days no update, closing this. We can re-open it later, just comment.

[2018-01-12 07:40] #298 closed

[2018-01-12 07:40] YashKumarVerma commented on #388
Sure @myfrom. I'll be there to help if needed.

[2018-01-12 07:41] niccokunzmann commented on #387
I edited the current page in #411

[2018-01-12 07:42] niccokunzmann commented on #411
#410 closes this.

[2018-01-12 07:42] #411 closed

[2018-01-12 07:44] niccokunzmann commented on #65
@duttaditya18 That is technical debt increasing by itself so to say.

[2018-01-12 09:01] duttaditya18 commented on #421
@niccokunzmann Why is this still open? This is clearly not required.

[2018-01-12 13:02] niccokunzmann commented on #421
@duttaditya18 I think, @ankit026 will not do it without reading the concerns you have with this. I would like to give everyone time to think about this. After all, @ankit026 opened the issue and wants to discuss this, so I would also like to read about ankit026's thoughts. You made a pretty good statement with a link and so I think, it is possible for @ankit026 to learn from the source and decide

[2018-01-12 13:12] #205 closed

[2018-01-12 13:22] naveentherocker opened #438 "Add Tasks to the GCI"
### Expected results
Every Tasks in the `Tasks` in GCI
### Actual results
There are few tasks which are not added
### Tasks which are not added

- https://github.com/fossasia/labyrinth/blob/master/tasks/Clues.md
- https://github.com/fossasia/labyrinth/blob/master/tasks/Create-A-wall.md
- https://github.com/fossasia/labyrinth/blob/master/tasks/enhancement.md

[2018-01-12 13:29] niccokunzmann commented on #161
Done: 2, 4, 5, 6

TODO:

- [ ] let the player remember levels: call `player.addLevelFromFunction(createFirstLevel)` or `player.addLevelFromFunction(createDesertLevel)`
  - [ ] the player has a mapping and does not create levels twice
  - [ ] the player opens a dialog like with the characters to choose the level
    - [ ] `player.enterLevel(level);` is called if a level is chosen which is not the c

[2018-01-12 13:32] samyakbvs commented on #161
I am finding a way to the goal tile!

[2018-01-12 15:11] Beta-King opened #444 "Add music to tiles"
### Expected results
Added music to tiles

### Actual results
no music to tiles

### Steps to reproduce the issue
play labyrinth

## Would you like to work on this
YES !!

[2018-01-12 15:21] abishekvashok commented on #438
@naveentherocker pls note that this is at the discrimination of the organization admin, mentors post tasks and admin has to approve them. I belive these are posted but unfortunately not accepted yet. Please wait.
Let's close this issue as we can't do anything much on this.

[2018-01-12 15:27] kubami9 opened #445 "Add party theme"
### Expected results
Party styled tiles with some music when you enter them

### Actual results
There's no party yet

### Steps to reproduce the issue
Create party tiles, add them to the game, add music when you enter them.

## Would you like to work on this
Yes

[2018-01-12 15:35] abishekvashok opened #446 "Add save game feature"
### Expected results

Player should be able to save their game state and reload it in the next visit.

### Actual results

No such feature

### Steps to reproduce the issue

Go to the game and play it

## Would you like to work on this

yes, taking it up as part of gci

[2018-01-12 15:37] abishekvashok commented on #446
Proposed solution,
Save entire #tile div into the local storage along with inventory items.
On visit,
check for save, if save present, load the #tile div back into the game, items one by one into inventory.

[2018-01-12 20:18] #398 closed

[2018-01-12 20:37] niccokunzmann commented on #446
We have a structure like this:
[code]
I think, it is ok if we start from any position after loading the game state and discovering again. Like in other games, you like to have your inventory but you do not expect the game to look the same as it evolves all the time. So, you want to take the most important parts with you.

I think:
Adding a `saveState() -> state` and `loadState(state)` in the playe

[2018-01-12 21:11] niccokunzmann commented on #438
Thanks for updating. Clues will not be added as we agreed it is too easy. I will look at the two other tasks.

[2018-01-12 21:52] kubami9 commented on #428
Can we give this issue label `bug`?

[2018-01-13 05:34] abishekvashok commented on #446
@niccokunzmann working on it.

[2018-01-13 05:36] abishekvashok commented on #115
@samyakbvs Is this working now? I think, we have this resized. Can we close this?

[2018-01-13 05:36] abishekvashok commented on #177
@YashKumarVerma can we close this pls?

[2018-01-13 05:37] abishekvashok commented on #225
@Ploypiti is this achieved shall we close this?

[2018-01-13 05:39] abishekvashok commented on #444
@Beta-King pls close this. You don't need issues to add music, just do a straight forward PR to add characters, music, background etc. You will need issues to suggest ui enhancements and any change in the code except the above mentioned ones

[2018-01-13 05:58] #225 closed

[2018-01-13 06:25] abishekvashok opened #454 "Game is broken"
### Expected results

it should work

### Actual results

It's not working

### Log

TypeError: tileSpecification is undefined
level.js:32:7

### Steps to reproduce the issue

Go to the game website: http://rawgit.com/fossasia/labyrinth/master/index.html

## Would you like to work on this

Waiting for somebody to take it, if it is not taken up in the next 1 hour, I will work on it :)

[2018-01-13 06:48] STEdirisuriya commented on #454
I think reason for this came again and again is while we pushed after cloned some errors with there browsers are came to this, I can remember when I cloned repo and see it nothing displayed game is broken, but on the main repo displayed game corretly, No commits ahead or behind, I don't know why. After we changed and push the error came to game, This error have only to several OS or several browse

[2018-01-13 06:49] #444 closed

[2018-01-13 06:49] Beta-King commented on #444
Yeah but during the PR someone told me to open an issue so i did but yeah i agree with you :D

[2018-01-13 06:55] abishekvashok commented on #454
The game uses js code that all browsers (main ones) I am aware of support out of the box.

[2018-01-13 08:54] #445 closed

[2018-01-13 09:08] saarthakchats commented on #424
@niccokunzmann
Doing it

[2018-01-13 09:10] abishekvashok commented on #446
@niccokunzmann should we add the functions to the player class or in a seperate js file as global functions?

[2018-01-13 09:18] niccokunzmann commented on #454
This happens if someone adds a tile which is undefined

[2018-01-13 09:18] niccokunzmann commented on #454
So, there is a tile in the current level which is not correctly referenced.

[2018-01-13 09:19] niccokunzmann commented on #454
`TypeError: tileSpecification is undefined[Learn More]`

[2018-01-13 09:25] abishekvashok commented on #454
Let me find that tile

[2018-01-13 09:31] abishekvashok commented on #454
@niccokunzmann but I can see all the tiles' implementations are in `tiles.js`

[2018-01-13 13:02] #424 closed

[2018-01-13 13:11] niccokunzmann commented on #446
Saving and storing should be in a different file as it does not have to do with anything existing. Extracting the state from the player is responsibility of the player.

[2018-01-13 13:19] #428 closed

[2018-01-13 13:25] kubami9 opened #462 "Add winter hand-drawn landscape"
### Expected results
Winter hand-drawn landscape in game, with custom sound and animation.

### Actual results
-

### Steps to reproduce the issue
-

### Implementation/Solution Ideas
Draw winter-styled tiles and recreate it in Inkscape, create custom sound and cut it, add new tiles to the code, add animation.

### Would you like to work on this
Yes

[2018-01-13 13:29] #454 closed

[2018-01-13 13:31] niccokunzmann opened #463 "Bottom controls are not responding"
### Expected results

There is a way to control the character without using arrow keys.

### Actual results

The bottom controls do not seem to work.

### Steps to reproduce the issue

- click on the bottom-right
- click the controls
- nothing moves

[2018-01-13 13:33] niccokunzmann commented on #393
@STEdirisuriya There is no plugin. I just wanted to propose using javascript.

[2018-01-13 14:51] Ploypiti opened #467 "Alert popup overwhelmed the game"
### Expected results
Continue playing without pressing _ok_ or _enter_ when the alert pops up and the alert **shouldn't** overlap the tiles; something like this:

![image](https://user-images.githubusercontent.com/32614202/34906941-5ed52d5e-f8a9-11e7-9e95-302cbc3cd2bb.png)
### Actual results
Alerts appears too often so that it's somehow annoying to press enter everywhere you go, it ruins the overa

[2018-01-13 15:09] samyakbvs opened #468 "Game restarting"
When the player moves on the tile that is located on the top of the guitar tile the game restarts

I would like to collaborate with someone on this issue

[2018-01-13 15:27] niccokunzmann commented on #468
If this is the goal tile, I might change it working on #161 but it is uncertain when I will finish with this.

[2018-01-13 15:29] abishekvashok commented on #468
@niccokunzmann yes

[2018-01-13 15:42] arjunpandey2003 commented on #468
@samyakbvs i am open for collab

[2018-01-13 16:12] STEdirisuriya opened #469 "Add something valuable into tiles."
### Expected results
Add a something valuable fact into tiles like this tile which created by me.
![image](https://user-images.githubusercontent.com/33794760/34907772-a3264056-f8a9-11e7-9512-96d5c2ee0394.png)
In addition to having fun, let's give something relevant to education for kids and adults both.

### Actual results
No valuable things showing.

### Steps to reproduce the issue
we can make m

[2018-01-13 16:28] samyakbvs commented on #468
Sure @arjunpandey2003

[2018-01-13 16:38] harsh-jindal opened #471 "Add property for Github Symbol"
### Expected results
On hovering over the GitHub symbol in "Follow us on" the colour should change .
### Actual results
On hovering over the GitHub symbol in "Follow us on" the colour does not change.
### Implementation/Solution Ideas
Add hover property for GitHub symbol.
### Would you like to work on this
Yes

[2018-01-13 16:42] harsh-jindal commented on #251
@saarthakchats I would like to work on this. Can you specify which social links?

[2018-01-13 17:09] abishekvashok commented on #446
@niccokunzmann finally done in #472

[2018-01-13 17:59] #462 closed

[2018-01-13 18:16] #446 closed

[2018-01-13 19:25] STEdirisuriya opened #475 "Remove the door that not need"
### Expected results
remove the left door of tile treasure.
![image](https://user-images.githubusercontent.com/33794760/34909347-6b93956e-f8c5-11e7-905b-ccfa74c8ea8c.png)

### Actual results
It must be removed because it's secret place

### Steps to reproduce the issue

### Implementation/Solution Ideas
replace door with a wall.

### Would you like to work on this
anyone work

[2018-01-13 19:30] STEdirisuriya opened #476 "Speed up game"
### Expected results
speed game window

### Actual results
game going to slow

### Steps to reproduce the issue

### Implementation/Solution Ideas

### Would you like to work on this
@niccokunzmann take an action

[2018-01-13 19:36] STEdirisuriya opened #477 "center align caption of how to play site."
### Expected results
center aligned caption of how to play site.
![image](https://user-images.githubusercontent.com/33794760/34909444-1775e0ca-f8c7-11e7-9f45-0137b1ae9fa1.png)

### Actual results
slightly not centered.

### Steps to reproduce the issue
update js file related to that.

### Implementation/Solution Ideas

### Would you like to work on this
anyone work please @niccokunzmann
I suggest

[2018-01-13 19:46] STEdirisuriya opened #478 "indent all files"
### Expected results
indentation of all files

### Actual results
not indented.

### Steps to reproduce the issue

### Implementation/Solution Ideas

### Would you like to work on this
I am working

[2018-01-13 19:50] STEdirisuriya opened #479 "Improve contributors page"
### Expected results
- [ ] Improve menubar in contributors page
![image](https://user-images.githubusercontent.com/33794760/34909541-08ea8090-f8c9-11e7-8391-44c3f05ba75b.png)
- [ ] Center images
- [ ] Add social links of contributors.

### Actual results
Lot of things that needs fix

### Steps to reproduce the issue
See other pages and add features from those.

### Implementation/Solution Ideas

#

[2018-01-13 20:15] harsh-jindal opened #481 "Change Colour of the Cross button when hovered over it"
### Expected results
The Colour of the cross button in the menu should turn red when hovered over.
### Actual results
The colour of the cross button does not change.
### Implementation/Solution Ideas
Add hover property to cross button.
### Would you like to work on this
Yes

[2018-01-13 20:31] saarthakchats commented on #310
Working on it @niccokunzmann

[2018-01-13 21:13] #88 closed

[2018-01-13 21:30] niccokunzmann commented on #478
Please create a style guide or something in the documentation. Other wise, we may get stylings back and forth and no agreement.

[2018-01-13 21:31] niccokunzmann commented on #479
There was a style before. This one broke. If you have time, you can try out git binary search

[2018-01-14 03:39] duttaditya18 commented on #469
@STEdirisuriya That looks like too much text. Any ideas to improve the design?
@Ploypiti Do you have any ideas?

[2018-01-14 04:16] DNS-404 opened #483 "Close issues automatically when PR is merged"
### Actual results

Error in PR template. In PR template it says
`
Related Issues or Pull Requests #
`
This does not let issues to close automatically.

### Expected results

Change this to -
`
Fixes #[Add issue number here]
`
This will close the issue automatically when PR is merged.

### Would you like to work on this
Yes

[2018-01-14 05:31] Beta-King commented on #483
This cant work in all cases, what if someone just contributes to a big issue and doesnt solve it. Then this feature would just complicate the whole process !! I'd suggest you think of some alternative to solve this issue :D

[2018-01-14 05:52] STEdirisuriya commented on #393
I am working

[2018-01-14 06:02] STEdirisuriya commented on #478
@niccokunzmann I didn't get what are you saying

[2018-01-14 06:12] saarthakchats commented on #479
I am attempting to improve menu bar

[2018-01-14 07:29] saarthakchats commented on #479
Done!, @niccokunzmann @STEdirisuriya
Pls review

[2018-01-14 07:34] saarthakchats commented on #479
Navbar added and images centered and look improved in my PR

[2018-01-14 07:35] #161 closed

[2018-01-14 07:58] niccokunzmann commented on #483
Some pull requests contribute to issues, some close the issues.
Having fixes there closes all of them, I think. Maybe we can add a comment that if you do not fix the issue, you can delete "fixes" Also, sometimes they relate to pull requests as we merge fast and may have follow-up pull requests. I would like to have PRs somewhere in there. What do you think? How can be achieve this, too?

[2018-01-14 07:58] tanya-vedi commented on #477
Can I take this issue?

[2018-01-14 08:00] niccokunzmann commented on #483
I do not like the `[]` brackets. Because they then to stay there. If we use `<>`, then they do not display.

[2018-01-14 08:02] abishekvashok commented on #463
Would like to work on this, won't it improve the UI?

[2018-01-14 08:08] #479 closed

[2018-01-14 08:13] niccokunzmann commented on #477
@tanya-vedi Thanks for your contribution. I checked and to fully close this, we also need to remove the width attribute http://rawgit.com/fossasia/labyrinth/master/css/stylesheet.css line 139 otherwise the header is of fixed size.

[2018-01-14 08:18] tanya-vedi commented on #477
Sure! I'll do that.

[2018-01-14 08:34] Ploypiti commented on #469
@duttaditya18 In my opinion, I think not all player are willing to take a history class or whatnot while playing the game. Also too much text would ruin the UX, refers to #467 if we're changing the alert UI, it's possible to add longer text.

[2018-01-14 08:48] niccokunzmann commented on #477
I consider this one solved, thanks @tanya-vedi ! If you like to contribute more, you are always welcome. You can choose among tasks and issues. https://github.com/fossasia/labyrinth/tree/master/tasks

[2018-01-14 08:48] #477 closed

[2018-01-14 08:48] abishekvashok opened #491 "Make badges appear in the same line as other badge"
### Expected results

![screenshot_20180114_141344](https://user-images.githubusercontent.com/8947010/34914288-ae388a62-f935-11e7-899f-ed689e205f49.png)

### Actual results
![screenshot_20180114_141416](https://user-images.githubusercontent.com/8947010/34914291-c0a23dec-f935-11e7-9c03-3e635081a145.png)

### Steps to reproduce the issue

Go to the website

### Would you like to work on this

yes si

[2018-01-14 08:48] niccokunzmann commented on #477
You can find us in the chat.. https://gitter.im/fossasia/labyrinth

[2018-01-14 08:58] abishekvashok commented on #491
@niccokunzmann done in #493

[2018-01-14 09:02] niccokunzmann opened #494 "fix winter landscape"
### Expected results

I can reach winter landscape tile 1 , left to the goal tile

### Actual results

Unreachable and broken svg
https://github.com/kubami9/labyrinth-km-contribute/blob/cc3fe220100eafd6edeb91c2fdd8c80b6c51ebd0/tiles/rooms/floor/winter1.svg

### Steps to reproduce the issue

right up right up up - then, left is not working

### Implementation/Solution Ideas

- add door on other sid

[2018-01-14 09:11] abishekvashok commented on #494
@niccokunzmann the tile's svg seems broken.

[2018-01-14 09:39] niccokunzmann opened #496 "Fix broken tiles"
### Expected results

All floors on the labyrinth fill

### Actual results

Those tiles are broken:
- [ ] 0,4 can not be entered
- [ ] 2,6 does not show ground on entering
- [x] 3,4 wheel does not show ground on entering
- [ ] 4,3 all hail fossasia can be accessed from the top
- [ ] 4,4 does not show ground on entering
- [ ] 3, 6 ground does not show on entering
- [ ] treasure does not open althou

[2018-01-14 09:40] niccokunzmann commented on #483
Although there is one contribution, I would like more input from you all.

[2018-01-14 09:40] #491 closed

[2018-01-14 09:42] DNS-404 commented on #483
Should I make the changes and create another PR?

[2018-01-14 09:52] niccokunzmann commented on #483
I do not know, if you agree, I invite you to make the changes. If you do not agree, please tell me your perspective. We can find something where we both agree to.

[2018-01-14 09:55] kubami9 commented on #494
Okay, I'm fixing it now. I'm gonna add some doors and I just realised that I broke svg by using `script` instead of `style` 😅

[2018-01-14 10:00] niccokunzmann opened #497 "Load all levels"
### Expected results

We have soo many levels. I would like to play all of them!

### Actual results

I can only play the Starter and Forest level.

### Implementation/Solution Ideas

1. Please add one tile for each level to allow access to the level.
2. Call `player.addReachableLevel(createXXXLevel()); ` [example](https://github.com/fossasia/labyrinth/blob/2c3b078826c15dd4377d51562b75e9990bb60000

[2018-01-14 10:01] #115 closed

[2018-01-14 10:03] niccokunzmann commented on #177
There were new design issues and they are closed. Please comment to re-open this.

[2018-01-14 10:03] #177 closed

[2018-01-14 10:04] niccokunzmann commented on #180
This is done. We can reach it #470

[2018-01-14 10:04] #180 closed

[2018-01-14 10:05] niccokunzmann commented on #251
@harsh-jindal You can add social links if you like. You can also open another issue for that. We have 6 days no response, so I close this.

[2018-01-14 10:05] #251 closed

[2018-01-14 10:09] niccokunzmann commented on #279
Current state:
- The treasure tile can not be entered from the left.
- The key tile can be left to the top

Fixes:
- treasure tile: Allow entering from the left, leaving to the left
- key tile: do not allow leaving to the top and entering from the top: make the wall a wall.

[2018-01-14 10:10] niccokunzmann commented on #282
Documentation is added. https://github.com/fossasia/labyrinth#how-to-add-music

[2018-01-14 10:10] #282 closed

[2018-01-14 10:10] niccokunzmann commented on #292
Thanks! This is solved.

[2018-01-14 10:10] #292 closed

[2018-01-14 10:11] niccokunzmann commented on #295
They seem aligned to me. Thanks!

[2018-01-14 10:11] #295 closed

[2018-01-14 10:12] niccokunzmann commented on #310
Seems solved. I can not find them there any more. If anyone could add the pull request here, much appreciated.

[2018-01-14 10:12] #310 closed

[2018-01-14 10:13] niccokunzmann commented on #334
This issue is not reproducible, I can not know when to close this as this can always happen. Closing this and hoping the other issues cover that.

[2018-01-14 10:13] #334 closed

[2018-01-14 10:15] niccokunzmann commented on #341
This can be removed by removing the z-index of the player in the css file. One line.

[2018-01-14 10:20] niccokunzmann commented on #373
Travis check is there.

[2018-01-14 10:20] #373 closed

[2018-01-14 10:22] niccokunzmann commented on #386
Yes, I think the UI is smaller now. The stated resolution works.

[2018-01-14 10:22] #386 closed

[2018-01-14 10:24] niccokunzmann commented on #387
It is loading again.

[2018-01-14 10:24] #387 closed

[2018-01-14 10:24] niccokunzmann commented on #415
I do not see overlapping content in the navBar, please comment to re-open.

[2018-01-14 10:24] #415 closed

[2018-01-14 10:29] brain-sick commented on #279
the game isn,t even running, how shall i test it

[2018-01-14 11:25] niccokunzmann commented on #423
@Beta-King By now, you should have found tiles. Please give updates. This can be closed soon, if no updates arrive.

[2018-01-14 12:07] niccokunzmann commented on #463
@abishekvashok So, you would like to claim the UI task for that, I think this matches the task description. Correct me if I am wrong.

[2018-01-14 12:13] niccokunzmann commented on #467
@Ploypiti Thanks, this is a very clear description.

[2018-01-14 12:18] niccokunzmann commented on #468
resolved. #470

[2018-01-14 12:18] #468 closed

[2018-01-14 12:20] niccokunzmann commented on #471
@harsh-jindal Please close if this is resolved.

[2018-01-14 12:21] niccokunzmann commented on #475
This should also change the entering specification for the treasure tile. As we can not enter it from there.

[2018-01-14 12:23] niccokunzmann commented on #478
If you indent it with 4 spaces and the next person indents is with two spaces, all we get is merge conflicts and no improvement, so please document how we wish to have the files look like before you change them. Otherwise it is not objective.

[2018-01-14 12:24] niccokunzmann commented on #478
please also see #98

[2018-01-14 12:59] DNS-404 commented on #483
I agree that some pull requests contribute to issues and some close the issues.
What you said earlier was fine by me. Let’s add a comment saying that “if the issue isn’t fixed completely by this PR then delete “fixes” and just mention the related issue number”. Would that be alright?

[2018-01-14 13:01] niccokunzmann commented on #279
@brain-sick If the game does not work, please open an issue and describe what you can see.

[2018-01-14 13:16] #471 closed

[2018-01-14 13:17] #481 closed

[2018-01-14 13:25] harsh-jindal opened #503 "Add hover properties for "save" and "Load last save" buttons"
### Expected results
The colour of the buttons should change on hovering over it.
### Actual results
No colour change on hovering over the buttons.
### Implementation/Solution Ideas
Add hover properties for the buttons
### Would you like to work on this
Yes

[2018-01-14 14:10] Beta-King opened #506 "Add more notes for better understanding"
- added how to 'How to add music'
- added how to edit the tile(floor)

[2018-01-14 14:21] saarthakchats opened #508 "Sword is inaccessible"
Working on it!

[2018-01-14 14:30] #467 closed

[2018-01-14 14:32] #508 closed

[2018-01-14 15:49] #494 closed

[2018-01-14 15:50] #503 closed

[2018-01-14 15:51] niccokunzmann commented on #483
Yes, that would be alright.

[2018-01-14 16:58] saarthakchats opened #515 "Change all PNGs to SVGs to reduce size of game"
Changing all PNGs to SVGs to reduce the game size and build times.

Working on it.

[2018-01-14 16:58] saarthakchats commented on #515
@niccokunzmann
I am doing it in my PR, as you had suggested.

[2018-01-14 17:00] #483 closed

[2018-01-14 17:09] STEdirisuriya opened #517 "Add how to translate file in readme.md"
### Expected results
Added how to translate file in readme.md

### Would you like to work on this
yes I am working

[2018-01-14 17:58] brain-sick commented on #279
ok i got it i will do it.

[2018-01-14 18:17] kubami9 opened #519 "UI improvements and fixes"
### Expected results
- [x] restart game button #566
- [x] change character (in game) button #566
- [x] rate us section/box
- [ ] add a settings window for all of these things (clearer: which things)

### Actual results
Bugged menu and no current features/improvements in game

### Steps to reproduce the issue

### Implementation/Solution Ideas
Create button which restarts game after clicking, creat

[2018-01-14 18:38] kubami9 commented on #519
Menu bug seemed to disappear, first time I see that bug disappears instead of getting out of nowhere 😂

[2018-01-14 19:26] #341 closed

[2018-01-14 19:45] niccokunzmann opened #523 "Fix travis build"
### Expected results

The travis build should be green
https://travis-ci.org/fossasia/labyrinth

This build is important as it helps us reduce the game downtime

### Actual results

The build is read: JavaScript and HTML errors

### Steps to reproduce the issue

Look at
https://travis-ci.org/fossasia/labyrinth

### Implementation/Solution Ideas

Please choose some errors, remove them and create a

[2018-01-14 19:48] niccokunzmann opened #524 "delete unlicensed file"
### Expected results

The_Miller_and_the_Brook_Schubert_arr_Liszt[Mp3Converter.net].mp3
is a duplicate and should be deleted

### Actual results

The_Miller_and_the_Brook_Schubert_arr_Liszt[Mp3Converter.net].mp3
is there: https://github.com/fossasia/labyrinth/tree/master/audio/background

#521

[2018-01-14 21:12] niccokunzmann opened #526 "Replace "key" as attribute for translations"
### Expected results

checking the HTML file, using key is not allows in many cases.
Please replace it with something else.

### Actual results

- Key is used for translations
- https://github.com/fossasia/labyrinth/pull/525/files#diff-0406cdc32e5ca9a7a6aa5092fc2dbfce - this is an error, silenced

### Steps to reproduce the issue

https://validator.w3.org/nu/ and validate the html files

### Imple

[2018-01-14 22:58] #523 closed

[2018-01-15 01:27] #506 closed

[2018-01-15 09:57] saarthakchats opened #534 "[WIP]Reduce game and file sizes"
### Firstly:-
All .png to be converted to .svg to reduce file size

- [x] boat.png

- [x] camel.png

- [x] choc.png

- [x] key.png

- [x] PoisonedMushrrom.png

- [x] Spoon.png

- [x] Cricketer.png

- [x] Discoverer.png

- [x] FreshAir.png

- [x] NailedIt.png

[2018-01-15 09:58] saarthakchats commented on #534
I can't do all, help needed

[2018-01-15 09:58] saarthakchats commented on #534
@niccokunzmann
What do you think?

[2018-01-15 10:23] kubami9 opened #535 "Adding new theme documentation"
### Expected results
Written off how to add new them in documentation

### Actual results
There isn't anything about adding new theme in documentation

### Steps to reproduce the issue

### Implementation/Solution Ideas
Add how to add new theme to documentation

### Would you like to work on this
Yes :)

[2018-01-15 11:15] STEdirisuriya commented on #519
Add a way to change color theme.
- add this point as well

[2018-01-15 11:25] STEdirisuriya commented on #206
working on this point

Add an about window and add social icons, UI creator, Contributors, brief description on it. (enhancement)

[2018-01-15 12:20] abishekvashok commented on #206
Working on:

[2018-01-15 12:26] YashKumarVerma opened #540 "Deploy Every PR on Surge"
### Expected results
Automatically generate previews for PR

### Actual results
PR from branches other than gh-pages need to be uploaded somewhere else

### Steps to reproduce the issue
- Add surge.sh integration

### Would you like to work on this
Yes, but need assistance

[2018-01-15 12:53] arjunpandey2003 opened #543 "Enhancement[BUG]"
### Expected results

### Actual results
<img width="599" alt="screen shot 2018-01-15 at 6 21 50 pm" src="https://user-images.githubusercontent.com/25302509/34943305-24b4965e-fa21-11e7-94d0-102d15eb3df1.png">

You cant leave from the right, there is a door
### Steps to reproduce the issue
Update files
### Implementation/Solution Ideas

### Would you like to work on this
Yes!!

[2018-01-15 13:03] samyakbvs opened #545 "Fix the river tile"
Th size of the river tile is not appropriate

This issue is open to all

[2018-01-15 13:03] #496 closed

[2018-01-15 13:03] arjunpandey2003 commented on #524
I am working on it

[2018-01-15 13:04] #535 closed

[2018-01-15 13:05] arjunpandey2003 commented on #524
@niccokunzmann ther is a license there
I think, pls check

[2018-01-15 13:10] #543 closed

[2018-01-15 13:16] samyakbvs commented on #534
I can do some of them

[2018-01-15 13:16] niccokunzmann opened #547 "Document how to swicth levels."
### Expected results

Documentation after adding a theme and level: How to switch to that level and create a goal tile.

### Actual results

No documentation

### Implementation/Solution Ideas

See the existing goal tile and describe how to add the level.
You may add this as HTML to the documentation engine.

[2018-01-15 13:18] saarthakchats commented on #534
I have done all

[2018-01-15 13:18] saarthakchats commented on #534
@samyakbvs

[2018-01-15 13:23] #534 closed

[2018-01-15 13:48] harsh-jindal commented on #526
@niccokunzmann I can try working on this.

[2018-01-15 13:53] abishekvashok commented on #526
@harsh-jindal sure

[2018-01-15 14:25] thebigtrip opened #549 "Ferris wheel bug"
i found a bug
https://screenshots.firefox.com/84fZsHGYOvYmTwcF/rawgit.com

[2018-01-15 14:57] abishekvashok commented on #549
That tile isnt correct. Where shave you seen it, how to reporoduce?

[2018-01-15 19:11] niccokunzmann commented on #524
Yes, but the file is a duplicate. He uploaded the file twice and I merged to motivate more contributions.

[2018-01-15 19:44] niccokunzmann opened #552 "[WEEKATHON] International Labyrinth-Hackathon"
### Expected results

We want to organize a labyrinth hackathon for 9 days, spanning 2 weekends.

### Actual results

Date:
- Should be between April and Begin of June @0x48piraj
Topics:
- tasks for easy introduction
  - the gci tasks are for a contest including checking that things are done propertly
  - we need some tasks for those who like to contribute but without a competitive component and f

[2018-01-15 21:36] thebigtrip commented on #549
the bug was two tiles down and two tiles to the left of the spawnpoint

[2018-01-15 21:48] thebigtrip commented on #549
the ferris wheel kept going in a wide circle instead of staying in one place

[2018-01-16 02:07] Ploypiti commented on #552
Can I work on the poster design?

[2018-01-16 09:02] duttaditya18 commented on #552
@Ploypiti Anyone can work on it! And we can have various posters made by different people.

[2018-01-16 09:34] niccokunzmann commented on #549
If you edit it with inkscape, you can set the rotation center of this wheel. That should fix it, guess.

[2018-01-16 09:35] niccokunzmann commented on #552
Sure, feel free to help :)

[2018-01-16 10:56] harsh-jindal commented on #526
@abishekvashok Could you tell me what does the key attribute in HTML do ? I tried searching about it but couldn't find anything.

[2018-01-16 11:14] niccokunzmann commented on #526
@harsh-jindal Yes, there is no such attribute in HTML and we get errors because of this.
The "key" attribute is used here: https://github.com/fossasia/labyrinth/blob/master/js/translate.js#L104 for translations. Maybe, we can use another attribute which is not invalid.

[2018-01-16 11:44] duttaditya18 commented on #552
@niccokunzmann What is that supposed to mean?

[2018-01-16 12:44] niccokunzmann commented on #552
@duttaditya18 I updated it. Is it clearer?

[2018-01-16 12:54] duttaditya18 opened #557 "Few Design issues."
* [x] Make the text on top nav white.
* [x] Use Materialize.css buttons in the sidebar.
* [x] Use Materialize.css buttons in the Language Selector.
* [x] Add transition on YouTube and GitHub icons.
* [ ] Add back the old text logo as it better suited the overall style.
* [x] Remove hover effect on Player Moved and other statistics.
* [x] Center align icons in sidebar `li`.

### Would you like to w

[2018-01-16 13:17] niccokunzmann opened #558 "clean up css"
### Expected results

- one css file for each HTML page with the name of the HTML page
- one css file for the common design

### Actual results

mixed css files and no clear relation between the files and the css
This leads to the problem that we may only append to the css files but never know if we break another page.

I am not quite sure if this is really an issue and how to approach this since

[2018-01-16 20:24] niccokunzmann commented on #526
Still todo: enable the tests for the key attribute again

[2018-01-16 20:27] niccokunzmann commented on #557
#562 reverted some changes

[2018-01-16 21:06] niccokunzmann opened #565 "Add task for reviewing pull requests"
### Expected results

a new task

### Implementation/Solution Ideas

I think, if you as students build up reputation on these repositories and you help review, this could help merge faster. Just Saying LGTM does not make it a feedbacking review. These are three questions which can guide you through a review:

    What do you value about this pull request (always the time the other person put in bu

[2018-01-16 22:39] kubami9 opened #568 "New character picking system improvements"
New character picking system has been recently added, you can see it by opening navbar and opening `Characters` link (http://rawgit.com/fossasia/labyrinth/master/pages/character_select/game.html). It still has some issues which need to be solved.

- [ ] use character images and not jpg images
- [ ] delete jpg duplicated images
- [ ] delete empty character spaces at the beginning
- [ ] add a dialog

[2018-01-16 22:40] #519 closed

[2018-01-17 00:01] 0x48piraj opened #569 "What is Labyrinth ?"
#### Expected Outcome:
A good description about this Game.

[2018-01-17 07:07] niccokunzmann opened #573 "Load mesh Level"
### Expected results

We can reach the mesh level #570 in the forest level

### Actual results

unreachable not even working code maybe.

### Implementation/Solution Ideas

- [ ] try to load the mesh level from #570 with `player.askToChooseALevel(createTileMeshLevel())`
- [ ] copy a mesh tile and add it to the forest level, calling `player.askToChooseALevel(createTileMeshLevel())` on visit

[2018-01-17 09:39] duttaditya18 commented on #565
@niccokunzmann This is as good as a beginner task. Maybe we should have something like : "Review 3 PRs" or something.

[2018-01-17 09:42] duttaditya18 commented on #540
@niccokunzmann This is not documentation. This is a "Feature Request". @YashKumarVerma wants to make a script to automatically upload the file to [surge.sh](https://surge.sh).

[2018-01-17 10:10] duttaditya18 opened #575 "The On Screen Buttons are not working."
### Expected results
They should be working.

### Actual results
They are not.

### Steps to reproduce the issue
Click the floating button at bottom and press any button that appears.

### Would you like to work on this
Yeah!

[2018-01-17 10:39] STEdirisuriya opened #578 "center those icons"
### Expected results
center language translate icons.

### Actual results
it's not centered

### Steps to reproduce the issue
it's centered earlier So I think some of code missing or replace.

### Implementation/Solution Ideas
Please check it

### Would you like to work on this
open to anyone

![image](https://user-images.githubusercontent.com/33794760/35038407-c74d268a-fba0-11e7-90a4-214b1a3cd37f

[2018-01-17 10:44] 0x48piraj commented on #573
I'll do it @niccokunzmann :+1:

[2018-01-17 11:12] STEdirisuriya opened #579 "Add a way for select characters from characters picker."
### Expected results
Add a way for select characters from characters picker. - http://rawgit.com/fossasia/labyrinth/master/pages/character_select/game.html
### Actual results
nothing happening now
### Steps to reproduce the issue

### Implementation/Solution Ideas

### Would you like to work on this
nope, anyone work

[2018-01-17 12:24] niccokunzmann opened #580 "Integrate creative tiles"
### Expected results

I would like to see the creative tiles from #567 as part of the labyrinth.

### Actual results

They are added to the root folder and not in the game.

### Implementation/Solution Ideas

- [ ] move the added files from #567 to the tiles folder and rename then to something like "creativeRoom", ...
- [ ] edit the tiles.js file as writtten in the description: https://github.com/

[2018-01-17 12:27] #557 closed

[2018-01-17 12:28] #575 closed

[2018-01-17 13:04] duttaditya18 commented on #578
@STEdirisuriya I think it is centered. Check again.

[2018-01-17 14:18] niccokunzmann commented on #540
@duttaditya18 I understood that it deploys the documentation, added new feature.

[2018-01-17 14:18] #423 closed

[2018-01-17 14:20] niccokunzmann commented on #438
We can close this, I will add no more tasks. Please comment if you like to re-open it.

[2018-01-17 14:20] #438 closed

[2018-01-17 22:59] niccokunzmann commented on #580
#586 #583

[2018-01-17 22:59] #580 closed

[2018-01-17 23:03] niccokunzmann opened #587 "Fix creative tile - ad png support"
### Expected results

Allow embedding png tiles

### Actual results

In the forest level, there is a beautiful tile. This is a png tile which is much too big.

### Steps to reproduce the issue

go to the forest level (goal tile + forest + to the top)
There, you can see a png files tile wich is not scaled

### Implementation/Solution Ideas

- scale the png files so they match the tile sizes
- move

[2018-01-17 23:05] niccokunzmann opened #588 "Can move through mushroom tile wall"
### Expected results

cannot move through mushroom tile wall.

### Actual results

can move through mushroom tile wall.
in the forest level

### Implementation/Solution Ideas

- use door
- make wall functionality

[2018-01-18 08:41] niccokunzmann opened #590 "Change pop-up alert to API"
### Expected results

The documentation should use the API  for the alerts.

### Actual results

https://github.com/fossasia/labyrinth#how-to-add-a-new-badge
There, we use the swal aletr instead of the alert described in the tile.

### Implementation/Solution Ideas

- either remove
- link to alert & create an alert section
- tell which alerts to use there

[2018-01-18 10:18] duttaditya18 opened #592 "Audio not working for bensound-cute.mp3"
### Would you like to work on this
Working on it!

[2018-01-18 10:18] #590 closed

[2018-01-18 10:24] duttaditya18 commented on #578
@niccokunzmann This was fixed in #574.

[2018-01-18 10:25] #592 closed

[2018-01-18 10:26] #578 closed

[2018-01-18 10:26] niccokunzmann commented on #578
Thanks for the notification.

[2018-01-18 10:30] duttaditya18 commented on #588
Sorry for this but how do I get to a new level?

[2018-01-18 10:33] niccokunzmann commented on #588
When you get to the goal tile right up right up up or so, you can choose
the other level.

[2018-01-18 10:34] duttaditya18 commented on #588
@niccokunzmann Oh okay! Thanks!

[2018-01-18 11:19] #588 closed

[2018-01-18 11:23] duttaditya18 opened #595 "Problems with README.md"
### Expected results
* The heading is the one as per the UI guidelines by @Ploypiti
* The number of forks, comments etc. on the README is useless.

### Steps to reproduce the issue
* See README.md

### Would you like to work on this
Yes.

[2018-01-18 11:33] duttaditya18 commented on #463
@niccokunzmann #576 fixed this.

[2018-01-18 11:36] #463 closed

[2018-01-18 11:36] niccokunzmann commented on #463
Thanks

[2018-01-18 11:47] #526 closed

[2018-01-18 11:48] #595 closed

[2018-01-18 12:04] #279 closed

[2018-01-18 12:11] duttaditya18 commented on #103
@niccokunzmann As far as I can see, all of these are fixed.

[2018-01-18 12:14] duttaditya18 commented on #587
@niccokunzmann You'll have a PR by tomorrow!

[2018-01-18 12:18] niccokunzmann commented on #103
@duttaditya18 I edited your comment so you can check those you think are fixed. I looked at the bottom three and they are not all fixed.

[2018-01-18 12:49] abishekvashok commented on #552
Can we have it from `Maybe from 26th april to 3rd may.`

[2018-01-18 12:52] 0x48piraj commented on #552
I and @abishekvashok can create some tasks, like we did for meilix.

@abishekvashok you in ?

[2018-01-18 16:16] naveentherocker opened #600 "Deploy the Game with gh-pages or with a Sub Domain"
### Expected results
Game being played in `fossasia.github.io/labyrinth` or in `labyrinth.fossasia.org`
### Actual results
Now the Game can be played with only `rawgit.com/fossasia/labyrinth/master/index.html`
### Steps to reproduce the issue
Deploy the Game with `gh-pages` and with CNAME

Ping @niccokunzmann

[2018-01-18 17:04] NaviRocker opened #601 "Bugged Images in Character Selector"
### Expected results
Character Selector Working Properly
### Actual results
Few Images in Character Selector are Bugged
### Steps to reproduce the issue
Fix the Images
### Screenshot
![loj](https://user-images.githubusercontent.com/16055010/35110747-8dbf2314-fc9f-11e7-91d6-968482d5cb19.PNG)

### Would you like to work on this
I'll wait for few hours for others to claim. If no one Claims, I'll work

[2018-01-18 17:38] duttaditya18 commented on #579
@STEdirisuriya I really don't know how we should implement this. If anyone has any ideas, please suggest.

@niccokunzmann

[2018-01-18 17:38] duttaditya18 commented on #601
First work on implementing the character selector in a real game : #579

[2018-01-18 17:40] duttaditya18 commented on #545
@samyakbvs Can you give a bit more info on this?

[2018-01-18 17:41] duttaditya18 commented on #206
I think this is fixed.

[2018-01-18 17:44] duttaditya18 commented on #600
@naveentherocker We will use RawGit for development because it just copies the code from GitHub, so it is very fast.

@niccokunzmann We can have a subdomain which gets all its data from cdn.rawgit.com

[2018-01-18 18:20] niccokunzmann commented on #206
@STEdirisuriya Please check.

[2018-01-18 18:29] niccokunzmann commented on #600
The good thing about raw git for both development and deployment is that
we can detect the same mistakes which might not occur sometimes because
of domain and https and path:

With adding gh-pages/domain, we add these possible errors:
- https/http javascript AJAX problem
- using e.g. /index.html as link instead of relative links (deployed
version works but others do not)
- linking to one domain

S

[2018-01-18 18:35] niccokunzmann commented on #600
I created the gh-pages branch.

[2018-01-18 19:48] niccokunzmann commented on #600
Just adding a gh-pages branch does not seem to activate github pages.

[2018-01-19 02:50] Ploypiti commented on #552
8.5x11 in (Us letter) poster, doing my best on this! Although if you have any idea for improvement it's cool. More details can be added, but currently, there aren't many details to add besides date & website. Website URL's still missing, I think we can use eventyay or gh-pages url or something.

![labyrinth hackathon](https://user-images.githubusercontent.com/32614202/35132218-a6ed59e8-fcfc-11e7-9

[2018-01-19 09:01] duttaditya18 commented on #600
@niccokunzmann Can't you access the settings of this repository? Are the owners required?

[2018-01-19 09:08] duttaditya18 commented on #552
@Ploypiti that looks absolutely amazing! Can there be something more Labyrinth-esque in place of the robot thing there is?

It looks amazing anyways! No need to change that if you don't feel like it.

[2018-01-19 09:17] niccokunzmann commented on #579
Ideas on how to implement this:
- add a section for character selection to the index.html file  (source code from the current character dialog)
- hide this section
- create a characters.js file wich handles character choosing.
- add an API to characters.js: `askToChooseACharacter(callback)` where `callback({name:"character name", path: "characters/....png"})` is called.
  - the API opens and close

[2018-01-19 09:18] niccokunzmann commented on #545
the tile is on the bottom, next to the boat I think.

[2018-01-19 09:41] Ploypiti commented on #552
@duttaditya18 Thanks! (First of all, it's not a robot, it's a **MANIKIN**) I'll try to stuff some labyrinth vector/image that'd fit the design, BUT I'm afraid it'll mess up the design, let's see tho.

[2018-01-19 09:47] vaibhavsingh97 commented on #552
@Ploypiti You have got some aweomse design skills 😍

[2018-01-19 10:09] niccokunzmann commented on #552
@Ploypiti Thanks!

If you used CC-BY content, please put a small small note at the bottom of the page, e.g. in gray. You can license the poster under CC-BY and your name, too.

[2018-01-19 12:59] Ploypiti commented on #552
@vaibhavsingh97 Thanks!
@niccokunzmann The artworks were hand drawn and the images are from unsplash.com which attribute is not required :)

[2018-01-19 13:40] duttaditya18 commented on #552
@Ploypiti, even though attribution is not required, we can still have a small text at the bottom saying that the artwork is from unsplash.

[2018-01-19 13:55] #132 closed

[2018-01-20 05:04] duttaditya18 commented on #552
We need to get a website for this event. I will make a PR with a skeleton layout in a few hours.

[2018-01-20 05:48] DNS-404 opened #604 "Image not displayed on "how to play" page"
### Expected results
Image should be displayed on how to play page.

### Actual results
Image is not displayed.

### Steps to reproduce the issue
Go to http://rawgit.com/fossasia/labyrinth/master/howtoplay.html

### Implementation/Solution Ideas
First of all, reference to the image file is not correct so have to change source of image. Then the dimension of image is not right. It has too much whit

[2018-01-20 05:56] abishekvashok commented on #604
Hey, I can see them
![screenshot_20180120_112253](https://user-images.githubusercontent.com/8947010/35180361-cbc4b774-fdd4-11e7-95cf-90f10ef90d5a.png)

Which ones are you referring to?

[2018-01-20 05:56] DNS-404 commented on #604
I just noticed that there are image reference issues with some more files. I'm correcting all of them.

[2018-01-20 05:58] DNS-404 commented on #604
This one -> below "How to play"
<img width="510" alt="screen shot 2018-01-20 at 11 27 10 am" src="https://user-images.githubusercontent.com/31174685/35180366-e8cf1256-fdd4-11e7-8e73-88809628dc5c.png">

[2018-01-20 06:02] abishekvashok commented on #604
okay, pls proceed then

[2018-01-20 07:31] #604 closed

[2018-01-20 09:58] YashKumarVerma commented on #540
deploys the documentation 😕
um, i think the documentation tag should be removed 😄

[2018-01-20 13:00] harsh-jindal opened #606 "No hover property for tabs in the menu and language selection"
### Expected results
On hover the color should change.
### Actual results
On hover the color does not change.
### Implementation/Solution Ideas
Add hover property for the tabs in the menu.
### Would you like to work on this
Yes

[2018-01-20 17:40] naveentherocker commented on #552
Anybody willing to work on the Website, I can collaborate with you.

[2018-01-20 19:05] niccokunzmann opened #607 "Direction buttons should show 45° rotated directions"
### Expected results

When I click on the running person in the bottom right, I would like to see direction buttons
which display the direction of the labyrinth.

### Actual results

I see buttons which work but they are 45° rotated so that I do not know where they lead.

### Implementation/Solution Ideas

Use another picture.

[2018-01-20 19:08] niccokunzmann commented on #552
I will fill in some text into the skeleton once it is there.

[2018-01-21 09:17] DNS-404 commented on #607
I would like to work on this. 😃

[2018-01-21 09:32] niccokunzmann commented on #607
Thanks for telling us, please go ahead :)

[2018-01-21 09:50] DNS-404 commented on #607
If I use diagonal icons from some other source(say flaticon) then I would have to credit the author of those icons.

[2018-01-21 09:51] niccokunzmann commented on #607
Yes. We have a credits page for that. Drawing an arrow is also something you can do yourself in inkscape.

[2018-01-21 09:53] niccokunzmann commented on #607
Let's say: It depends on the license. Some may not be used, some are with credit, some are just free. If you create them yourself, you can decide.

[2018-01-21 09:56] DNS-404 commented on #607
Okay, I've never used inkscape before. Let's see.. I will either create the icons or take them from some source and credit the author in credits page.

[2018-01-21 10:56] DNS-404 commented on #478
Is this issue completely solved?

[2018-01-21 12:23] abishekvashok commented on #478
Nope @DNS-404

[2018-01-21 12:38] DNS-404 commented on #478
Which files are left to be indented?? @abishekvashok

[2018-01-21 12:59] niccokunzmann commented on #478
@DNS-404 Please check the files and if all are of the same, you can report and we close this.

[2018-01-21 13:00] #607 closed

[2018-01-21 14:58] DNS-404 commented on #478
Okay, I'll check them

[2018-01-21 16:11] duttaditya18 opened #609 "Problems with Sidebar."
* [ ] Version is not visible.
* [ ] Add the buttons of statistics in a container.

### Would you like to work on this
Yup!

[2018-01-21 17:55] DNS-404 commented on #478
Some files have been intended with 2 spaces, some with a tab etc. I'll correct them. What standard should I follow? I mean should there be 2 spaces or a tab space or 4 spaces? @niccokunzmann

[2018-01-21 20:40] #609 closed

[2018-01-21 20:43] niccokunzmann commented on #478
@DNS-404 That is a good question. I think, there might be style guides out there. If we document the style, we can ensure that it will be used in the future, too. How would you like to go on? I do not have an answer.

[2018-01-22 06:55] DNS-404 commented on #478
How about i change the indentation to using tab space before lines and then add a documentation for the indentation style in README.md? I'll write proper rules.

[2018-01-22 07:24] DNS-404 opened #612 "Some misspelled words in README.md"
There are some misspelled words, other minor errors in README.md
They should be fixed. It'll look more professional.

### Would you like to work on this
Yes

[2018-01-22 07:53] #612 closed

[2018-01-22 12:21] harsh-jindal commented on #568
@kubami9 What do you mean by character images?

[2018-01-22 12:28] niccokunzmann commented on #568
@kubami9 There are character images duplicated for the viewer. Duplication leads to errors. The /characters folder contains the images of the participants. The jpg images are copies of those and should not be used.

[2018-01-22 12:31] harsh-jindal opened #616 "No hover property for statistics and rate game"
### Expected results
Hover property for statistics and rate game
### Actual results
No hover property.
### Implementation/Solution Ideas
Add hover property.
### Would you like to work on this
Yes

[2018-01-22 12:56] harsh-jindal commented on #568
@kubami9 @niccokunzmann I would like to work on deleting .jpg images and using .svg images.
Can i go ahead with this?

[2018-01-22 13:51] STEdirisuriya commented on #601
@duttaditya18 If you can add a way to select them for play

[2018-01-22 13:52] STEdirisuriya commented on #393
New strings there. I am working for translate them too

[2018-01-22 13:55] STEdirisuriya opened #617 "Center game playing field!"
### Expected results
Center game playing field! Center starting tile in window.

### Actual results
When I opened game I have to scroll to down and right for find starting tile.

### Would you like to work on this
Anyone open to work!

[2018-01-22 13:58] STEdirisuriya opened #618 "Add a way for sign in to game and rate it."
### Expected results
Add a way for sign in to game and rate it.  If not lot of points can add for one player.

### Actual results
Lot of points(ratings) can add for one player.

### Steps to reproduce the issue
Add a way for sign in to game

### Implementation/Solution Ideas
Use gmail account instead or add a way for make a new account for game.

### Would you like to work on this
Open to anyone!

[2018-01-22 14:08] STEdirisuriya opened #619 "The flag for Polski not correctly sized!"
### Expected results
Use a correct sized flag for show translations.

### Actual results
Not centered correctly because it's not use correct measures of width and height.

### Steps to reproduce the issue
When I add Sinhala translation I use flags for English and Sinhala from Wikipedia. Use imagem 255px X 128px sized. Download image from this place _(_https://en.wikipedia.org/wiki/Flag_of_England)

[2018-01-22 15:01] DNS-404 commented on #478
@niccokunzmann Should I do it?

[2018-01-22 15:19] #606 closed

[2018-01-22 15:30] niccokunzmann commented on #568
Sure, please go ahead.
You can treat this as your own game and work on it. If you leave a
notice when you start and in the best case a link to the pull request
you are working on, this keeps others updated.
So when you ask if you can go ahead, I think, you might want to know if
anyone else is working on it.
I think that if anyone works on it, it is mentioned here.

[2018-01-22 15:32] niccokunzmann commented on #617
This is somehow already implemented when you move.
Although, when we change to the forest level, we also do not see the
message box.
This could be a bug in how the player enters the first tile of the game.

[2018-01-22 15:49] harsh-jindal commented on #568
Thanks!

[2018-01-22 17:14] DNS-404 commented on #65
I would like to work on this.

[2018-01-22 17:17] harsh-jindal opened #621 "No hover property for Audio controls"
### Expected results
On hovering over the controls the colour should change.
### Actual results
No change of colour.
### Implementation/Solution Ideas
Add hover property for control icons.
### Would you like to work on this
Yes

[2018-01-22 17:42] DNS-404 commented on #65
😮 That would be really difficult indeed. @duttaditya18

[2018-01-22 17:52] duttaditya18 commented on #156
Anyone can work on this.

Sorry that I abandoned this. I have exams upcoming. I can't really contribute at this time. Sorry.

[2018-01-22 19:04] harsh-jindal opened #623 "In the inventory size of the image and text is small"
### Expected results
The image and the text can be a bit larger so that it looks better.
### Actual results
The size of image and text is too small.
### Implementation/Solution Ideas
Increase the size of the text and the image.
### Would you like to work on this
Yes

[2018-01-22 19:15] DNS-404 commented on #497
@niccokunzmann I would like to work on this. How do i add one tile for each level to allow access to the level?

[2018-01-22 19:24] #616 closed

[2018-01-22 19:54] #621 closed

[2018-01-22 20:16] niccokunzmann commented on #497
@DNS-404 Please have a look at the documentation for adding a tile https://github.com/fossasia/labyrinth#how-to-add-new-tiles and adding a level I will add new documentation.

[2018-01-22 20:31] niccokunzmann commented on #478
I prefer to use spaces. Sure, please go ahead.

[2018-01-23 11:11] harsh-jindal opened #625 "Make Changes to UI_Identity.md"
### Expected results
There should be different colour for tabs within menu on hovering than the menu tabs.
### Actual results
Same colour is used.
### Implementation/Solution Ideas
Add the colour to be used for tabs within the menu tabs.
### Would you like to work on this
Yes

[2018-01-23 11:30] Ploypiti commented on #625
Actually, it's different _tone_ of color, most site eg. facebook or Github use brighter/darker tone of color instead of a totally different color, although if you really want to use different color consider using secondary color as more than 2 color is not healthy for UI.

[2018-01-23 11:35] harsh-jindal commented on #625
@Ploypiti I have used black colour with light opacity so it gives a nice effect and a contrast from the menu tabs.
You can have a look of it in the http://rawgit.com/fossasia/labyrinth/master/index.html#
I can change it if it is not good.

[2018-01-23 12:00] DNS-404 commented on #497
Okay

[2018-01-23 12:01] DNS-404 commented on #478
Alright. I'll do it with 2 spaces.

[2018-01-23 12:09] niccokunzmann commented on #478
Is that compatible with most of what the contributors use? Is it
compatible with the GitHub online editor?

[2018-01-23 12:12] #625 closed

[2018-01-23 12:56] DNS-404 commented on #478
@niccokunzmann
Well, html pages have either tab spaces or 2 spaces and 4 spaces at a few places. Most of the css(and js files) is with 2 spaces. Some are with 4 spaces.
Overall, most of the indentation is done with 2 spaces so I think that is what most of the contributors use. And yes it is compatible with GitHub online editor.
So I think that using 2 spaces as standard indentation for the whole p

[2018-01-23 13:38] DNS-404 opened #628 "Dimensions of Labyrinth logo in top bar of credits page are not correct"
### Expected results
It should be similar to the one on home page.

### Actual results
Labyrinth logo in top bar of credits page doesn't look good.
<img width="232" alt="screen shot 2018-01-23 at 7 07 13 pm" src="https://user-images.githubusercontent.com/31174685/35278656-b7e78f9e-0070-11e8-89bc-de3a5e539713.png">

### Steps to reproduce the issue
Open http://rawgit.com/fossasia/labyrinth/master/c

[2018-01-23 13:41] DNS-404 opened #629 "Change buttons on top bar of credits page"
### Expected results
The buttons should look the same. Either green or white.

### Actual results
"Select your language" is in green but "Game" and "How to play" are in white.

### Steps to reproduce the issue
See the top bar of http://rawgit.com/fossasia/labyrinth/master/credits.html

### Would you like to work on this
No, anyone can go ahead and work on it.

[2018-01-23 13:46] niccokunzmann commented on #478
I think, this is a solid statement and you removed all my doubts.
Thanks. I think, you are informed and what you decide will be responsible.

[2018-01-23 13:47] DNS-404 commented on #478
😄 Okay then I'm working on it now.

[2018-01-23 13:48] #628 closed

[2018-01-23 13:55] DNS-404 opened #631 "Labyrinth logo on contributors page doesn't look good"
### Expected results
On the contributors page, the top bar is green. So having a white background logo there doesn't seem nice. I don't know if this is intentional or not. What do you say @niccokunzmann ?

### Actual results
The logo looks a bit "separated out" of the top green bar.

Screenshot-
<img width="130" alt="screen shot 2018-01-23 at 7 24 51 pm" src="https://user-images.githubusercontent.

[2018-01-23 14:16] harsh-jindal opened #633 "Labyrinth Logo in the contributors page is not good"
### Expected results
Should be similar to the one on the main page
### Actual results
It is different from the logo on the main page.
link: http://rawgit.com/fossasia/labyrinth/master/contributors.html
### Implementation/Solution Ideas
Change the logo to one on the main page.
### Would you like to work on this
Yes

[2018-01-23 14:18] DNS-404 commented on #633
@harsh-jindal I'm working on this. Already opened an issue for it. #631

[2018-01-23 14:19] harsh-jindal opened #634 "Select language in the contributors page is not good"
### Expected results
The language options should be spaced out properly and hover property should be there.
### Actual results
The language menu does not look good.
### Implementation/Solution Ideas
Add hover property and give proper spacing
### Would you like to work on this
Yes

[2018-01-23 14:21] harsh-jindal commented on #633
Didn't See.

[2018-01-23 14:21] #633 closed

[2018-01-23 14:22] DNS-404 opened #635 ""Select your language" option on contributions page needs padding."
### Expected results
There should appropriate padding between "Select your language" and left corner.

### Actual results
"Select your language" option on contributions page is too close to left corner of browser.

### Steps to reproduce the issue
Go to http://rawgit.com/fossasia/labyrinth/master/contributors.html and see top bar.

### Implementation/Solution Ideas
Add some padding.

### Would you

[2018-01-23 14:22] #635 closed

[2018-01-23 14:24] harsh-jindal opened #636 "Credits Page does not look good increase the readability of text"
### Expected results
The colour should contrast the background.
### Actual results
The colour is almost similar to the background.
### Implementation/Solution Ideas
Change colour of the Text.
### Would you like to work on this
Yes

[2018-01-23 14:25] DNS-404 opened #637 "Images on contributors page collapses together on decreasing browser size"
### Expected results
They shouldn't collapse like that.

### Actual results
Images on contributors page collapses together on decreasing browser size

### Steps to reproduce the issue
Go to http://rawgit.com/fossasia/labyrinth/master/contributors.html
and decrease your browser size horizontally.

Screenshot-
<img width="600" alt="screen shot 2018-01-23 at 7 52 59 pm" src="https://user-images.githu

[2018-01-23 14:27] harsh-jindal opened #638 "No hover property for language options in How to Play"
### Expected results
On hovering over the language colour should change.
link: http://rawgit.com/fossasia/labyrinth/master/howtoplay.html
### Actual results
No such change.
### Implementation/Solution Ideas
Add hover property.
### Would you like to work on this
Yes.

[2018-01-23 16:16] harsh-jindal commented on #638
@niccokunzmann Where should I make changes in css for howtoplay.html?
Can I include it in howtoplay.html itself?

[2018-01-23 16:26] harsh-jindal opened #641 "On decreasing the browser size the menu tabs disappear in credits page"
### Expected results
After decreasing the browser size ,on clicking the button the menu should appear.
### Actual results
The menu does not appear.
### Implementation/Solution Ideas
After decreasing the size menu should break down into full width row one below the other.
### Would you like to work on this
Yes

[2018-01-23 16:26] STEdirisuriya commented on #478
@niccokunzmann is the problem the document fixed?

[2018-01-23 16:39] PradumanPannu opened #642 "Labyrinth logo shouldn't be directly linked to the github repository"
### Expected results
Clicking on Labyrinth logo on the main page index.html should not open github repository.

### Actual results
Link to repository can be given in the left menu bar rather than on the logo.

### Would you like to work on this
Yes

[2018-01-23 17:03] #623 closed

[2018-01-23 17:05] #636 closed

[2018-01-23 17:07] niccokunzmann commented on #638
I think, the best css would be:
- One css for a common design
- One css for each file which is for the design of this file.

Currently, I do not know which file to change when I want to change css.

[2018-01-23 17:08] niccokunzmann commented on #478
@DNS-404 What do you think?

[2018-01-23 17:22] DNS-404 opened #643 "Cursor should change to hand when it's hovered over a button"
### Expected results
The cursor should change to hand when it's hovered over languages under "select your language" in how to play page.

### Actual results
It's staying as cursor.

### Steps to reproduce the issue
Go to http://rawgit.com/fossasia/labyrinth/master/howtoplay.html and hover over languages. Your cursor won't change to a hand.

### Would you like to work on this
Yes

[2018-01-23 17:25] harsh-jindal commented on #643
@DNS-404 I'm already working on this.
Issue #638

[2018-01-23 17:26] DNS-404 commented on #643
Okay! Sorry my bad. 😅

[2018-01-23 17:26] #643 closed

[2018-01-23 17:31] DNS-404 opened #644 "Cursor should change to hand when it's hovered over a button"
### Expected results
The cursor should change to hand when it's hovered over "Play" button at the bottom on how to play page.

### Actual results
It doesn't.
screenshot-
I'm talking about this button.
<img width="258" alt="screen shot 2018-01-23 at 10 57 30 pm" src="https://user-images.githubusercontent.com/31174685/35290785-50101ec4-0091-11e8-827b-2f666c3dc7bd.png">

### Would you like to work on

[2018-01-23 17:36] harsh-jindal opened #645 "On decreasing browser size on contributors page the menu disappears"
### Expected results
The menu should breakdown into full width rows.
### Actual results
The menu tabs disappear.
### Implementation/Solution Ideas
Will solve this using bootstrap.
### Would you like to work on this
Yes

[2018-01-23 18:04] DNS-404 commented on #156
@0x48piraj I'm currently working on some issues. After those(after 1-2 days), sure I'd like to work on this. @duttaditya18 Thank You 😃

[2018-01-23 18:21] DNS-404 commented on #478
@STEdirisuriya No, I'm working on it. I have indented html files. Now I'm doing the same for javascript and css files. Then I'll add a document regarding the coding style followed.

[2018-01-23 19:21] PrP-11 opened #649 "On decreasing browser size on main page the logo overlaps with menu"
### Expected results
Logo and menu should not overlap
### Actual results
Logo and menu overlaps on decreasing brower size to about half and disapper on further decrease in size.
![overlap](https://user-images.githubusercontent.com/30981465/35295794-24c95c9e-00a0-11e8-8a0f-7a6f79c8b088.png)

### Would you like to work on this
Yes

[2018-01-23 19:38] PradumanPannu opened #650 "Cursor should change to hand when hovered in select language menu in contributors page"
### Expected results
Cursor should change to hand when hovered on languages in contributors page
### Actual results
Cursor changes to type(text) form when hovered

### Would you like to work on this
Yes

[2018-01-23 19:47] PradumanPannu opened #651 "Logo should not be hyperlinked to github page on contributors' and contribute option can be added in menu"
### Expected results
Logo should not be hyperlinked to github and contribute option should be added in menu or at bottom of both the pages
### Actual results
Logo linked to github

### Would you like to work on this
Yes

[2018-01-23 20:03] PradumanPannu opened #652 "A small close button on top left corner of how to play page should be there to close it"
### Expected results
A small close button on top left corner of how to play page should be there to close it in addition to play button at the bottom.
### Actual results
No such close button

### Would you like to work on this
Yes

[2018-01-24 05:09] harsh-jindal commented on #650
@PradumanPannu I'm already working on this issue.See issue no. #634

[2018-01-24 05:35] PradumanPannu commented on #650
Issue #634 is related to adding hover property and giving proper spacing between language options. This issue is different. It is simply to change cursor to hand on the buttons.

[2018-01-24 06:00] harsh-jindal commented on #650
@PradumanPannu That is covered in hover property.

[2018-01-24 06:08] Ploypiti commented on #638
@harsh-jindal stylesheet.css

[2018-01-24 06:12] harsh-jindal commented on #638
Thanks @Ploypiti will make the changes there.

[2018-01-24 07:01] #644 closed

[2018-01-24 07:06] #642 closed

[2018-01-24 08:45] #650 closed

[2018-01-24 08:59] harsh-jindal opened #655 "Add feature to show Number of badges owned out of total"
### Expected results
In the Your Badges (in the left side menu) should show the number of badges owned out of total
### Actual results
Now it only shows the badges owned.Not the number.
### Implementation/Solution Ideas
Add a number counter for the badges.
### Would you like to work on this
Anyone can work on it

[2018-01-24 11:52] Ploypiti opened #657 "Labyrinth Logo & Icon"
### Expected results
Stable logo and icon for the game.
### Implementation/Solution Ideas
Header Logo;
![labyrinth logo](https://user-images.githubusercontent.com/32614202/35330581-9c7de2dc-0136-11e8-9059-464f0ef98de8.png)
Readme logo;
![labyrinth logo2](https://user-images.githubusercontent.com/32614202/35330665-dfbe702a-0136-11e8-8c9b-09b94d31c99e.png)
Icon;
![labyrinth icon](https://user-images

[2018-01-24 12:46] #634 closed

[2018-01-24 12:46] #638 closed

[2018-01-24 12:47] #631 closed

[2018-01-24 14:03] PradumanPannu opened #660 "Improve indentation and code quality of issue #648"
### Expected results
Correct indentation
### Actual results
indentation not according to file syntax

### Would you like to work on this
Yes

[2018-01-24 14:32] harsh-jindal opened #662 "Add caret up-down for select your language on main page"
### Expected results
There should be caret up-down for select your language
### Actual results
No such property found.
### Implementation/Solution Ideas
Use javascript.
### Would you like to work on this
Yes

[2018-01-24 14:54] PradumanPannu opened #664 "Logo should not be hyperlinked to github page on credits page and contribute option can be added in menu"
### Expected results
Logo should not be hyperlinked to github page on credits page and contribute option can be added in menu
### Actual results
Logo is hyperlinked to its repository

### Implementation/Solution Ideas
contribute option can be added in menu
### Would you like to work on this
Yes

[2018-01-24 16:14] DNS-404 opened #666 "Improve the UI of Contributors page"
### Expected results
UI of contributors page can be improved. I mean "View on Github" should appear as text in a fade box as we hover over the image. That would look really aesthetic and professional.

### Actual results
It appears below the images.

### Steps to reproduce the issue
Go to http://rawgit.com/fossasia/labyrinth/master/contributors.html

### Would you like to work on this
Yes

[2018-01-24 17:17] DNS-404 commented on #524
I'd like to work on this if no one is.

[2018-01-24 19:48] #637 closed

[2018-01-24 19:49] #651 closed

[2018-01-24 19:49] #660 closed

[2018-01-24 19:50] #652 closed

[2018-01-24 19:51] #664 closed

[2018-01-24 19:59] #524 closed

[2018-01-24 20:45] #666 closed

[2018-01-25 06:12] PrP-11 opened #673 "Add to the top feature on contributors’ page"
### Expected results
a back to top feature on contributors’ page
### Actual results
this feature is not there

### Would you like to work on this
Yes

[2018-01-25 06:29] harsh-jindal opened #674 "Enhance Select your language menu tab on main page"
### Expected results
Select your language menu tab on main page should remain hovered till the cursor is out of the menu
### Actual results
It does not remain hovered when we hover over the languages in it.
### Implementation/Solution Ideas
Add a property so it remains hovered.
### Would you like to work on this
YES

[2018-01-25 06:40] harsh-jindal opened #675 "Add transition effect for menu tabs and tabs in the side menu on main page"
### Expected results
There should be transition effect for menu tabs.
### Actual results
No transition effect.
### Implementation/Solution Ideas
Use transition property.
### Would you like to work on this
YES

[2018-01-25 06:43] harsh-jindal opened #676 "No button to close game controls once opened"
### Expected results
There should be a button to close the game controls once opened.
### Actual results
Once you open the game controls you can't close it back
### Implementation/Solution Ideas
Add a way to close the controls back.
### Would you like to work on this
YES

[2018-01-25 08:08] harsh-jindal opened #677 "Logo should not be linked with Github page on how to play page"
### Expected results
The logo should not be linked with Github page on how to play page.
### Actual results
The logo is a hyperlink.
### Implementation/Solution Ideas
Remove the link from the logo.
### Would you like to work on this
Yes

[2018-01-25 08:26] PradumanPannu commented on #677
@harsh-jindal I am already working on this issue for all pages.

[2018-01-25 08:43] PrP-11 opened #678 "Bug on contributors page"
### Expected results
Position of boxes should be aligned in proper way even if their name and info is bigger to fit in the box.
### Actual results
- position gets distorted if name and info field of a box is large.

![bug_1](https://user-images.githubusercontent.com/30981465/35378433-cc0cd286-01d8-11e8-9398-45e0f0857876.png)

### Implementation/Solution Ideas
- fix the size of boxes
### Would you

[2018-01-25 08:51] #662 closed

[2018-01-25 08:52] PrP-11 opened #679 "change color of play or pause button if they are selected"
### Expected results
change color of play or pause button if they are selected.
### Actual results
User can't see if music is playing or paused

### Would you like to work on this
Yes

[2018-01-25 08:52] #645 closed

[2018-01-25 08:55] PrP-11 opened #680 "No mute/sound button for audio"
### Expected results
Mute button for audio.
### Actual results
No mute button.

### Would you like to work on this
Yes

[2018-01-25 09:22] PrP-11 opened #681 "links to view github page of contributors is not working on browsers other than chrome"
### Expected results
Links to view github page of contributors should  work on browsers other than chrome
### Actual results
links to view github page of contributors is not working on browsers other than chrome.

### Would you like to work on this
Yes

[2018-01-25 09:29] niccokunzmann commented on #678
#671

[2018-01-25 09:32] PrP-11 opened #682 "Text size of version title do not match others in the menu"
### Expected results
The title Version should be of the same size as others in the menu
### Actual results
![version](https://user-images.githubusercontent.com/30981465/35380729-1f3053d2-01e0-11e8-8b9c-7352c2db8a4b.png)

### Would you like to work on this
Yes

[2018-01-25 10:06] harsh-jindal commented on #677
@PradumanPannu I don't see any issue for this before.
Please mention the issue number of the issue opened by you .

[2018-01-25 10:27] YashKumarVerma commented on #677
@harsh-jindal @PradumanPannu
if you both are working on the same thing, try pair programming.

protip: you can collaborate to each other's fork

[2018-01-25 10:36] duttaditya18 commented on #657
Obviously.

😄

 The design is changing quite a bit. The UI Guideline by you suggested Abril Fatface for the heading. So are we changing that? You need to update us on that matter as well.

The design looks absolutely amazing! ❤️ I don't see any problem with that.

Really like your work!

[2018-01-25 10:54] duttaditya18 commented on #682
@PradumanPannu This was intentional. The Version is not as important as the other headings. So I made its font size smaller and lowered its opacity.

[2018-01-25 11:08] YashKumarVerma commented on #657
The design looks awesome !

[2018-01-25 11:08] YashKumarVerma commented on #682
@duttaditya18 I agree to this. It should remain like it is.

@PradumanPannu

[2018-01-25 11:12] YashKumarVerma opened #683 "Implement Gulp ?"
### Expected results
As the game is becoming bigger and bigger, we  can work from now on to include a working environment like gulp into the system.

### Actual results
There is no working environment configured

### Steps to reproduce the issue
- Configs, configs and configs

### Implementation/Solution Ideas
- Add scripts to work along with the system implementing GULP

### Would you like to wor

[2018-01-25 11:17] YashKumarVerma opened #684 "Ferris Wheel rotating about wrong axes"
### Expected results
The circular **thing** should rotate near the poles

### Actual results
![image](https://user-images.githubusercontent.com/14032427/35385747-59a148e6-01ef-11e8-97fb-4802e7a8e96e.png)

### Steps to reproduce the issue
Fix the animations

### Would you like to work on this
No.

[2018-01-25 11:32] YashKumarVerma opened #685 "Some workaround for Bulky Clone ?"
I don't know if others will agree to this, but cloning the game has become tedious, so is there any workaround which can somehow skip the audio files from cloning ? Or can we host the audios to some other branch ?

[2018-01-25 11:43] harsh-jindal commented on #677
@PradumanPannu U can go ahead with this.Anyways I haven't started yet.

[2018-01-25 11:47] harsh-jindal commented on #684
@YashKumarVerma I would like to work on this

[2018-01-25 11:50] YashKumarVerma commented on #684
sure @harsh-jindal

[2018-01-25 12:07] niccokunzmann commented on #685
* We can delete all music which is from somehwere else and not from
    students
  * You can use git clone --depth=1 ... to only clone the last commits
    and see if that goes faster

On 01/25/2018 12:32 PM, Yash Kumar Verma wrote:

[2018-01-25 13:02] #675 closed

[2018-01-25 13:03] #674 closed

[2018-01-25 14:27] PrP-11 commented on #682
@duttaditya18 Okay.

[2018-01-25 14:27] #682 closed

[2018-01-25 14:46] STEdirisuriya commented on #657
looks awesome

[2018-01-25 16:11] PrP-11 opened #692 "Add back to the top feature on How to play page"
### Expected results
Back to top feature
### Actual results
No such function

### Would you like to work on this
Yes

[2018-01-25 18:05] #673 closed

[2018-01-25 19:46] #692 closed

[2018-01-26 03:39] Ploypiti commented on #657
Thanks!
@duttaditya18 The logo is _not_ heading, however, with logo, we won't need header anymore, except in the case of extra elements which could be added in the future, I want logo to be explicitly separated with normal header.

[2018-01-27 08:20] #681 closed

[2018-01-27 08:21] #657 closed

[2018-01-27 19:40] #629 closed

[2018-01-28 11:43] STEdirisuriya opened #700 "Make menubar text aligned correctly."
### Expected results
Make menu-bar text aligned correctly.

### Actual results
![image](https://user-images.githubusercontent.com/33794760/35481670-d9413588-044d-11e8-9d2d-f10c32629966.png)
On the menu-bar the icon of labyrinth and "How to play" menu item with going. And small part of "select your language" menu item is not showing.

### Steps to reproduce the issue
Make text smaller.

### Would y

[2018-01-28 11:46] STEdirisuriya commented on #478
@DNS-404 Thanks

[2018-01-28 11:46] #478 closed

[2018-01-28 11:46] STEdirisuriya commented on #619
@kubami9 What's your status

[2018-01-28 11:56] STEdirisuriya commented on #206
@niccokunzmann there are some steps to fix and improve yet

[2018-01-28 12:05] STEdirisuriya commented on #206
*Add a option to change character on menu-bar. (enhancement)* step fixing from following issue.
https://github.com/fossasia/labyrinth/issues/579

* Add an about window and add social icons, UI creator, Contributors, brief description on it. (enhancement)* not yet fixed

*This tile came out from walls, please resolve it. (bug)* This is yet.

* Make same message not shows to twice. (bug)* yet

[2018-01-28 12:06] STEdirisuriya commented on #206
As I think not single improvements yet.
I tell about these things.

 Make a way for use key and go to the next level. (enhancement)

 Add arrows and bows in several places to picks as an inventory when we enter to some places there are monsters without bows we died. we must have bows. Add things like following. (enhancement)

 Add dangerous fishes. without feed them with food we can't proceed. (en

[2018-01-28 13:56] #679 closed

[2018-01-28 14:14] #641 closed

[2018-01-28 17:27] PrP-11 opened #704 "separate js file to toggle color of play pause button"
### Expected results
separate file in css folder to toggle color of play pause button
### Actual results
this code is in a js file which will be harder for other people to find from where the css of these buttons are changing.

### Would you like to work on this
Yes