[2018-01-28 18:18] niccokunzmann commented on #704
You can use css classes and toggle these using JavaScript with the
classList attribute.

[2018-01-28 20:13] #704 closed

[2018-01-29 04:30] Ploypiti commented on #700
It's working just fine here...
![image](https://user-images.githubusercontent.com/32614202/35493671-ae53e7ea-04e7-11e8-838d-fe3a79fe55ce.png)

[2018-01-29 11:59] duttaditya18 commented on #700
@Ploypiti It is because of different screen resolutions. The menu bar is messed up for me as well.

[2018-01-30 10:28] #517 closed

[2018-02-02 17:13] kubami9 commented on #619
Sorry, had some issues with my laptop I'm back now doing all the work from scratch again

[2018-02-04 01:08] #619 closed

[2018-02-05 01:56] himanshuc3 commented on #700
I would be happy to solve this issue.
Give me a day's time.

[2018-02-05 03:19] himanshuc3 opened #707 "Labyrinth Logo overlapping the sidebar"
### Expected results

![screen shot 2018-02-05 at 8 46 42 am](https://user-images.githubusercontent.com/19166045/35787032-3f196638-0a51-11e8-8b2c-e54bd3b9f9f5.png)

### Actual results

![screen shot 2018-02-05 at 8 44 45 am](https://user-images.githubusercontent.com/19166045/35787003-2036f014-0a51-11e8-88da-11e69549c9fd.png)

### Steps to reproduce the issue

Run labyrinth on localhost and reduce

[2018-02-05 08:59] duttaditya18 commented on #700
@himanshuc3 Awesome!

[2018-02-05 11:26] himanshuc3 commented on #685
Hola people.
According to https://www.atlassian.com/blog/git/handle-big-repositories-git:
Solution proposed by @niccokunzmann would work. Although it would have been a better solution if the repo had very long history. For a repo having binary assests, this could be a better solution:
1. git clone
2. git config core.sparsecheckout true
3. Add folders that are needed explicitly, ignoring assets fol

[2018-02-05 11:28] himanshuc3 commented on #684
Hola everyone. Is anyone still working on this.

[2018-02-05 11:32] himanshuc3 commented on #683
This is a good idea 👍 . I totally support it. I would like to implement it along with @YashKumarVerma, if possible.

[2018-02-05 11:37] niccokunzmann opened #711 "Change CSS"
### Expected results

For each page, I would like to know:
- which file do I have to edit to change this page
- without breaking other pages

### Actual results

- not clear which file is used where, unclear names like "custom.css"
- CSS is replaced by JavaScript

### Implementation/Solution Ideas

I would like to have
- one css file per page
- one css file with the proposed design from the UI gui

[2018-02-05 11:39] himanshuc3 commented on #649
Hola.
By mistake I didn't see this Issue, so I made a similar PR.
I apologise.

[2018-02-05 11:42] himanshuc3 commented on #618
Is this to be done using O-auth.

[2018-02-05 11:56] himanshuc3 commented on #600
It would be great if the site could be served on gh-pages. Could you make it possible @niccokunzmann .

[2018-02-05 12:05] duttaditya18 commented on #600
@himanshuc3 Rawgit is a lot better for development. It displays the content directly from GitHub. So updating is almost instant.

We can start using gh-pages once we have a semi working thing going.

[2018-02-05 12:08] himanshuc3 commented on #600
I see. Fine.

[2018-02-05 13:17] duttaditya18 commented on #711
Don't have any time right now! But I really feel strongly about this, If anyone doesm't take this up in ~5 days. I'll work on it.

[2018-02-05 13:19] duttaditya18 commented on #684
@himanshuc3 Go on! Everyone is busy with exams. And I see it as okay if someone takes up an issue after it has been abandoned for more than a week.

[2018-02-05 13:20] duttaditya18 commented on #678
Fixed by @DNS-404

[2018-02-05 13:21] duttaditya18 commented on #676
@harsh-jindal Still working on it?

[2018-02-05 14:00] harsh-jindal commented on #676
@duttaditya18 No,you can go ahead.

[2018-02-05 14:02] harsh-jindal commented on #684
@himanshuc3 You can go ahead with it.

[2018-02-05 19:18] iknoorjobs commented on #677
@harsh-jindal Done.
Kindly check my PR.

[2018-02-06 06:17] iknoorjobs opened #713 "Clicking on the Logo should direct to the home page"
### Steps to reproduce the issue
Go to contributors page. Now there is no way to return back to the game except going back.

### Implementation/Solution Ideas
Clicking on the logo should direct to the home page with game.

### Would you like to work on this
Yes

[2018-02-06 10:58] himanshuc3 commented on #684
Just a quick doubt. I don't have experience in Inkscape. Can anyone tell by which extension was animation made in Inkscape. Or was it done in javascript ?

[2018-02-06 11:08] himanshuc3 commented on #156
Hi @0x48piraj I would like to work on this issue.

[2018-02-06 11:14] duttaditya18 commented on #156
@himanshuc3 I think you can go ahead. @0x48piraj has already done some work. If you can, contact him.

[2018-02-06 11:42] himanshuc3 opened #714 "Adding Play/Pause feature in the Foreground"
### Expected results
![screen shot 2018-02-06 at 5 02 24 pm](https://user-images.githubusercontent.com/19166045/35857989-cd758762-0b60-11e8-9bf0-caf29a25357a.jpg)

### Actual results
![screen shot 2018-02-06 at 5 11 50 pm](https://user-images.githubusercontent.com/19166045/35858001-d984b320-0b60-11e8-9ec4-dbadb7bb113d.png)

### Would you like to work on this
Yes. If approved.

[2018-02-06 16:17] himanshuc3 commented on #678
Bug still remains, I think!
![screen shot 2018-02-06 at 9 47 16 pm](https://user-images.githubusercontent.com/19166045/35870288-56acd44c-0b87-11e8-93f8-9a2e18dfa5e1.png)

[2018-02-06 16:50] himanshuc3 opened #715 "Refactoring and beautifying howtoplay page"
### Expected results

**Briefly** documented code. No changes in UI.

### Would you like to work on this

Yes.

[2018-02-06 20:58] niccokunzmann commented on #683
A comment from me: https://gitter.im/fossasia/labyrinth?at=5a79bbea4a6b0dd32b976d2c

[2018-02-06 21:10] niccokunzmann commented on #684
Each object in inkscape has a rotation center. If you have the mouse
activated (F1, I think) and you click on the object, you can find out
its rotation center and change it. This might help.

Also: There might be a center of rotation specified in the file. I
think, animations are CSS.
You may be able to edit them using Control+Alt+D which is document
properties in the first (file) menu.

Is this a

[2018-02-07 11:01] himanshuc3 commented on #711
I would like to refactor and clean up.

[2018-02-07 11:27] duttaditya18 commented on #711
@himanshuc3 Sure! Go ahead!

[2018-02-07 13:40] himanshuc3 opened #718 "contributors html page"
### Expected results
![screen shot 2018-02-07 at 7 05 29 pm](https://user-images.githubusercontent.com/19166045/35919093-03ef5adc-0c3a-11e8-970c-9e6d15da2d14.png)

### Actual results
![screen shot 2018-02-07 at 7 07 53 pm](https://user-images.githubusercontent.com/19166045/35919141-370dd862-0c3a-11e8-8f28-98abd26079da.png)

###Issues Solved

- [ ]  Cleaned up code.
- [ ]  Fixed Contributors sectio

[2018-02-07 14:16] himanshuc3 commented on #676
@duttaditya18 you working on it?
If possible, I would like to Pair program with you since never done that before ;)

[2018-02-07 14:28] duttaditya18 commented on #676
@himanshuc3 Sorry but exams are really messing me up! 😢
Can't do anything right now. You can go ahead!

And thank you so much for contributing to Labyrinth. I was afraid this project might become dormant for some time due to exams going on in several parts of the world.

[2018-02-07 14:43] harsh-jindal commented on #655
@himanshuc3 The side menu does not show the number of badges owned out of the total number.
The issue is to implement a feature to display the (no. of badges owned) : (total no. of badges)

[2018-02-07 18:40] iknoorjobs commented on #714
@himanshuc3 Is this done?

[2018-02-08 01:36] himanshuc3 commented on #714
No.

[2018-02-08 01:39] himanshuc3 commented on #655
Ok. Got it. I will start implementing.

[2018-02-08 10:10] niccokunzmann opened #722 "Contact the inspiring artist"
This labyrinth is inspired by one of  [Theo Guinard's](theo-guignard.tumblr.com/) labyrinths.
I think, it is worth to contact him to see what he thinks and to thank for the inspiration.

Is there someone speaking French who would like to contact the artist?
Surely, we can also do this in English.

What would you like to tell him? We can set up a joint letter :)

[2018-02-08 10:43] iknoorjobs commented on #714
Are you working on this or should I give it a try?

[2018-02-08 11:05] himanshuc3 commented on #714
Working on it. Although we could pair program.

On Feb 8, 2018 4:14 PM, "Iknoor Singh" <notifications@github.com> wrote:

[2018-02-08 19:46] iknoorjobs commented on #714
Sure

[2018-02-09 05:04] himanshuc3 opened #723 "Removing Redundancy and cleaning up index.html"
### Would you like to work on this
Yes.

[2018-02-09 15:00] iknoorjobs opened #725 "Navigation bar buttons disappear when screen width less than 990px"
### Expected results
The disappeared button should be easily navigable.
Buttons: How to play, Contributors, Select Language

[2018-02-11 13:16] niccokunzmann opened #726 "[WEEKATHON] Convert Tasks to Issue Templates"
### Expected results

Currently, we are not able to track the status of what people do while they solve a task.
Each issue is different if it is a bug report or a feature request. - tasks do not fit these issue statements.
We can use Templates to convert the [tasks](https://github.com/fossasia/labyrinth/tree/master/tasks) to issue templates and allow people to claim a task and make this visible.

[2018-02-11 13:46] himanshuc3 commented on #726
Did not properly understand.
Are you stating the the issues are redundant. And maybe linking of issues with there PRs.

[2018-02-11 14:58] himanshuc3 opened #727 "Clicking outside select character popup closes it"
### Expected results
- Only closes on clicking on ok button or start button.

### Actual results
- Modal/popup goes down on clicking outside modal box.

![screen shot 2018-02-11 at 8 24 25 pm](https://user-images.githubusercontent.com/19166045/36074681-973862f2-0f69-11e8-8001-2f9bf398b31d.png)
### Implementation/Solution Ideas
- 2 possible solutions: Either make modal manually without help of swee

[2018-02-13 03:47] naveentherocker commented on #718
@himanshuc3 Any Updates?

[2018-02-13 05:01] himanshuc3 commented on #718
About?
The PR about this issue has been merged. This issue should be shutdown I think.

[2018-02-13 08:58] niccokunzmann commented on #655
@himanshuc3 Can this be closed?

[2018-02-13 09:01] niccokunzmann commented on #655
I added what can be done to improve the code quality to #103

[2018-02-13 09:02] niccokunzmann commented on #655
From my view, this can be closed. We have the counter now. Please comment if you think otherwise so we can re-open.

[2018-02-13 09:02] #655 closed

[2018-02-13 11:40] niccokunzmann commented on #718
@himanshuc3 You can close the issue if you think it is solved. As you can open issues, you can close your own.

[2018-02-13 11:58] duttaditya18 commented on #727
@himanshuc3 That is easily fixable. Read the SweetAlert2 Docs here : https://sweetalert2.github.io/

Just set `allowOutsideClick`, `allowEscapeKey`, `allowEnterKey` to false.

[2018-02-13 15:32] duttaditya18 commented on #552
@Ploypiti Are you done?

[2018-02-14 12:03] isuruAb commented on #707
@himanshuc3  how is the progress of this issue

[2018-02-14 12:06] himanshuc3 commented on #707
It is solved.

[2018-02-14 12:06] #707 closed

[2018-02-14 12:06] #723 closed

[2018-02-18 05:51] niccokunzmann opened #732 "[WEEKATHON] Correct Intellectual Property of WEEKATHON Website"
### Expected results

In the WEEKATHON folder, I would like to apply the AGPL. to be sure we are allowed to use the code.

### Actual results

We are not allowed to apply the AGPL.
We might not even be allowed to use some of the files.

And

Which is clearly in contrast to AGPL.

## solution ideas

### (1) Use of the site and contributions to the site made by @Ploypiti in Ploypiti's repository

-

[2018-02-18 06:18] ankit026 opened #734 "Division problem"
When the object say cat is coming inside the box of Mona Lisa then the pop-up message division is going outside ,it should be made such that it does not go outside the defined division and the menu is not hidden.

[2018-02-18 06:33] niccokunzmann commented on #552
Hi @Ploypiti Thanks for your site, it looks great. I created https://github.com/fossasia/labyrinth/pull/732 to protect you and the labyrinth from Intellectual Property rights problems. I must say I am not a lawyer and I do not know the contract you made to get the files. Thus, I am not 100% sure at all and in any way with all licenses we have in this project. However, I do not want [evanto](https:

[2018-02-18 06:36] niccokunzmann commented on #552
@Ploypiti Would it be ok for you to add this to the poster:

or

? Then, we can modify it, too.

[2018-02-18 06:38] Ploypiti commented on #732
First of all,

2.You are licensed to use the Item to create one single End Product for yourself or for one client (a “single application”), and the End Product can be distributed for Free.
3.An End Product is one of the following things, both requiring an application of skill and effort.
(a)For an Item that is a template, the End Product is a customised implementation of the Item.
For example: the

[2018-02-18 06:42] niccokunzmann commented on #726
@himanshuc3 I edited the description. Is it clearer now?

[2018-02-18 06:42] Ploypiti commented on #552
Say I paid for it @niccokunzmann, maybe you need to read the comment I left on #732?

[2018-02-18 06:46] niccokunzmann commented on #552
@all, what do you think, we need for the Weekathon? Please create issues with `[WEEKATHON]` in the title: https://github.com/fossasia/labyrinth/issues?utf8=%E2%9C%93&q=is%3Aissue+is%3Aopen+WEEKATHON+in%3Atitle

[2018-02-18 07:11] niccokunzmann commented on #732
I think that you might be frustrated because you put a lot of work in you like to see valued and used. Furthermore, you might fear that if you do nothing, your work is lost.

I woke up this morning and could not get to sleep because these licenses do not seem to be usable under AGPL/GPL:

I do not see that I am allowed to use the files you purchased.

---

There is a way in which both you and I ar

[2018-02-18 07:44] niccokunzmann commented on #732
is interesting. I think, for Free means free of charge. I do not think that it means "free software".

This is something I do not understand: Websites will be improved all the time. There are several versions each time one end product. Once it is forked, there are many end products.

AGPL:

this license:

This might conflict with  AGPL:

---

I think, "for free" means free of charge and not that o

[2018-02-19 06:28] Ploypiti commented on #732
I contacted them and I think they're totally okay with this, (and yes I informed them about licenses overlap) note that >50% of the site is from Envato.

We can discuss this again whenever you want to charge for accessing labyrinth. To be honest, my responsibility is beyond whatever happens after my job is done.

For a better depiction;
![untitled](https://user-images.githubusercontent.com/3261420

[2018-02-19 09:04] niccokunzmann commented on #732
Currently, we have this link: https://rawgit.com/fossasia/labyrinth/master/WEEKATHON/weekathon.html
Redirecting to your site.
We can use your site as the advertisement by using the labyrinth redirect link.

It is not about me charging. The AGPL allows it. If we create an app for the app store, we can have a  free version and a support+pay version. However, this is not possible if the Envato code i

[2018-02-19 09:44] duttaditya18 commented on #732
@niccokunzmann So we should contribute to @Ploypiti repo?

Also, what is the next step? Should we start putting info on the website? Or should we wait for the License mess to get sorted?

[2018-02-19 17:18] niccokunzmann commented on #732
From my view, we can start contributing the content to Ploypiti
<https://github.com/ploypiti>'s repository.

[2018-02-19 17:48] duttaditya18 commented on #732
@niccokunzmann Cool!

[2018-02-21 04:32] himanshuc3 commented on #726
Yup, a sound tone now!

[2018-02-27 01:27] ashupednekar commented on #713
I'd like to fix  this issue

[2018-02-27 01:33] ashupednekar commented on #676
@himanshuc3 are you working on this? If not, then I'd like to work on it.

[2018-02-27 02:49] himanshuc3 commented on #676
My exams have been around. You can go ahead @ashupednekar and take the task.

[2018-02-27 11:57] ashupednekar commented on #676
Fine, I'll get on with it.

[2018-02-27 17:56] #734 closed

[2018-02-27 22:36] ashupednekar opened #735 "Add hindi language"
### Expected results
Should support Hindi Language

### Actual results
Supports only Sinhala, English and Polski.

### Steps to reproduce the issue
Edit the translate.js file

### Would you like to work on this
__YES__

[2018-02-27 22:53] ashupednekar commented on #735
Fixes #735

[2018-03-08 04:43] #649 closed

[2018-03-08 04:45] #678 closed

[2018-03-08 04:46] #680 closed

[2018-03-09 09:14] niccokunzmann opened #741 "Remove the "Hints for GCI-Students" Section"
We can remove the section "Hints for GCI-Students":

- because GCI is over.
- because this is a copy from the tasks

To close this:

- [ ] remove the heading from the outline
- [ ] remove the section including "Solve an Issue"

[2018-03-09 14:06] Ploypiti commented on #552
Nope.

![image](https://user-images.githubusercontent.com/32614202/37211169-a8b6b762-23dd-11e8-81b3-810790110283.png)

[2018-03-10 10:39] niccokunzmann opened #742 "[WEEKATHON] Improve Official Text"
This is an already changed version with feedback from @kirstin. Please ask outsiders to improve it or ask them what they would like to know even more about:

After a time of 7 days, I would like to start translating it. This way, we can show new-comers from different languages that we welcome them even in their language. This should be the official invitation text.

[2018-03-11 10:34] niccokunzmann opened #743 "[WEEKATHON] Promote the Weekathon"
The dates are set. Now, we can invite other people to join us.

### How to use the Feature

We can write letters, mails, put up posters, ...
to promote the weekathon and get people to know about it.

### How the Feature Improves the Game

This will bring more people to the weekathon

### Implementation/Solution Ideas

We can promote it here:
- [ ] fossasia mailing list
- [ ] fossasia conference
-

[2018-03-15 12:53] duttaditya18 commented on #741
Should we maybe put it in a different Markdown file titled "GCI" or something?

[2018-03-15 12:56] duttaditya18 commented on #711
Damn. This is gonna be quite a task. Will work on it @himanshuc3 is not.

[2018-03-15 13:05] duttaditya18 commented on #685
@niccokunzmann Very soon we'll have too many binaries, making this repository over the current limit of GitHub of 1GB. I really think we must host the music somewhere else.

[2018-03-15 13:15] niccokunzmann commented on #741
We can do this. It was a copy from the tasks https://github.com/fossasia/labyrinth/tree/master/tasks so, it is duplicated documentation. What do you think?

[2018-03-15 13:16] #726 closed

[2018-03-15 13:21] niccokunzmann commented on #685
Do you have a citation/source for this limit?
We can also remove all music which is not self-made by contributors. That makes it even smaller.
We can also host it in a different branch.

[2018-03-15 18:19] duttaditya18 commented on #685
@niccokunzmann https://help.github.com/articles/what-is-my-disk-quota/

The limit is quite rigid. And Git LFS is quite pricey.

[2018-03-15 18:25] niccokunzmann commented on #685
I clicked through and I think, we are able to remove large files.
Some of the might be just in the git history. This explains how we can
remove certain files:
https://help.github.com/articles/removing-sensitive-data-from-a-repository/
There might be tricks to find the biggest files in the git history.

[2018-03-15 18:40] niccokunzmann commented on #685
I think, there are almost no commits with just big files. If there are some, I do not know what happens.

[2018-03-15 18:50] duttaditya18 commented on #713
Is this still not solved?

[2018-03-15 19:01] duttaditya18 opened #745 "Slowing down of Game due too many SVGs being loaded at the same time and a lot of JS."
* So as most of people may have noticed, the game slows down after we move around a bit. This is clearly due to so many JS actions that are going on all the time and the several SVGs loaded in.

* This problem is more clearer in Firefox and Safari than Chrome because Chrome has a tendency to eat up all the resources it can while Firefox and Safari keeps itself in check.

* We will be making this g

[2018-03-15 19:01] iknoorjobs commented on #713
Yes

[2018-03-15 19:01] #713 closed

[2018-03-15 19:13] duttaditya18 commented on #713
@iknoorjobs Then why you closed it?

[2018-03-16 04:57] xeon-zolt commented on #741
@niccokunzmann shouldn't we change it to guide for contributes ??

[2018-03-16 10:16] #741 closed

[2018-03-16 10:18] niccokunzmann commented on #741
@xeon-zolt In #726, we have these tasks as issue templates all added to the contributing file.

[2018-03-24 05:43] duttaditya18 commented on #714
On it!

[2018-03-24 10:31] duttaditya18 commented on #715
Is this finished?

[2018-03-24 10:35] duttaditya18 commented on #579
@niccokunzmann So, I should I add the Swal2 dialog box only?

[2018-03-24 10:56] duttaditya18 commented on #700
So I think this is done.

[2018-03-24 10:57] duttaditya18 commented on #684
@niccokunzmann I'll check it out.

[2018-03-24 12:48] niccokunzmann commented on #715
I guess so. We can close it and re-open if it is not finished. There is work done.

[2018-03-24 12:48] #715 closed

[2018-03-24 12:51] niccokunzmann commented on #579
Could you explain your thoughts more? I do not know. There is a Swal2 dialog box at the moment, I think.

[2018-03-24 12:53] niccokunzmann commented on #700
I also think this is done. Here we have screen shots: https://github.com/fossasia/labyrinth/pull/709#issuecomment-363045397

[2018-03-24 12:53] #700 closed

[2018-03-27 02:33] Ploypiti commented on #732
Can we close this?

[2018-03-27 02:53] Ploypiti commented on #745
Um, try caching? Since the files changes constantly we can go with ETag or `last-modified` tag.

[2018-03-27 05:31] #714 closed

[2018-03-27 05:33] niccokunzmann commented on #732
@Ploypiti Sure, solution 1.1 is implemented. Is it ok if we contribute to your site?

[2018-03-27 05:48] Ploypiti commented on #732
Yeah, go on.

[2018-04-12 07:52] #732 closed

[2018-05-04 14:42] abishekvashok commented on #743
Status @niccokunzmann

[2018-05-04 18:00] niccokunzmann commented on #743
Can be closed.

[2018-05-04 18:00] #743 closed

[2018-05-04 18:01] #552 closed

[2018-05-04 18:01] #742 closed

[2018-05-25 20:50] Panda2498 commented on #735
I would like to work on this issue.

[2018-06-02 07:16] Rishabh570 commented on #727
@duttaditya18 @himanshuc3 I would like to work on it.

[2018-06-02 07:35] Rishabh570 commented on #727
@duttaditya18 I've opened a PR for it.

[2018-06-02 10:39] #727 closed

[2018-06-03 05:11] Rishabh570 commented on #725
@iknoorjobs We can probably toggle the navbar when the width is less than some predefined width...

[2018-09-16 13:13] samyakbvs commented on #711
I would like to work on it :) @niccokunzmann @duttaditya18

[2018-09-16 17:02] niccokunzmann commented on #711
Welcome, sure! Have fun :)

On 09/16/2018 03:13 PM, samyakbvs wrote:

[2018-10-11 12:32] crisner opened #751 "Navbar links are not clickable on the initial page"
### Description
The navbar links are not clickable when the page first loads. An invisible div from the 'choose character' modal seems to be overlapping the navbar.

[2018-10-11 12:54] #751 closed

[2018-10-29 19:52] AppleC4T opened #754 "New Character: PixelArt Thumbs Up"
### Description

A green (matching the navbar color) thumbs up made with pixel-art.

### Implementation Plan

- [x] Read the [documentation about adding characters].
- [x] Create a character of correct dimensions with a drawing program such as [Inkscape].
- [x] Upload the character to the [characters folder].
- [x] Add the character path to the [gui.js] file between the other characters.

### Clos

[2018-10-29 23:41] niccokunzmann opened #757 "Remove Squash commits from PR template?"
The [Pull request template](https://github.com/fossasia/labyrinth/blob/master/.github/PULL_REQUEST_TEMPLATE.md) has a checkbox for merge commits.
Asking new contributors for squash their commits might be a burden that rejects their contributions.
It can take quite some time for people to adopt to squashing. The first contribution might be done via upload and further contributions make squashing an

[2018-10-29 23:43] niccokunzmann commented on #757
@@

[2018-10-29 23:46] niccokunzmann commented on #757
@YashKumarVerma, I would value your input here.

[2018-10-30 03:59] YashKumarVerma commented on #757
When I first participated in GCI, whenever I was asked to squash commit, I would close the PR. Create a new one which had only one commit. Github Desktop too doens't have anything to aid the process or squashing.

As we have a lot of young programmers in GCI, **squashing** is a hinderance to contribution. Removing the boundation of squashing will no doubt ease the work of students and foster const

[2018-10-30 06:43] niccokunzmann commented on #757
Thanks @YashKumarVerma for taking the time!

I understand as follows:

yes

Optional is not the term you would use.
The process is to

1. ask for them to merge
2. give them the time to try
3. merge the commit yourself

We can use squash and merge commits and revert pull requests. This does not really help in maintaining the project through a commit history, though.

---

My suggestion for going fo

[2018-10-30 06:51] niccokunzmann opened #761 "Replace rawgit for preview links"
Rawgit is down. We can not use it to create a preview link. We need a replacement for it that allows us to generate a preview link easly.

- Please search for websites which allow us to replace this site.
- Or add a description on how to preview using github pages (not optimal, as we would like people to use other branches than master and have the PRs document the current state)

[2018-10-30 06:53] #754 closed

[2018-10-30 20:48] #757 closed

[2018-10-31 10:48] niccokunzmann commented on #761
This blog post describes how to create deploy links as comments on a pull request: https://damien.pobel.fr/post/github-api-from-travisci/

There must be a way how we can deploy a website to any place easily - it only needs to be there for a day or two.

[2018-10-31 12:03] abishekvashok commented on #761
https://gitcdn.xyz

[2018-10-31 12:03] abishekvashok commented on #761
https://raw.githack.com

[2018-10-31 14:55] AppleC4T opened #766 "New Tile: Seaside view"
### Description

Add a new tile with a sea graphic on walls

### Implementation Plan

- [x] Read the [documentation about adding new tiles].
- [x] Draw a floor.
- [x] Draw a wall.
- [x] Draw another wall or mirror the existing one.
- [ ] Scan or photograph the pictures if they are hand-drawn.
- [x] Add the pictures to the [tiles folder].
- [x] Edit the [tiles.js] file to include the new tile.
- [x

[2018-11-01 01:01] #766 closed

[2018-11-01 10:50] YashKumarVerma opened #771 "Pull Requests don't have preview Links"
We need an auto-deploy mechanism for the pull requests made to the repo.

[2018-11-01 10:53] YashKumarVerma opened #772 ".gitignore missing"
there should be a .gitignore file to omit file changes

[2018-11-01 10:59] YashKumarVerma opened #773 "Travis Outdated"
Travis is not configured to
- cache node modules
- use latest node version
- documented (via inline comments)

[2018-11-01 11:05] YashKumarVerma opened #775 "PR Template outdated : Misses preview link template"
PR Template outdated : Misses preview link template.

[2018-11-02 08:30] #771 closed

[2018-11-02 08:30] #772 closed

[2018-11-02 08:30] #773 closed

[2018-11-02 08:32] niccokunzmann opened #778 "move deploy.sh to scripts folder"
Please

- [ ] move the deploy.sh file to the scripts folder as this is where the files are which we use to execute.
- [ ] make it executable
- [ ] also change the .travis.yml file

[2018-11-02 08:33] #775 closed

[2018-11-02 08:35] niccokunzmann opened #779 "Remove mocha dependency"
Please check if we need to use mocha in the package.json file by removing it.

- [ ] remove mocha from the package.json
- [ ] remove the test.js file

[2018-11-02 08:35] niccokunzmann opened #780 "Remove Weekathon website"
The weekathon was a long time ago. We do not need the website anymore. Please remove the folder.

[2018-11-02 08:37] niccokunzmann opened #781 "Remove the character_select page"
The character select page  `pages/character_select` is a nice idea but not ready. We can remove the folder.
The pull request can be easily reverted.

[2018-11-02 08:38] niccokunzmann opened #782 "Remove Zeichnung Lasse.svg"
This file is not needed I hope. It should be removed.

[2018-11-02 08:39] niccokunzmann commented on #781
Related #568

[2018-11-02 09:17] abishekvashok commented on #780
Was it conducted btw?

[2018-11-02 09:28] niccokunzmann opened #783 "Update Maintainers' Section"
Please update the maintainers' section the bottom of the README file.

- [ ] add the missing maintainers
- [ ] Add a text that if you like to become an admin, you should request to join https://github.com/orgs/fossasia/teams/labyrinth-admins/members

- [x] @YashKumarVerma
- [ ] @saarthakchats
- [ ] @abishekvashok

[2018-11-02 09:32] abishekvashok commented on #722
I would like to thank him for being so he inspiration. I would also ask whether we could mention his name in the readme.

[2018-11-02 09:33] abishekvashok commented on #569
@niccokunzmann do we need this?

[2018-11-02 09:34] abishekvashok commented on #469
I think this can be safely closed.

[2018-11-02 09:34] #469 closed

[2018-11-02 09:35] abishekvashok commented on #565
Can you come up with a description?

[2018-11-02 10:43] YashKumarVerma opened #785 "Readme links outdated"
The current readme depends on an external site to serve the game. it needs to change.

[2018-11-02 15:33] #785 closed

[2018-11-02 17:04] parammittal16 commented on #783
Hi @niccokunzmann  Can I work on this ?

[2018-11-02 17:05] parammittal16 commented on #782
Hi @niccokunzmann  Can I work on this ?

[2018-11-03 01:13] YashKumarVerma commented on #783
Sure @parammittal16 .

[2018-11-03 01:19] YashKumarVerma commented on #782
Sure @parammittal16

[2018-11-03 02:44] YashKumarVerma commented on #103
@niccokunzmann can we close this now?

[2018-11-03 02:47] YashKumarVerma commented on #685
@niccokunzmann can we propose a new branch for static content? Or maybe for music?

[2018-11-03 02:48] #540 closed

[2018-11-03 09:14] niccokunzmann commented on #103
I think, we could check and create new issues from this one. It is a lot of work but may pay off in the future.

[2018-11-03 10:58] #782 closed

[2018-11-03 20:00] ammarbinfaisal opened #793 "Left navigation slider only opens and doesnt get close"
### Present behaviour
Clicking on the nav burger opens the navigation slider but clicking on it after that doesnt closes it but scrolls the page to the top

### Expected behaviour
Clicking on the nav burger should toggle the nav slider - close it if it is open and open it if it is closed.

**My screen size:** 1920 x 1080
**Browser:** Chrome 69
And I'd like to help in fixing this

[2018-11-03 23:53] YashKumarVerma commented on #793
Good to know you want to fix this. Feel free to ask for help if needed.

[2018-11-04 00:45] YashKumarVerma opened #795 "ISSUE Template Missing"
we don't have an issues template. check sister projects for examples.

[2018-11-04 03:48] ammarbinfaisal opened #796 "Weird hover over "select your language" in the navbar"
![hoverbug](https://user-images.githubusercontent.com/30975614/47959756-36e7e380-e012-11e8-95d8-da4f6c174ee6.gif)
## Present behaviour
Hover on the parent of "select your language" element turns the parent's bg light green and then moving to the text turns it bg light green and triggers the dropdown
## Expected behaviour
Hovering on the parent itself should do all that

[2018-11-04 14:03] #780 closed

[2018-11-04 14:56] YashKumarVerma opened #800 "character_select Directory"
Do we really need this ?

[2018-11-04 15:13] YashKumarVerma commented on #683
+ Running the game is as simple as running `npm install`.

[2018-11-05 03:53] STEdirisuriya commented on #796
I am working on this

[2018-11-05 11:17] YashKumarVerma opened #803 "JS script in css folder"
there's a javascript file in css folder. it needs to go to the `js` directory.

[2018-11-05 11:22] YashKumarVerma opened #805 "Icons outside images folder"
The icons are located outside the images folder. it should be inside the images directory.

[2018-11-05 11:44] YashKumarVerma opened #807 "Image Optimization ?"
The images can be optimized to increase game load speed.

[2018-11-05 11:48] #805 closed

[2018-11-05 18:32] #803 closed

[2018-11-06 05:08] YashKumarVerma commented on #761
Do we still need rawgit previews?

[2018-11-06 10:40] #761 closed

[2018-11-06 11:01] #807 closed

[2018-11-07 06:19] 0x48piraj commented on #569
Should I close this ?

[2018-11-07 09:02] #793 closed

[2018-11-07 09:02] #796 closed

[2018-11-07 16:39] #569 closed

[2018-11-08 10:15] ammarbinfaisal commented on #778
@niccokunzmann shud I write a separate script to modify its permissions so that it can be executed as `./scripts/deploy.sh`.

[2018-11-08 10:33] niccokunzmann commented on #778
If you have linux, you do not need that.
Do

    chmod +x deploy.sh

Then, move it, commit --all and you are done.

On 11/08/2018 11:15 AM, Ammar wrote:

[2018-11-08 11:06] ammarbinfaisal commented on #778
:man_facepalming: Ive already done that,
I deploy in .travis.yml has to be changed to `././scripts/deploy.sh`. currentl it is `bash ./deploy.sh`
thta was very foolish of me, sorry about that.

[2018-11-08 16:41] #778 closed

[2018-11-14 05:22] akshit15013 opened #813 "Add A Labyrinth Wall"
Create a PR to add a Labyrinth Wall.

[2018-11-14 13:59] STEdirisuriya opened #815 "Adding a timer."
When we need it to be a competition, we need a points system and a timer.
I am going to add a timer.

I am working on this!

[2018-11-14 14:05] STEdirisuriya commented on #815
@niccokunzmann Could you please tag this as a new feature if it's good?

[2018-11-14 15:21] YashKumarVerma commented on #815
We can no doubt add a timer but what will be the use? It's not competitive i guess. THere

[2018-11-15 16:04] #813 closed

[2018-11-15 16:26] pythongiant opened #818 "Add a character"
Add a character

[2018-11-15 20:56] #818 closed

[2018-11-15 20:58] YashKumarVerma commented on #815
Really a nice idea! Thanks 👍

[2018-11-15 21:00] YashKumarVerma commented on #800
Duplicate with #781

[2018-11-15 21:00] #800 closed

[2018-11-16 13:07] akshit15013 opened #822 "Add a Labyrinyh Wall"
Create a PR to add a Labyrinth Wall

[2018-11-16 15:32] pythongiant opened #824 "Add a wall"
Add a wall

[2018-11-16 15:57] akshit15013 opened #826 "Add a Labyrinth wall"
Create a PR to add a Labyrinth wall

[2018-11-16 15:58] #822 closed

[2018-11-17 07:11] STEdirisuriya opened #827 "Simple issues that needs a fix!"
There are lot of simple issues, need a simple fix. :smile:

- [ ] Errors in level.js
![image](https://user-images.githubusercontent.com/33794760/48658220-036e7580-ea64-11e8-80f9-aeb67c540e8b.png)
- [ ] It's overlapping
![image](https://user-images.githubusercontent.com/33794760/48658229-21d47100-ea64-11e8-8f5b-485609df926b.png)
- [ ] Wall is missing
![image](https://user-images.githubusercontent.c

[2018-11-17 11:05] YashKumarVerma commented on #815
Feature Added. :champagne:
Closing.

[2018-11-17 11:05] #815 closed

[2018-11-17 15:40] abishekvashok commented on #549
Closing in favour of #641

[2018-11-17 15:40] #549 closed

[2018-11-17 15:41] abishekvashok commented on #826
Just add it, don't create multiple issues for the same :)

[2018-11-17 15:41] #826 closed

[2018-11-17 15:41] abishekvashok commented on #824
We won't need issue to do that, just add em :)

[2018-11-17 15:41] #824 closed

[2018-11-17 17:36] akshit15013 opened #833 "Add a Labyrinth wall"
Create a PR to add a Labyrinth wall

[2018-11-17 23:20] YashKumarVerma commented on #833
There's no need to create an issue to add a wall. 😊

[2018-11-17 23:20] #833 closed

[2018-11-18 10:37] saarthakchats commented on #565
@niccokunzmann @abishekvashok
Even I think this really compliments the spirit of open source and could be a good task

[2018-11-18 10:38] saarthakchats opened #835 "Can't scroll on the side menu"
Can't scroll on the side menu bar untill the charater is selected at the beginning of the game.
Open to all

[2018-11-19 05:40] akshit15013 opened #840 "Add your own Background music"
Create a PR to add your own Background music

[2018-11-19 14:48] #840 closed

[2018-11-19 14:48] YashKumarVerma commented on #840
Thanks for the music :smile:

[2018-11-19 15:34] YashKumarVerma commented on #545
The tile has been removed from the game.

[2018-11-19 15:37] YashKumarVerma commented on #515
Auxillary Info
---
Beyond file size, there is another factor to consider in the file format choice.

SVG The Graphics processor has to work to compute the paths of an SVG file. The more paths, the more computational power is required.

Bitmaps on the other hand are dependant on filesize. Most screen images are already bitmaps (a map to which color each pixel is assigned to) SVG files have to be co

[2018-11-19 17:31] duttaditya18 commented on #476
Using Service Workers is the best option here. Freeing up memory of the previous level after we move on to a new one needs to be implemented.

We are reusing a lot of code in `js/tiles.js` and `js/levels.js`. We should start refactoring the code and building sort of a framework for adding tiles and levels.

The recent Chrome Dev Summit has an amazing talk on JS-heavy apps : https://youtu.be/ipNW6l

[2018-11-20 03:29] akshit15013 opened #848 "Add Your Own Music To Tiles"
Create a PR to add your own music to tiles

[2018-11-20 06:54] #848 closed

[2018-11-20 06:55] #795 closed

[2018-11-20 15:11] AppleC4T opened #850 "New Tile Sound: dark glitched music"
### Description

Add a mysterious/glitched music to the dark glowing tile.

### Implementation Plan

- [x] Compose or play the music or sound and record it.
  - You can record sounds using [Audacity]
  - You can use [Sonic Pi] to program the sound.
- [x] Add one file containing the song to the [/audio] folder.
- [x] Add the license as a file according to [documentation]
- [x] Add it to the API in

[2018-11-20 17:57] YashKumarVerma opened #854 "Feature Request : Dedicated Branch for Media"
NEED ![GitHub repo size in bytes](https://img.shields.io/github/repo-size/fossasia/labyrinth.svg)
---
 - Currently, the size of the repository is about 150mb , and to even do a minor change in game, or to add a tile, or levels, a developer has to clone a whooping 150mbs.
 - As the game is updated very frequently, and majority of the developers are first time contributers, a good fraction of people

[2018-11-20 20:37] #850 closed

[2018-11-20 20:38] YashKumarVerma commented on #850
Thanks for your contribution

[2018-11-21 03:44] akshit15013 opened #856 "Add a Hand Drawn Tile"
### Description

Create a PR to add a hand drawn tile

### Implementation Plan

- [x] Read the [documentation about adding new tiles].
- [x] Draw a floor.
- [ ] Draw a wall.
- [x] Draw another wall or mirror the existing one.
- [x] Scan or photograph the pictures if they are hand-drawn.
- [x] Add the pictures to the [tiles folder].
- [x] Edit the [tiles.js] file to include the new tile.
- [x] Plac

[2018-11-21 04:53] niteshkumarniranjan opened #857 "New Character: Iron Man"
### Description
Iron Man

### Implementation Plan

- [x] Read the [documentation about adding characters].
- [x] Create a character of correct dimensions with a drawing program such as [Inkscape].
- [x] Upload the character to the [characters folder].
- [x] Add the character path to the [gui.js] file between the other characters.

### Closing Criteria

- [x] The character is added to the menu to c

[2018-11-21 08:25] matthewhanyd opened #859 "Add Dog Character"
## Expected Behavior

## Current Behavior

## Possible Solution

## Steps to Reproduce (for bugs)

1.
2.
3.
4.

## Context

## Your Environment

* Browser Name and version:
* Link to your project:
* Machine Configuration: Ram, Graphics Memory

[2018-11-21 08:28] #859 closed, assigned to nobody

[2018-11-21 08:34] Mattythewie opened #861 "Add Dog Character"
Created dog character.

[2018-11-21 10:32] YashKumarVerma commented on #861
Please follow the template.

[2018-11-21 11:03] YashKumarVerma commented on #856
Please follow the Template.

[2018-11-21 11:07] akshit15013 opened #862 "Add a hand drawn tile"
### Description

### Implementation Plan

- [ ] Read the [documentation about adding new tiles].
- [ ] Draw a floor.
- [ ] Draw a wall.
- [ ] Draw another wall or mirror the existing one.
- [ ] Scan or photograph the pictures if they are hand-drawn.
- [ ] Add the pictures to the [tiles folder].
- [ ] Edit the [tiles.js] file to include the new tile.
- [ ] Place the tile in the labyrinth.
- [ ] Che

[2018-11-21 12:06] STEdirisuriya commented on #854
@YashKumarVerma Is it reduces the size?
`A dedicated branch for media files (audio) will reduce the size by ~100mb (as of now), 71% reduction in size`
I am not sure. I think it's not to add in a dedicated branch in the same, it needs to add in another repo.

We can add tiles, audio files etc. which needs a huge space in another repo separately. We can tell contributors to if they are adding some f

[2018-11-21 12:37] abishekvashok commented on #854
A dedicated branch for media files (audio) will reduce the size by ~100mb (as of now), 71% reduction in size
As the game progresses, the size of code does not increase as steeply increase the repo size as compared to the addition of music .

This would make the game non-working and stupious, its not how git branches should be used.

[2018-11-21 12:40] abishekvashok commented on #854
Instead ask them to do a shallow clone instead, the size of the repo increases as many files are untrackable by git. For it use:
`git clone https://github.com/fossasia/labyrinth --depth=1`

It reserves the commit history to the last one though, which is not a problem 99.9% times, and for the rest .01% increase the depth to the commit you want.

[2018-11-21 12:40] abishekvashok commented on #854
Also, 150 mb is not a large size in my opinion

[2018-11-21 12:44] pythongiant commented on #854
I propose a better solution. If people have slow internet, we can have them download a compressed version of the code.

[2018-11-21 12:53] abishekvashok commented on #854
Again adding to shallow clone,
https://marco-steinhaeuser.de/use-shallow-clone-to-reduce-the-download-size-of-a-github-repository.html
https://medium.com/@wdyluis/git-gc-and-git-shallow-clone-360aade9403e

[2018-11-21 13:00] YashKumarVerma commented on #854
Thanks for your openions @abishekvashok @pythongiant @STEdirisuriya.

I think the shallow clone is the best solution as proposed by @abishekvashok and the links were very helpful too. Thanks for your help.

Closing as better Options in Hand.

[2018-11-21 13:00] #854 closed

[2018-11-21 13:35] YashKumarVerma commented on #862
Closing as Duplicate of #856

[2018-11-21 13:35] #862 closed

[2018-11-21 13:39] YashKumarVerma commented on #840
@pythongiant you could have opened a fresh Issue for your work.

[2018-11-21 13:40] pythongiant commented on #840
alright
@YashKumarVerma

[2018-11-21 13:40] pythongiant opened #864 "Add My Own Music"
### Description

### Implementation Plan

- [ ] Compose or play the music and record it.
  - You can sing or play an instrument like guitar and piano and record it using [Audacity]
  - You can use [Sonic Pi] to program the music.
- [x] Add one file containing the song to the [/audio/background] folder.
- [x] Add the license as a file according to [documentation]
- [x] Add it to the API in the [sou

[2018-11-21 13:41] YashKumarVerma commented on #864
Please fill the description

[2018-11-21 13:43] pythongiant commented on #864
Well its NCS and I followed their guidelines @YashKumarVerma

[2018-11-21 13:45] #864 closed

[2018-11-21 14:04] duongoku opened #866 "Add Demon Knight character"
## Expected Behavior

Add a new character.

## Current Behavior

Added a new character: Demon Knight.

## Possible Solution

## Steps to Reproduce (for bugs)

## Context

[2018-11-21 14:31] #866 closed

[2018-11-21 14:31] YashKumarVerma commented on #866
Thanks.

[2018-11-21 14:59] AppleC4T opened #868 "New Level: Dark Realm"
### Description

Add a new level based on the dark glowing tile

### Implementation Plan

- [x] Read the [documentation about adding new tiles].
- [x] Create a new level in [levels.js].
- [x] Create or modify a tile which allows switching to your level in [tiles.js].

### Closing Criteria

- [x] The level is added to the labyrinth and reachable. Please provide the path.
- [x] One can walk through

[2018-11-21 16:03] pythongiant opened #869 "Add song to tile"
### Description

Dubstep

### Implementation Plan

- [x] Compose or play the music or sound and record it.
  - You can record sounds using [Audacity]
  - You can use [Sonic Pi] to program the sound.
- [x] Add one file containing the song to the [/audio] folder.
- [x] Add the license as a file according to [documentation]
- [x] Add it to the API in the [tiles.js] file.

### Closing Criteria

- [x]

[2018-11-21 16:37] YashKumarVerma commented on #869
I think you should use the issue template

[2018-11-21 16:40] pythongiant commented on #869
Where is it

[2018-11-21 16:57] YashKumarVerma commented on #869
In the   .github directory / issue template

[2018-11-21 16:58] pythongiant commented on #869
done @YashKumarVerma merge now?

[2018-11-21 17:50] #869 closed

[2018-11-21 17:52] #868 closed

[2018-11-21 19:39] #685 closed

[2018-11-21 23:31] akshit15013 commented on #856
@YashKumarVerma

[2018-11-22 03:41] #861 closed

[2018-11-22 03:51] Mattythewie opened #875 "Add Dog Character"
### Description
Added a dog character.

### Implementation Plan

- [ ]  Read the documentation about adding characters.
- [ ]  Create a character of correct dimensions with a drawing program such as Inkscape.
- [ ]  Upload the character to the characters folder.
- [ ]  Add the character path to the gui.js file between the other characters.

### Closing Criteria

- [ ]  The character is added to th

[2018-11-22 04:20] niteshkumarniranjan opened #878 "Spelling Mistakes in Pull Requests Template."
## Expected Behavior
Should be no spelling mistakes.

## Current Behavior
There are some spelling mistakes.

## Possible Solution
Correct those.

## Steps to Reproduce (for bugs)
https://github.com/fossasia/labyrinth/blob/master/.github/PULL_REQUEST_TEMPLATE.md

**Want to work on it**
Yes

[2018-11-22 07:46] AppleC4T opened #879 "New Tile: Light piece"
### Description

Add a light tile to the Dark Realm level with a functionality.

### Implementation Plan

- [x] Read the [documentation about adding new tiles].
- [x] Draw a floor.
- [x] Draw a wall.
- [x] Draw another wall or mirror the existing one.
- [ ] Scan or photograph the pictures if they are hand-drawn.
- [x] Add the pictures to the [tiles folder].
- [ ] Edit the [tiles.js] file to includ

[2018-11-22 08:30] kuaLeYi opened #880 "New Tile Sound: piano music"
### Description

I would like to add a snippet (~10 s) of my piano music to the `treasure` tile.

### Implementation Plan

- [x] Compose or play the music or sound and record it.
  - You can record sounds using [Audacity]
  - You can use [Sonic Pi] to program the sound.
- [x] Add one file containing the song to the [/audio] folder.
- [x] Add the licence as a file according to [documentation]
- [x]

[2018-11-22 10:45] #880 closed

[2018-11-22 10:49] YashKumarVerma commented on #878
Would you like to work on it ? If possible, please provide the instances so that it can be easy to remove them.

[2018-11-22 10:51] YashKumarVerma commented on #856
Thanks for the changes @akshit15013 . I think we can close it now.

[2018-11-22 10:51] #856 closed

[2018-11-22 18:11] arihantbansal opened #884 "Added background music"
### Description

Added self-composed music.

### Implementation Plan

- [x] Compose or play the music and record it.
  - You can sing or play an instrument like guitar and piano and record it using [Audacity]
  - You can use [Sonic Pi] to program the music.
- [x] Add one file containing the song to the [/audio/background] folder.
- [x] Add the license as a file according to [documentation]
- [x] A

[2018-11-22 19:57] YashKumarVerma commented on #884
https://github.com/fossasia/labyrinth/tree/master/.github/ISSUE_TEMPLATE has the templates. Use the music one

[2018-11-22 19:57] akshit15013 opened #887 "Add a functionality card"
## Expected Behavior

## Current Behavior

## Possible Solution

## Steps to Reproduce (for bugs)

1.
2.
3.
4.

## Context

## Your Environment

* Browser Name and version:
* Link to your project:
* Machine Configuration: Ram, Graphics Memory

[2018-11-22 21:07] YashKumarVerma commented on #887
Hey there @akshit15013 . You've already made some contributions to the game (and hence not a beginner), So I think you should start using the issue template. they are in the /.github/issue_templates folder.

[2018-11-23 04:41] akshit15013 commented on #887
@YashKumarVerma I could not find a standard template for adding a functionality  in the /.github/issue_templates folder.

[2018-11-23 06:22] AirWolfXD opened #890 "Add music to blood tile"
## Expected Behavior

My blood tile will have a sound effect
## Current Behavior

## Possible Solution

## Steps to Reproduce (for bugs)

1.
2.
3.
4.

## Context

I am doing Google Code-In 2018
## Your Environment

* Browser Name and version:
* Link to your project:
* Machine Configuration: Ram, Graphics Memory

[2018-11-23 06:54] akshit15013 commented on #887
@YashKumarVerma

[2018-11-23 08:26] pythongiant opened #891 "Add animated Tile"
### Description

Add an animated tile

### Implementation Plan

- [x] Read the [documentation about animating tiles].
- [x] Choose the a tile or part of it from the [tiles folder].
- [x] Edit the SVG file determine the Id of the element you like to animate or add it with this Id.
- [x] Edit the SVG file as text and add `<style>` to it.
- [x] Animate your tile according to the [documentation about

[2018-11-23 08:38] niteshkumarniranjan opened #893 "Big Header decreases the game space."
## Expected Behavior
Either hide the header or decrease the size of header and revel it on if mouse goes top.

## Current Behavior
Header is too big and its consuming the game space.

## Possible Solution
Using JavaScript.

## Steps to Reproduce (for bugs)
http://labyrinth-game.surge.sh/

## Context

## Your Environment

* Browser Name and version: Google Chrome Version 69.0.3497.100 (Official Bui

[2018-11-23 08:44] niteshkumarniranjan opened #894 "Button hover sate UI issue."
## Expected Behavior
Button on hover should darken properly

## Current Behavior
Button hover state is overflowing

## Possible Solution
Changing CSS

## Steps to Reproduce (for bugs)

1. Visit http://labyrinth-game.surge.sh/
2. Open sidebar
3. Hover on button on stats.

## Context

## Your Environment

* Browser Name and version: Google Chrome Version 69.0.3497.100 (Official Build) (64-bit)
* Lin

[2018-11-23 09:00] niteshkumarniranjan opened #895 "Character changes to contributors on language change but still opens Character page."
## Expected Behavior
Character link should not change the link text to contributors on language switch.

## Current Behavior
Character changes to contributors on language change but still opens Character page.

## Possible Solution
To not change Character's link text to contributors.

## Steps to Reproduce (for bugs)
https://youtu.be/Xd66OyTF_Rw

## Context
Opens wrong link

[2018-11-23 09:06] niteshkumarniranjan opened #896 "Buttons and Links on sidebar doesn't works until game isn't started"
## Expected Behavior
Button and Link should respond to clicks in any state

## Current Behavior

Buttons and Links on sidebar doesn't works until game isn't started

## Possible Solution

## Steps to Reproduce (for bugs)

1. Visit http://labyrinth-game.surge.sh/
2. Open sidebar
3. Try to click on a link or button

## Context
Its annoying if something is working and its not working at a same it.

#

[2018-11-23 10:39] #857 closed

[2018-11-23 10:43] YashKumarVerma commented on #896
Closing in favor of #835

[2018-11-23 10:43] #896 closed

[2018-11-23 10:47] #891 closed

[2018-11-23 10:48] YashKumarVerma commented on #890
Consider following the template from next time.

[2018-11-23 11:43] YashKumarVerma opened #897 "Bot to Notify on Gitter Channel about New PR"
### How the Feature Improves the Game
- It will automatically message on the gitter channel about the pull request.

### Would you like to work on this
Yes

[2018-11-23 12:10] arihantbansal commented on #884
Updated.

[2018-11-23 13:17] #897 closed

[2018-11-23 14:34] #878 closed

[2018-11-23 16:25] lunamana104 opened #900 "Add character: LittleAlien"
### Description

Add a Little Alien (pretty weird tho) character to the game!

### Implementation Plan

- [x] Read the [documentation about adding characters].
- [x] Create a character of correct dimensions with a drawing program such as [Inkscape].
- [x] Upload the character to the [characters folder].
- [x] Add the character path to the [gui.js] file between the other characters.

### Closing Cr

[2018-11-23 18:30] AppleC4T opened #902 "Feature Request : Discovered tiles tracker"
### How to use the Feature
The feature would add a counter to the game's side menu that would track how many new tiles the player has discovered (i.e. how many times the player walked into a new, previously invisible tile) during the current run.

### How the Feature Improves the Game
The discovered tiles tracker could act as:
- a type of score/statistic to share (player may get badges for discove

[2018-11-23 18:33] AppleC4T commented on #902
@abishekvashok @YashKumarVerma I'm especially eager to see your feedback, since you are the maintainers.

[2018-11-23 18:39] sahilsaha7773 opened #903 "Add a functionality"
## Expected Behavior

Add a functionality tile to improve the game.

## Possible Solution

Add a functionality and implement its behaviour.

**Implementation Plan**
 -  Create a pull request as soon as possible.
 -  Create a picture for the item you need (key/boat/...). The pictures MUST be your own work.
 - Add a tile wich fits to the item visually.
-  Add the behavior of the tile to the tiles.js

[2018-11-24 01:48] abishekvashok commented on #902
It would be nice in my opinion

[2018-11-24 02:30] YashKumarVerma commented on #902
Creative indeed. We surely need this feature as the game progresses. Keep up the great work

[2018-11-24 02:37] akshit15013 opened #906 "Add a level Partytime"
### Description

Create a PR to add a level Partytime

### Implementation Plan

- [x] Read the [documentation about adding new tiles].
- [x] Create a new level in [levels.js].
- [x] Create or modify a tile which allows switching to your level in [tiles.js].

### Closing Criteria

- [x] The level is added to the labyrinth and reachable. Please provide the path.
- [x] One can walk through the level.

[2018-11-24 03:28] AirWolfXD opened #908 "Add Hand drawn floor for Blood tile (Google Code-In)"
## Expected Behavior

Have a hand drawn floor in the blood tile
## Current Behavior

No hand drawn floor in the blood tile
## Possible Solution

Draw a new tile and import it into the game
## Steps to Reproduce (for bugs)

1. Draw
2. Edit
3. Put in folder
4. Put in code

## Context

I am doing Google Code-In
## Your Environment

* Browser Name and version:
* Link to your project:
* Machine Configu

[2018-11-24 04:07] pythongiant opened #909 "Make Play and Pause into one button"
### about the feature
Make the Play and Pause button into one
### How the Feature Improves the Game
Unnecessary 2 buttons for the same thing
### Implementation/Solution Ideas
Easy! toggle using javascript
### Would you like to work on this
Yup

[2018-11-24 04:07] pythongiant commented on #909
CC; @YashKumarVerma @abishekvashok @saarthakchats

[2018-11-24 12:12] kuaLeYi opened #912 "Telebishop"
### Description
The Telebishop; a pun on 'television' and 'bishop' (the chess piece); has a head with a blue screen showing two bubbles, and a truncated cone as the base.

### Implementation Plan

- [x] Read the [documentation about adding characters].
- [x] Create a character of correct dimensions with a drawing program such as [Inkscape].
- [x] Upload the character to the [characters folder].
-

[2018-11-24 12:56] #909 closed

[2018-11-24 13:06] YashKumarVerma commented on #900
Labyrinth has a set of Issue Templates to standardize the development.

Consider using them. That can be found at
https://github.com/fossasia/labyrinth/tree/master/.github/ISSUE_TEMPLATE

Thanks for your contribution to the community.

[2018-11-24 13:25] YashKumarVerma opened #913 "Feature Requests : Enhance the bot"
## Expected Behavior
- A handy bot to notify on gitter channel whenever a new issue/PR is made to the game.

## Current Behavior
- The bot is a single statement which resides in deploy.sh and doesn't post messages when someone sends a pull request as it relies on auth token, which not every contributor has. Many new features can be added too.

## Possible Solution
- Propose New Features for the Bo

[2018-11-24 13:33] #906 closed

[2018-11-24 14:12] #903 closed

[2018-11-24 14:13] pythongiant commented on #913
I love this telegram bot and I use it regulary. Maybe we can use some code from here?
https://github.com/ghaiklor/telegram-bot-github

[2018-11-24 14:19] pythongiant commented on #913
The github library on pip(python) is really helpful.

[2018-11-24 16:06] #902 closed

[2018-11-24 16:49] pythongiant opened #917 "Add handrawn title"
### Description

Add handrawn tile

### Implementation Plan

- [x] Read the [documentation about adding new tiles].
- [x] Draw a floor.
- [x] Draw a wall.
- [x] Draw another wall or mirror the existing one.
- [x] Scan or photograph the pictures if they are hand-drawn.
- [x] Add the pictures to the [tiles folder].
- [x] Edit the [tiles.js] file to include the new tile.
- [x] Place the tile in the l

[2018-11-24 17:00] lunamana104 commented on #900
can you merge my PR now? @YashKumarVerma
https://github.com/fossasia/labyrinth/pull/904

[2018-11-24 18:06] akshit15013 opened #920 "Add an animated tile"
### Description

Create a PR to add an animated tile to the labyrinth maze

### Implementation Plan

- [x] Read the [documentation about animating tiles].
- [x] Choose the a tile or part of it from the [tiles folder].
- [x] Edit the SVG file determine the Id of the element you like to animate or add it with this Id.
- [x] Edit the SVG file as text and add `<style>` to it.
- [x] Animate your tile a

[2018-11-25 03:15] #917 closed

[2018-11-25 04:29] #900 closed

[2018-11-25 07:03] gaurang7goel opened #923 "add a new character"
## Expected Behavior

## Current Behavior

## Possible Solution

## Steps to Reproduce (for bugs)

1.
2.
3.
4.

## Context

## Your Environment

* Browser Name and version:
* Link to your project:
* Machine Configuration: Ram, Graphics Memory

[2018-11-25 12:18] YashKumarVerma commented on #923
Labyrinth has a set of Issue Templates to standardize the development.

Consider using them. That can be found at
https://github.com/fossasia/labyrinth/tree/master/.github/ISSUE_TEMPLATE

Thanks for your contribution to the community.

[2018-11-25 12:31] pythongiant opened #925 "Add a functionality"
### Description

Add a functionality to tile

### Implementation Plan

- [x] Read the [documentation about adding new tiles].
- [x] Create a new level in [levels.js].
- [x] Create or modify a tile which allows switching to your level in [tiles.js].

### Closing Criteria

- [x] The level is added to the labyrinth and reachable. Please provide the path.
- [x] One can walk through the level.

[docume

[2018-11-25 14:42] pythongiant commented on #925
@YashKumarVerma there isnt one for adding functionality

[2018-11-25 15:12] YashKumarVerma commented on #925
Then please follow the one by default.

[2018-11-25 15:29] pythongiant commented on #925
@YashKumarVerma merge now?

[2018-11-25 16:16] #925 closed

[2018-11-26 04:12] iamareebjamal commented on #913
Take a look at https://probot.github.io/

[2018-11-26 04:21] iamareebjamal opened #929 "Remove credentials from scripts"
Travis CI scripts contain surge credentials which anyone can use to deploy the site. This should never have been commited and should be changed to environment variables in CI

[2018-11-26 04:56] YashKumarVerma commented on #929
If they are changed to environment variables, the pull requests won't get it working because the contributers won't have the credentials in their travis.

Possible solution is to encrypt them using travis Ruby gem

[2018-11-26 04:59] YashKumarVerma commented on #913
@iamareebjamal @pythongiant we cannot use web hooks. Even i as a maintainer (with write access)  do not have the permission to add new / edit web hooks.

[2018-11-26 05:07] iamareebjamal commented on #929
No one can change the environment variables except admins and maintainers. Encrypting using Travis gem is also using secrets as environment variables which are used to decrypt the file. Secondly, encrypting is used for files which can't be used as environment variables.

[2018-11-26 05:07] iamareebjamal commented on #913
I do

[2018-11-26 05:42] YashKumarVerma commented on #913
I do?

[2018-11-26 06:10] iamareebjamal commented on #913
I have the permission

[2018-11-26 06:38] YashKumarVerma commented on #913
Then we really need your help 😀.

[2018-11-26 08:45] iamareebjamal commented on #913
You guys can create a probot app, and I'll add it to the repository

[2018-11-26 10:04] YashKumarVerma commented on #913
@pythongiant

[2018-11-26 10:07] pythongiant commented on #913
alright SGTM. My exams are starting in a bit. So development might be a bit slow but I will try my best to at least get basic functionalities of the bot up and running in 2 days.
@YashKumarVerma will that be fine?

[2018-11-26 10:11] pythongiant commented on #913
https://probot.github.io/apps/wip/
https://probot.github.io/apps/reminders/
For now, i really like these

[2018-11-26 10:35] #908 closed

[2018-11-26 10:35] #912 closed

[2018-11-26 11:25] sahilsaha7773 opened #935 "Add background music to tiles"
### Description

Add background music to tiles

### Implementation Plan

- [ ] Compose or play the music and record it.
  - You can sing or play an instrument like guitar and piano and record it using [Audacity]
  - You can use [Sonic Pi] to program the music.
- [ ] Add one file containing the song to the [/audio/background] folder.
- [ ] Add the license as a file according to [documentation]
- [

[2018-11-26 12:00] YashKumarVerma commented on #935
Please fill the template.

[2018-11-26 12:03] #935 closed

[2018-11-26 12:18] YashKumarVerma opened #936 "Feature Request : Path Tracker"
### How to use the Feature
A simple widget(_display/button_) in the sidebar which will (_show/popup_) the path the player has moved in the form of
`UP, LEFT, LEFT, DOWN, DOWN, RIGHT ...`

### How the Feature Improves the Game
Since Labyrinth is an actively developed game (1500 commits achieved), it often takes a lot of time for developers/students to find the tiles to observe the changes (see new

[2018-11-26 12:25] YashKumarVerma opened #937 "Feature Request : Teleport"
### How to use the Feature
A simple teleport button in the sidebar which will (**_teleport_**) the player directly by taking input in form on

(output of #936 is input here)

### How the Feature Improves the Game
Since Labyrinth is an actively developed game (1500 commits achieved), it often takes a lot of time for developers/students to find the tiles to observe the changes (see new tile, new ani

[2018-11-26 12:49] YashKumarVerma commented on #936
If other contributors need ideas for new features, message on channel.

[2018-11-26 12:50] YashKumarVerma commented on #937
If other contributors need ideas for new features, message on channel.

[2018-11-26 12:55] sahilsaha7773 commented on #936
I would like to work on this issue

[2018-11-26 14:44] pythongiant commented on #913
Can I be assigned to this?

[2018-11-26 15:46] YashKumarVerma commented on #913
Don't worry. send a pr.

[2018-11-26 19:12] AppleC4T opened #943 "New Hand-Drawn Tile: Pond"
### Description

Add a hand-drawn Pond tile

### Implementation Plan

- [x] Read the [documentation about adding new tiles].
- [x] Draw a floor.
- [ ] Draw a wall.
- [ ] Draw another wall or mirror the existing one.
- [x] Scan or photograph the pictures if they are hand-drawn.
- [x] Add the pictures to the [tiles folder].
- [x] Edit the [tiles.js] file to include the new tile.
- [x] Place the tile

[2018-11-26 20:57] AppleC4T commented on #937
@YashKumarVerma Can I work on this feature even if I completed the "Labyrinth: Add a new feature" task?

[2018-11-26 22:21] YashKumarVerma commented on #937
Why not ! Sure ! Go ahead !

[2018-11-27 09:07] YashKumarVerma commented on #937
#936 will provide the output string

[2018-11-27 13:40] YashKumarVerma opened #944 "Feature Request: SVG upload tests"
### How to use the Feature
The script will automatically check size(dimensions) of images uploaded in**_tiles/_**  directory and will stop the Travis build if the size is not fit for the game.

### How the Feature Improves the Game
Ensures the game is playable

### Implementation/Solution Ideas
-See for changes in directory/process all the files.
- Break if an image with the wrong dimensions found

[2018-11-27 13:53] saarthakchats commented on #944
@abishekvashok
https://github.com/abishekvashok/img_checker
Does this support svg image dimension checks?

[2018-11-27 13:53] saarthakchats commented on #944
If yes then I can solve this issue

[2018-11-27 14:30] sahilsaha7773 opened #945 "Add a hand drawn tile"
### Description

Add a tile drawn by you.

### Implementation Plan

- [x] Read the [documentation about adding new tiles].
- [x] Draw a floor.
- [x] Draw a wall.
- [x] Draw another wall or mirror the existing one.
- [x] Scan or photograph the pictures if they are hand-drawn.
- [x] Add the pictures to the [tiles folder].
- [x] Edit the [tiles.js] file to include the new tile.
- [x] Place the tile i

[2018-11-27 14:54] YashKumarVerma opened #948 "Feature Request : Script to remove unwanted files from deploy"
### How to use the Feature
The script will automatically remove files which are not required from deploy.

### How the Feature Improves the Game
Ensures that game deploys are light

### Implementation/Solution Ideas
- Using readymade script

### Reference
https://github.com/YashKumarVerma/Clean-Deploy
https://travis-ci.com/YashKumarVerma/Clean-Deploy/jobs/161130039

[2018-11-27 17:02] YashKumarVerma opened #950 "Feature Request: Compress Music on deploy"
### How to use the Feature
The script will automatically compress music files on deploy.

### How the Feature Improves the Game
Ensures that game deploys are light and fast

### Implementation/Solution Ideas
- Using readymade script

### Reference
https://github.com/YashKumarVerma/Clean-Deploy

[2018-11-28 12:31] pythongiant opened #953 "Add a new level"
### Description

Add a new level - crazy

### Implementation Plan

- [x] Read the [documentation about adding new tiles].
- [x] Create a new level in [levels.js].
- [x] Create or modify a tile which allows switching to your level in [tiles.js].

### Closing Criteria

- [x] The level is added to the labyrinth and reachable. Please provide the path.
- [x] One can walk through the level.

[documentat

[2018-11-28 12:46] pythongiant commented on #913
@iamareebjamal
checkout the PR

[2018-11-28 14:57] #953 closed

[2018-11-28 15:00] #945 closed

[2018-11-28 15:07] pythongiant commented on #913
@iamareebjamal https://github.com/pythongiant/Gitter-Laby-Bot/issues/7
 https://github.com/apps/gitter-laby-bot/
 https://gitter-laby-bot.herokuapp.com/probot

[2018-11-28 15:09] pythongiant commented on #913
You can close this issue now @YashKumarVerma. I did it!

[2018-11-28 15:34] RahulMetre03 opened #955 "Added a character"
Description
Added a new CHARACTER 'Mario'

Implementation Plan
 Step 1:Added a image with proper dimensions
 Step 2:Updated the gui.js file
 Step 3:Added a new character

Closing Criteria
 Criterion 1:The character is available for a player to begin with the game
 Criterion 2:All the details are filled properly

[2018-11-28 15:35] abishekvashok commented on #944
Yes it does

[2018-11-28 15:35] abishekvashok commented on #955
Can you please fill this up?

[2018-11-28 15:36] RahulMetre03 commented on #955
Okay! @abishekvashok

[2018-11-28 15:50] RahulMetre03 commented on #955
Its done @abishekvashok

[2018-11-28 16:46] #943 closed

[2018-11-28 17:02] iamareebjamal commented on #913
The issue is not resolved

[2018-11-28 17:05] pythongiant commented on #913
Well.. you can add the bot now @iamareebjamal

[2018-11-28 17:05] pythongiant commented on #913
I am a GCI participant too @iamareebjamal :P

[2018-11-28 17:07] iamareebjamal commented on #913
- Bot should not comment on new issues. There are already bots with much better support for that
- Bot should allow customization of channels to which the updates should be posted through config file like other probot apps

The repo you have also has several issues. You have not ignored `node_modules`, and log files. This cannot be taken into production. Please don't be eager and let us incubate p

[2018-11-28 17:15] pythongiant commented on #913
@iamareebjamal  we have multiple instances of students not following the ISSUE template thats why I added that feature. This is my first node.js app (i usually develop in python). Could you please try and elaborate on
" Bot should allow customization of channels to which the updates should be posted through config file like other probot apps"

[2018-11-28 17:16] pythongiant commented on #913
BTW I added the gitignore

[2018-11-28 17:18] iamareebjamal commented on #913
@pythongiant We can use other probot apps for that.

Look at other probot apps for how to setup config

https://probot.github.io/api/latest/classes/context.html#config

We'll define configuration of which room to post notifications on rather than it being hardcoded in the bot

[2018-11-28 17:19] iamareebjamal commented on #913
About .gitignore, doesn't matter now, node_modules are still there and will remain in git history unless you use git filter branch or BFG

[2018-11-28 17:21] iamareebjamal commented on #913
Also, we don't use `curl` in node to do stuff. Use proper http client. This discussion will be best done on your repo. So please create an issue there and we'll follow up there

[2018-11-28 17:32] iamareebjamal commented on #913
Gitter is nowhere in the picture, you are just making a request to the server using proper node code instead of curl. Using curl is also bad on environments where it won't be installed like Windows or minimal linux containers like alpine.

The folder is indeed there https://github.com/pythongiant/Gitter-Laby-Bot/tree/7b9dfc333404180418bd29055ea6cc14d36e535c

As a fun exercise, commit your gmail pa

[2018-11-28 19:43] YashKumarVerma commented on #913
@pythongiant @iamareebjamal I think the discussion is good **here itself**. There are a lot of things to learn in this process itself, which will invariably help the students.

[2018-11-28 19:44] YashKumarVerma commented on #913
What kind of issues ? i don't think gitter has issues with http client in particular.

[2018-11-28 22:50] Ryan10145 opened #959 "Add a Rabbit Character"
### Description

A gray rabbit

### Implementation Plan

- [X] Read the [documentation about adding characters].
- [X] Create a character of correct dimensions with a drawing program such as [Inkscape].
- [X] Upload the character to the [characters folder].
- [X] Add the character path to the [gui.js] file between the other characters.

### Closing Criteria

- [X] The character is added to the men

[2018-11-28 23:11] Ryan10145 commented on #948
I would like to work on this.

[2018-11-29 03:49] YashKumarVerma commented on #948
Sure . Are you using the script ?

[2018-11-29 09:31] pythongiant commented on #913
Well I guess it is my own setup. lemme try arch

[2018-11-29 10:04] saarthakchats commented on #944
Okay, I am working on it then

[2018-11-29 14:09] iamareebjamal commented on #913
It doesn't depend on the OS you have

[2018-11-29 15:50] arihantbansal opened #964 "Added code-themed tile"
### Description

### Implementation Plan

- [x] Read the [documentation about adding new tiles].
- [x] Draw a floor.
- [ ] Draw a wall.
- [ ] Draw another wall or mirror the existing one.
- [ ] Scan or photograph the pictures if they are hand-drawn.
- [x] Add the pictures to the [tiles folder].
- [x] Edit the [tiles.js] file to include the new tile.
- [x] Place the tile in the labyrinth.
- [ ] Che

[2018-11-30 10:58] NishithP2004 opened #965 "Add a new character"
### Description

Ralph is from the movie Wreck It Ralph.This is the character I would like to add.

### Implementation Plan

- [x] Read the [documentation about adding characters].
- [x] Create a character of correct dimensions with a drawing program such as [Inkscape].
- [x] Upload the character to the [characters folder].
- [x] Add the character path to the [gui.js] file between the other charac

[2018-11-30 11:16] abishekvashok opened #966 "Make the instructions section responsivem"
## Expected Behavior

It should be responsive.

## Current Behavior

Unresponsive on the web.

## Possible Solution

Make it responsive.

## Steps to Reproduce (for bugs)

1. Go to readme
2. Click on instructions

[2018-11-30 15:01] sahilsaha7773 opened #967 "Add an animated tile"
### Description

Add an animated tile

### Implementation Plan

- [x] Read the [documentation about animating tiles].
- [x] Choose the a tile or part of it from the [tiles folder].
- [x] Edit the SVG file determine the Id of the element you like to animate or add it with this Id.
- [x] Edit the SVG file as text and add `<style>` to it.
- [x] Animate your tile according to the [documentation about

[2018-11-30 15:42] #937 closed

[2018-11-30 16:56] #948 closed

[2018-11-30 16:56] #950 closed

[2018-11-30 17:57] pythongiant commented on #913
@iamareebjamal https://github.com/pythongiant/Gitter-Laby-Bot
Checkout the repo now

[2018-11-30 18:06] YashKumarVerma commented on #965
Labyrinth has a set of Issue Templates to standardize the development.

Consider using them. That can be found at
https://github.com/fossasia/labyrinth/tree/master/.github/ISSUE_TEMPLATE

Thanks for your contribution to the community.

[2018-11-30 18:19] NishithP2004 commented on #965
@YashKumarVerma Thank you.

[2018-11-30 18:20] NishithP2004 commented on #965
I have successfully updated the PR.

[2018-11-30 18:32] #967 closed

[2018-11-30 19:00] iamareebjamal commented on #913
So, how are we going to set token and room?

Also, it is still posting new comment on issue being open

[2018-11-30 19:42] #965 closed

[2018-11-30 19:46] #156 closed

[2018-11-30 19:47] YashKumarVerma commented on #948
Good Work @Ryan10145

[2018-12-01 01:46] pythongiant commented on #913
@iamareebjamal that is because many students are not following the issue templates

[2018-12-01 01:46] pythongiant commented on #913
So I thought it would be good to add it

[2018-12-01 01:47] pythongiant commented on #913
The room and token need to be generated..
See the gitter API

[2018-12-01 02:13] Ryan10145 opened #970 "Add a new Old Room Tile"
### Description

- Add a new tile that includes a mysterious looking old, decrepit room that has a clean floor

### Implementation Plan

- [X] Read the [documentation about adding new tiles].
- [X] Draw a floor.
- [X] Draw a wall.
- [ ] Draw another wall or mirror the existing one.
- [ ] Scan or photograph the pictures if they are hand-drawn.
- [X] Add the pictures to the [tiles folder].
- [X] Edi

[2018-12-01 04:37] #970 closed

[2018-12-01 05:33] iamareebjamal commented on #913
I repeat, for commenting

I never asked how to generate them, I asked how to set them in the bot

[2018-12-01 05:35] pythongiant commented on #913
You need to set the room and token variables in the js file. the deployed bot is currently sending messages to a private room. And we can also use a variety of other gitter probot apps. why create our own? @iamareebjamal

[2018-12-01 05:37] iamareebjamal commented on #913
That's not what we want. It should read it from config file

I never wanted to create an app if there already was one. Please paste the link to such an app

[2018-12-01 06:06] pythongiant commented on #913
we had a discussion about this on the forum. It said that we would like to have our own repo for students to contribute to.

I have been having an error with it. I have contacted probot support about this. and they are yet to reply.

[2018-12-01 07:15] iamareebjamal commented on #913
What's the error? Post here

[2018-12-01 08:04] pythongiant commented on #913
Returns a null

[2018-12-01 08:08] Jeewal opened #972 "Added a New Character Larva"
### Description
larva is a simple character.

### Implementation Plan
- [x] Read the https://github.com/fossasia/labyrinth#how-to-add-a-new-character
- [x] Created a character of correct dimensions with a drawing program such as https://inkscape.org/
- [x] Uploaded the character to the https://github.com/fossasia/labyrinth/tree/master/characters.
- [x] Added the character path to the https://githu

[2018-12-01 10:41] NishithP2004 opened #975 "Add a new hand drawn tile"
### Description

### Implementation Plan

- [x] Read the [documentation about adding new tiles].
- [x] Draw a floor.
- [x] Draw a wall.
- [x] Draw another wall or mirror the existing one.
- [x] Scan or photograph the pictures if they are hand-drawn.
- [x] Add the pictures to the [tiles folder].
- [x] Edit the [tiles.js] file to include the new tile.
- [x] Place the tile in the labyrinth.
- [x] Che

[2018-12-01 12:38] YashKumarVerma commented on #913
@iamareebjamal  sir,
What are your views on using a pre-built bot for the project? I mean why do we need to reinvent the wheel? I know that custom work is always tailored fit, but at the end of the day, if the same is available prebuilt, how about using it?
@pythongiant what do you think?

[2018-12-01 12:49] #972 closed

[2018-12-01 12:50] YashKumarVerma commented on #65
Solved in array of pull requests

[2018-12-01 12:50] #65 closed

[2018-12-01 14:10] pythongiant commented on #913
@YashKumarVerma i couldnt host the prebuilt bot myself. So i guess we are gonna have to make one oursleves

[2018-12-01 14:12] pythongiant commented on #913
I saw a tg github bot but the gitter bot i saw before has been removed from the market place unfortunately

[2018-12-01 14:38] YashKumarVerma commented on #913
@pythongiant maybe we can use some probot to do the commenting / github operation, and our curl to message on gitter

[2018-12-01 15:50] iamareebjamal commented on #913
@YashKumarVerma That's what my intention was from the beginning

[2018-12-02 03:38] pythongiant commented on #913
Alright so here's what I think we should do.
- Use the Stale bot to close old issues and PRs
- Use our gitter bot. ( The one which I have been making without the Issue comments)
Is this alright. @YashKumarVerma @iamareebjamal

[2018-12-02 04:03] pythongiant commented on #913
https://probot.github.io/apps/welcome/
https://probot.github.io/apps/stale/

[2018-12-02 08:39] iamareebjamal commented on #913
@YashKumarVerma  That's what probot makes easy to do

[2018-12-02 08:39] pythongiant commented on #913
yeah my thoughts exactly

[2018-12-02 08:40] iamareebjamal commented on #913
probot is just a node library which allows you to react to github webhook events

[2018-12-02 10:49] YashKumarVerma commented on #913
References

A complete list of bots can be found here
https://probot.github.io/apps/

[2018-12-02 12:56] pythongiant commented on #913
alright so now the bot does not post comments. It only messages to the gitter channel

[2018-12-02 13:15] iamareebjamal commented on #913
Should take room ID from config

[2018-12-02 13:19] pythongiant commented on #913
@iamareebjamal could you launch a PR please? I am unable to solve the issue

[2018-12-02 13:29] iamareebjamal commented on #913
Paste link to your config file

[2018-12-02 16:41] pythongiant commented on #913
its not on github.

[2018-12-02 17:18] iamareebjamal commented on #913
Well that how can I debug it and how the bot is going to read it?

[2018-12-02 17:19] YashKumarVerma commented on #913
@pythongiant it's supposed to be here

[2018-12-02 17:30] iamareebjamal commented on #913
Actually, it doesn't need any config to work

[2018-12-02 17:31] iamareebjamal commented on #913
https://github.com/JasonEtco/ci-reporter/issues/40

[2018-12-03 03:29] pythongiant commented on #913
I meant it didnt work on the development server. The file was stored in .github folder on my root dir

[2018-12-03 03:34] pythongiant commented on #913
Hence no point pushing it to github

[2018-12-03 09:36] rajdeepbharati commented on #895
Can I work on this issue?

[2018-12-03 09:42] niteshkumarniranjan commented on #895
@rajdeepbharti Sure go ahead.

[2018-12-03 13:38] iamareebjamal commented on #913
Then no point in discussing things that cannot be tested. Also, there are hundreds of probot apps, so there is no chance that there is something wrong in their API and everything is correct in your code

[2018-12-03 14:21] YashKumarVerma commented on #913
@iamareebjamal Can you create a webhook which **posts** pull request and issue to https://labyrinth-bot.now.sh/ -- > source code at https://github.com/YashKumarVerma/labyrinth-message-bot

[2018-12-03 14:41] shreeshjha opened #985 "Add Background Music"
### Description

### Implementation Plan

- [x] Compose or play the music and record it.
  - You can sing or play an instrument like guitar and piano and record it using [Audacity]
  - You can use [Sonic Pi] to program the music.
- [x] Add one file containing the song to the [/audio/background] folder.
- [x] Add the license as a file according to [documentation]
- [x] Add it to the API in the [sou

[2018-12-03 15:43] rajdeepbharati commented on #835
I would like to work on this :raised_hand:

[2018-12-03 18:04] #964 closed

[2018-12-03 18:13] arihantbansal opened #987 "Added a programmer-styled tile."
### Description

Use inkscape to create an SVG with a clipart image of a man programming. Add it to the repo and make required changes.

### Implementation Plan

- [x] Read the [documentation about adding new tiles].
- [x] Draw a floor.
- [ ] Draw a wall.
- [x] Draw another wall or mirror the existing one.
- [] Scan or photograph the pictures if they are hand-drawn.
- [x] Add the pictures to the [

[2018-12-04 00:16] saarthakchats commented on #835
Sure @rajdeepbharati

[2018-12-04 02:14] saarthakchats opened #989 "Resize tiles and characters"
## Expected Behavior
According to game standards, all tiles should be within 429.544 x 256.314 px (wxh) and all characters within 55px x 60px (wxh) .

## Current Behavior
It is startling to see that 69 images are out of dimensions.
[code]
## Possible Solution
Resize them

## Steps to Reproduce (for bugs)
It is too much work for one individual to fix all images, so we should divide the work.
1. Eac

[2018-12-04 08:51] rahulaarora opened #990 "New Hand-Drawn Tile: landscape.svg"
### Description
Added a new handrawn tile -  "landscape.svg"

To be linked with PR #984

### Implementation Plan

- [x] Read the documentation about adding new tiles.
- [x] Draw a floor.
- [x] Draw a wall.
- [x] Draw another wall or mirror the existing one.
- [x] Scan or photograph the pictures if they are hand-drawn.
- [x] Add the pictures to the tiles folder.
- [x] Edit the tiles.js file to incl

[2018-12-04 10:45] #985 closed

[2018-12-04 10:58] #894 closed

[2018-12-04 11:00] #895 closed

[2018-12-04 14:05] YashKumarVerma commented on #989
Please dont impose a 10 / dev thing.

Its *contribution*, can and should not be *imposed*.

[2018-12-04 16:10] AppleC4T commented on #989
I can work on rescaling the characters. 👍

[2018-12-05 18:45] #990 closed

[2018-12-05 19:40] YashKumarVerma commented on #875
# :tada: Good Work

[2018-12-05 19:40] #875 closed

[2018-12-05 19:41] #890 closed

[2018-12-06 22:40] YashKumarVerma opened #998 "Remove location of change from pr template"
## Possible Solution
Edit template

## Context
It confuses students, and they post images of files.

[2018-12-06 22:42] #998 closed

[2018-12-06 22:48] YashKumarVerma opened #1000 "#1000 : add this milestone to the game"
# :fire: 1000 :fire:

We've just reached the 1000 milestone!

Add this milestone to the game, use your creativity!

[2018-12-08 06:04] #944 closed

[2018-12-08 08:15] #987 closed

[2018-12-08 13:52] arihantbansal opened #1004 "Add programmer character"
### Description

### Implementation Plan

- [x] Read the [documentation about adding characters].
- [x] Create a character of correct dimensions with a drawing program such as [Inkscape].
- [x] Upload the character to the [characters folder].
- [x] Add the character path to the [gui.js] file between the other characters.

### Closing Criteria

- [x] The character is added to the menu to choose cha

[2018-12-08 14:58] #1004 closed

[2018-12-08 16:33] NishithP2004 opened #1007 "Add a background music-Random"
### Description

I would like to add a randomly composed music.

### Implementation Plan

- [x] Compose or play the music and record it.
  - You can sing or play an instrument like guitar and piano and record it using [Audacity]
  - You can use [Sonic Pi] to program the music.
- [x] Add one file containing the song to the [/audio/background] folder.
- [x] Add the license as a file according to [do

[2018-12-08 17:47] arihantbansal opened #1008 "Add modern forest themed wall tile"
### Description

Create and add a new modern themed forest wall tile to the game.

### Implementation Plan

- [x] Find the wall you want to improve. It should be in [tiles/rooms/wall].
- [x] Copy the wall and edit it using [Inkscape]
- [x] Edit the [tiles.js] file to include the new wall in some pictures.

### Closing Criteria

- [ ] The wall is added to the labyrinth and reachable. Please provide

[2018-12-09 02:16] #1007 closed

[2018-12-09 02:17] #923 closed

[2018-12-09 10:56] #835 closed

[2018-12-09 13:01] YashKumarVerma opened #1012 "Img Check fails stops syntax checks"
## Expected Behavior

img check **fail** doesn't allow syntax check.
## Current Behavior

when img check fails (due to old images), syntax checks can't be seen

## Possible Solution

shift the order of commands

[2018-12-09 13:13] YashKumarVerma opened #1013 "Deploy links not working"
## Expected Behavior

links should be working

## Current Behavior

links not working as img_check exits before deploy

[2018-12-09 13:14] #1012 closed

[2018-12-09 13:14] #1013 closed

[2018-12-09 14:25] jakubpawlina opened #1015 "Tiles do not align correctly"
## Expected Behavior

Correctly aligned tiles in labyrinth (for all labyrinth).

## Current Behavior

In many rooms tiles do not allign correctly.
![zrzut ekranu 135](https://user-images.githubusercontent.com/29257057/49698526-64055400-fbc5-11e8-882d-1071e4fce1ba.png)

## Possible Solution

Changed the way of displaying tiles in rooms

## Steps to Reproduce (for bugs)

Visit the [official website]

[2018-12-09 14:47] #1008 closed

[2018-12-09 16:56] arihantbansal opened #1018 "Add code-themed hand drawn tile"
### Description

* Add a code themed hand drawn tile to the game

### Implementation Plan

- [x] Read the [documentation about adding new tiles].
- [x] Draw a floor.
- [x] Draw a wall.
- [x] Draw another wall or mirror the existing one.
- [x] Scan or photograph the pictures if they are hand-drawn.
- [x] Add the pictures to the [tiles folder].
- [x] Edit the [tiles.js] file to include the new tile.

[2018-12-10 12:08] #989 closed

[2018-12-10 14:50] sahilsaha7773 opened #1023 "Add a level"
## Expected Behavior

Add a level with new tiles.

[2018-12-10 18:23] AppleC4T opened #1026 "The starter level tiles are bugged"
## Expected Behavior

The tiles should be aligned properly

## Current Behavior

The tiles in the starter level are bugged, it's an issue only with the starter tiles (the tiles that have the syntax `door.{tile}`), as the tile from `dark` const is aligned correctly.
## Possible Solution

Check the syntax, the rendering order and check if the tiles have been rescaled properly in previous PR.

## Ste

[2018-12-10 23:12] YashKumarVerma commented on #1023
Labyrinth has a set of Issue Templates to standardize the development.

Consider using them. That can be found at
https://github.com/fossasia/labyrinth/tree/master/.github/ISSUE_TEMPLATE

Thanks for your contribution to the community.

[2018-12-11 07:11] AppleC4T opened #1027 "Add a Food Party Level"
### Description

Add a food-themed level to the game

### Implementation Plan

- [x] Read the [documentation about adding new tiles].
- [x] Create a new level in [levels.js].
- [x] Create or modify a tile which allows switching to your level in [tiles.js].

### Closing Criteria

- [x] The level is added to the labyrinth and reachable. Please provide the path.
- [x] One can walk through the level.

[2018-12-11 14:21] saarthakchats opened #1030 "Tile dimensions are still incorrect"
Need perfect tile sizes, currently smaller than required

[2018-12-11 23:49] #1030 closed

[2018-12-12 14:03] rajdeepbharati commented on #725
There's already a menu bar (left sidebar), so where can the buttons be put?

[2018-12-12 14:07] rajdeepbharati commented on #618
@YashKumarVerma I'm interested in this issue. Should we use O-auth?

[2018-12-12 17:43] STEdirisuriya commented on #618
@rajdeepbharati Go ahead! good luck.

[2018-12-12 20:01] YashKumarVerma commented on #618
Yes

[2018-12-13 11:34] #975 closed

[2018-12-13 11:46] #1023 closed

[2018-12-13 14:35] jakubpawlina opened #1032 "Missing wall between rooms"
## Expected Behavior

Rooms separated by a wall.

## Current Behavior

There is no wall between rooms and it there is a problem which tile should be displayed.
### Screenshot
![zrzut ekranu 146](https://user-images.githubusercontent.com/29257057/49944893-d63ea700-feeb-11e8-8d5f-16447a6e18d2.png)
![zrzut ekranu 148](https://user-images.githubusercontent.com/29257057/49945450-38e47280-feed-11e8-8d42

[2018-12-14 12:13] saarthakchats commented on #1026
Tiles are floating, issue must be solved quickly.

[2018-12-14 14:54] abishekvashok commented on #1026
Applies to all levels as well, possible issue with a tile placer function

[2018-12-14 19:18] STEdirisuriya opened #1033 "Game is not working"
## Current Behavior
![image](https://user-images.githubusercontent.com/33794760/50022726-26f4f380-0003-11e9-8bff-a29e0717710b.png)
No tiles will open!

Opened to all

[2018-12-14 21:15] AppleC4T commented on #1033
I also noticed this recently. It's caused by a simple syntax error and a fix for this is already included in #1029 . Once the PR is merged the bug should be gone

[2018-12-15 14:55] #1027 closed

[2018-12-18 07:49] Sangatdas commented on #1032
Can someone assign this issue to me?

[2018-12-18 07:59] abishekvashok commented on #1032
Sure go on :)

[2018-12-18 08:50] Sangatdas opened #1034 "Laguage Selection should be asked on loading of page rather than keeping on top bar"
### How to use the Feature
Users will be able to select a language prior starting the game. This way if someone doesn't know English at all, the user will be able to change it in the beginning itself.

### How the Feature Improves the Game
This feature improves usability and understanding of the game for users who don't know English which is default.

### Implementation/Solution Ideas
We can use a

[2018-12-19 02:29] pythongiant opened #1035 "Add a switch song version"
### How to use the Feature
Change the song by a drop down preferably
### How the Feature Improves the Game
Easy and Quick Track Change
### Implementation/Solution Ideas
A dropdown for the same would be efficient
### Would you like to work on this
yes

[2018-12-28 06:54] abishekvashok commented on #1034
Please let's just stick to English.

[2018-12-28 08:20] #1035 closed

[2018-12-29 06:01] Sangatdas commented on #1034
@abishekvashok Yes, only an option will be given to the users at the beginning itself. Else the default language will be english.

[2018-12-31 06:51] #779 closed

[2019-01-02 13:14] #783 closed

[2019-01-03 19:05] YashKumarVerma opened #1042 "Link of maintainer Abishek (Stack Overflow) not correct"
The link added for @abishekvashok  - Stack Overflow is not correct @NishithP2004 .

_Originally posted by @YashKumarVerma in https://github.com/fossasia/labyrinth/pull/1041/comment#issuecomment-451244145_

It should be fixed

[2019-01-04 11:46] abishekvashok commented on #1042
@YashKumarVerma that's the oldest stack overflow account I owe. Its not active, should we keep it or delete it?

[2019-01-04 11:48] #1034 closed

[2019-01-04 12:41] #1042 closed

[2019-01-04 12:44] YashKumarVerma commented on #1042
@abishekvashok I matched the Twitter username given on the account with your username.

(omit me if I'm wrong, most probably ), they were different.

We can add your current account, or the old one if you wish. I was unaware that it's your account 😢

[2019-01-05 10:47] #781 closed

[2019-01-05 12:46] abishekvashok commented on #1042
No need of my account.

[2019-01-09 17:00] niccokunzmann commented on #1033
merged, works.

[2019-01-09 17:00] #1033 closed

[2019-01-09 17:03] niccokunzmann commented on #1026
There is https://github.com/fossasia/labyrinth/commit/d7acfcd4d7e7deb15a175725db6236b22c0cd026 which resizes many images.

[2019-02-19 07:59] abishekvashok commented on #966
Yes

[2019-06-26 15:05] #955 closed

[2019-06-26 15:06] YashKumarVerma commented on #683
Closing due to inactivity.

[2019-06-26 15:06] #683 closed

[2019-06-26 15:07] YashKumarVerma commented on #722
@abishekvashok Was there any reply from the other end ?

[2019-06-26 15:14] YashKumarVerma commented on #1026
This issue is solved in #1045

[2019-06-26 15:14] #1026 closed

[2019-06-26 15:15] YashKumarVerma commented on #1032
Are there any updates @Sangatdas ?

[2019-06-26 15:18] #1032 closed

[2019-06-26 15:19] YashKumarVerma commented on #1018
Closed in accordance with #1019

[2019-06-26 15:19] #1018 closed

[2019-06-26 15:25] YashKumarVerma commented on #1015
![image](https://user-images.githubusercontent.com/14032427/60192890-55764580-9854-11e9-91ae-07ff11a96f42.png)

Looks like the issue has been resolved by reverting the time resize.
Also, the bottom intersection is kept like that (made not to intersect).

Let me explain.
The top intersection does not have any space, but the bottom has. Because the top of another tile would fit in the bottom socket.

[2019-06-26 15:25] #1015 closed

[2019-06-26 15:31] #884 closed

[2019-06-27 04:03] YashKumarVerma commented on #601
Page no longer exists. Therefore closing.

[2019-06-27 04:03] #601 closed

[2019-06-30 12:18] abishekvashok commented on #722
I haven't contacted him yet, I was just making suggestion there.

[2019-06-30 12:19] abishekvashok commented on #722
I though it would be better if anyone who could speak French might be better

[2019-10-05 11:27] STEdirisuriya opened #1048 "The game isn't displaying properly"
## Expected Behavior

## Current Behavior

## Your Environment

* Browser Name and version:
* Link to your project:
* Machine Configuration: Ram, Graphics Memory

[2019-10-05 11:29] STEdirisuriya commented on #1048
![image](https://user-images.githubusercontent.com/33794760/66254261-7de5d800-e791-11e9-9361-e5dd064988a6.png)

[2019-10-06 10:59] YashKumarVerma commented on #1048
Can you provide the URL you are using to play the game? It works fine for me on http://labyrinth-game.surge.sh/

[2019-10-06 11:50] YashKumarVerma opened #1050 "Build Failing"
## Expected Behavior
Game build should deploy the game on every new commit

## Current Behavior
because of some images in the game, the build is failing.

## Possible Solution
the proper solution to this is to resize the images, however, by the time it is pending, the image checking module can be skipped.

[2019-10-06 11:55] Hardik500 opened #1051 "The css and js are not loading with https."
## Expected Behavior

The page should load properly with all the libraries.

## Current Behavior

The css and js are not loading.

## Possible Solution
When I turn off the HTTPs setting for brave shields. The website loads completely.
So I guess make the libraries load with https turned on.

## Steps to Reproduce (for bugs)

1. Open the website with brave.
2. Set the brave shields settings as "Con

[2019-10-06 12:55] YashKumarVerma opened #1052 "Contributors page not being used : Removal Required"
## Expected Behavior
Unwanted pages should be removed.

## Possible Solution
Removal of page

[2019-10-06 16:36] #1052 closed

[2019-10-10 19:33] ShubhamChaudharyy opened #1055 "The Navigation bar displace contents when we switch to 'Tamil and Sinhala'"
## Current Behavior
![Screenshot (130)](https://user-images.githubusercontent.com/43263087/66600193-a111ec80-ebc2-11e9-813d-61d6a8818aec.png)
## Expected Behavior for Tamil
![Screenshot (131)](https://user-images.githubusercontent.com/43263087/66600253-c141ab80-ebc2-11e9-8edb-44c68860cb8b.png)

## Steps to Reproduce (for bugs)
Change The Language to sinhala or Tamil.

[2019-10-11 06:01] xeon-zolt commented on #1055
I was not able to reproduce it what is your screen resolution ?
![Peek 2019-10-11 11-30](https://user-images.githubusercontent.com/4529442/66627853-908d6080-ec1a-11e9-9709-0a397662bbe1.gif)

[2019-10-11 11:12] #1055 closed

[2019-10-11 12:06] #1000 closed

[2019-11-23 20:37] skarthikeyan96 commented on #966
@abishekvashok Can I pick this up?

[2019-11-29 12:05] samyakbvs commented on #1050
I will take this up

[2019-11-29 12:06] samyakbvs commented on #1050
What should be the size of every image in the game?

[2019-11-29 12:08] samyakbvs commented on #893
I would like to take this up

[2019-11-29 12:15] YashKumarVerma commented on #893
sure.

[2019-11-29 12:16] YashKumarVerma commented on #1050
https://github.com/fossasia/labyrinth/blob/master/img_config.yml

[2019-11-29 15:52] YashKumarVerma commented on #966
sure.

[2019-11-30 07:16] #618 closed

[2019-11-30 07:20] YashKumarVerma opened #1062 "Unwanted console.log in /js/Oauth.js"
The console.log('Hey') should be removed.

Refactoring the code would be helpful too.

[2019-11-30 22:03] ABHIJITBURMAN commented on #966
if this issue is still open can i work on this? @YashKumarVerma

[2019-12-01 04:00] YashKumarVerma commented on #966
@ABHIJITBURMAN ,

@skarthikeyan96  might be working on it already.

[2019-12-01 05:43] NishithP2004 opened #1065 "Remove Google +"
## Expected Behavior
Game should not have links to Google Plus.

## Current Behavior
The game has links to Google + which is not required as it is extinct.

## Possible Solution
Remove Google +

## Steps to Reproduce (for bugs)

1.
2.
3.
4.

## Context

## Your Environment

* Browser Name and version:
* Link to your project:
* Machine Configuration: Ram, Graphics Memory

[2019-12-01 20:38] #1065 closed

[2019-12-05 14:20] samyakbvs commented on #1050
I will start working on this as soon as #1066 is merged

[2019-12-05 15:48] ShubhamChaudharyy opened #1067 "AlertBoxes after adding tiles hide behind the Tiles"
## Expected Behavior
Alert boxes should come over the tiles.

## Current Behavior
![Screenshot (152)](https://user-images.githubusercontent.com/43263087/70250738-5ff21f00-17a4-11ea-947e-8be4658c27f6.png)

## Possible Solution

## Steps to Reproduce (for bugs)

1. Add the walking button
2. Add tiles and subsequently you will get that improper visible alertbox

#Would you like to work on this issue

[2019-12-05 19:49] samyakbvs opened #1070 "Rake"
## Expected Behavior

Travis should be able to execute rake, but as of now, it is not able to.
<img width="832" alt="Screenshot 2019-12-06 at 1 17 25 AM" src="https://user-images.githubusercontent.com/34275800/70268347-48c42900-17c6-11ea-850e-c1426c3988f6.png">

## Possible Solution

Add rake to the Gemfile

[2019-12-05 19:56] samyakbvs commented on #1070
I will start working on this once #1069 is merged.

[2019-12-05 20:07] YashKumarVerma commented on #1070
feel free to work on this PR parallelly with the other one if you wish.

[2019-12-11 21:53] makoteq opened #1071 "Add local memory support"
I want to add  local memory support to save language preferences
**I'm working on this issue**

[2019-12-12 08:44] YashKumarVerma commented on #1071
Labyrinth has a set of Issue Templates to standardize the development.

Consider using them. That can be found at
https://github.com/fossasia/labyrinth/tree/master/.github/ISSUE_TEMPLATE

Thanks for your contribution to the community.

[2019-12-12 16:43] makoteq commented on #1071
@YashKumarVerma Now it's better?

[2020-01-01 04:45] abishekvashok opened #1073 "Labyrinth shows advertisements"
## Expected Behavior

No advertisements

## Current Behavior

Pop-up appears on clicking the language selection screen

## Possible Solution

No such add appears

## Steps to Reproduce (for bugs)

1. Go to the website
2. Click anywhere
3. An ad page should appear

[2020-01-02 12:56] xeon-zolt commented on #1073
looks like a serious issue !!!
I am not able to reproduce it.
can you upload a screen recording?

[2020-01-02 19:10] YashKumarVerma commented on #1073
What are the advertisements? I have seen surge.sh showing popups in some cases.

[2020-01-03 13:02] abishekvashok commented on #1073
I guess it's surge. We do have rawgit support for the root repo. Why did we move to surge really?

[2020-01-06 18:13] aknrg77 commented on #1067
i would like to work on this issue

[2020-01-14 06:17] ShubhamChaudharyy commented on #1067
ok go ahead!

[2020-01-19 15:20] Aju100 opened #1075 "Link broken in contributing.md"
## Expected Behavior
It should redirect to respective links.
## Current Behavior
![bug](https://user-images.githubusercontent.com/29862610/72683414-39dbd080-3aff-11ea-9976-e898362238c7.PNG)

![404](https://user-images.githubusercontent.com/29862610/72683395-157ff400-3aff-11ea-89e3-eccabd8173c5.PNG)

## Possible Solution

It should have respective links for issue template.

## Steps to Reproduce (f

[2020-04-29 04:23] saarthakchats opened #1076 "Game is dead"
The game is essentially scrapped and dead. The best approach would be to start from scratch to avoid the million bugs it has.

[2020-04-29 04:27] saarthakchats opened #1077 "Fixing Levels and Tiles Bugs"
Basically nothing is working guys, fix the tiles and levels.

[2020-04-29 04:28] saarthakchats opened #1078 "The game link is broken"
Come up with the way to put the game up on the web again. Use rawgit or heroku or anything you like.

[2020-06-23 11:21] max-keviv commented on #1062
i want to work in this

[2020-06-25 08:24] YashKumarVerma commented on #1062
@max-keviv  this is fixed.

[2020-09-24 13:24] surajat17 commented on #966
is this issue resolved or can i work on this?

[2020-09-24 13:30] surajat17 commented on #103
i am new to open source community can i work on this?

[2020-09-25 08:50] niccokunzmann commented on #103
Hi, sure. Please go ahead.

[2020-10-01 10:39] abishekvashok commented on #966
Work on it guys :D

[2020-10-08 13:26] divyesh-rathod commented on #1062
if the issue is not solved i can work on this? @YashKumarVerma

[2020-10-13 15:53] pavnesh-c commented on #1067
i would like to work on this issue if @aknrg77 is not working on it.

[2020-10-21 12:40] ganeshjambhulakar commented on #725
give me this chance to solve this issue
I fix that issue.

[2020-11-05 10:56] #1075 closed, assigned to nobody

[2021-06-11 06:51] skpandey885 commented on #966
Hey! If The issue Is Still not fixed then Can I Fix It Up?

[2021-10-06 03:02] kushalShukla-web commented on #966
hey ! can i work on this...

[2021-10-06 03:03] kushalShukla-web commented on #1077
can i work on this?

[2021-10-06 03:05] kushalShukla-web commented on #1077
could you pls elaborate it.